<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="row mt-3">
			<div class="col-9 ">
				<div class="tab-content" id="pills-tabContent">

					<div class="card bl-cr">
						<div class="card-header heading-bg">
							<h3 class="text-center text-white">Pipe Maintenance Indent</h3>
						</div>
						<!-- Message Alert Field -->
						<div th:if="${session.message}" class="alert_field mt-2">
							<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}"
								role="alert">
								<span th:text="${session.message.content}"></span>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<!-- End of Message Alert Field -->
						<ul class="nav nav-tabs mt-3" style="margin-left: 192px;border-bottom-width: 0px;">
							<li class="active"><button class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
									href="#tab1" data-toggle="tab">PARTS / MATERIALS</button></li>
							<li><button href="#tab2" class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
									data-toggle="tab" disabled>LABOUR /
									TIMES</button></li>
							<li><button href="#tab3" class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
									data-toggle="tab" disabled>VEHICLE /
									TIMINGS</button></li>
						</ul>

						<div class="card-body font-weight-bold">
							<div class="tab-content">
								<div class="tab-pane active" id="tab1">
									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="pump-spare-indentNo" name="indentNo" placeholder="Indent No"
												th:value="${deptMaster.deptLastId}">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="pump-spare-indentDept" readonly name="indentDepartement"
												placeholder="Indent Department" th:value="${deptMaster.deptName}">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="pump-spare-complNo" readonly name="workPriority"
												placeholder="Enter Compl No">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl Category</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="pump-spare-complCategory" readonly name="workPriority"
												placeholder="Enter Compl Category">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<select type="text" class="form-select form-select-sm"
												id="master-division-list" name="division">
												<option value="">--Select--</option>
												<option th:each="divisions: ${divSubDivList}" th:text="${divisions}">
												</option>
											</select>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<select type="text" class="form-select form-select-sm"
												id="master-sub-division-list" name="subDivision">
												<option value="">--Select--</option>
											</select>
										</div>

										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text"
												class="form-control form-control-sm form-control form-control-sm-sm"
												id="pupm-parts-workSite" name="workSite" required
												placeholder="Write WorkSite Address Here">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="date" class="form-control form-control-sm"
												id="pupm-parts-startDate" name="expectedStartDate" required>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="date" class="form-control form-control-sm"
												id="pupm-parts-endDate" name="expectedEndDate" required>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control form-control-sm"
												id="pupm-parts-contactNo" name="contact"
												placeholder="Enter Contact Number" required maxlength="10">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<select type="text" class="form-select form-select-sm"
												id="pupm-parts-workPriority" name="workPriority">
												<option value="">--Select--</option>
												<option value="High">High</option>
												<option value="Midum">Midum</option>
												<option value="Low">Low</option>
											</select>
										</div>
										<div class="form-group col-md-12">
											<label for="inputEmail4">Complaint Details</label>
											<textarea type="text" class="form-control form-control-sm"
												id="pupm-parts-complDtls" name="workSite"
												placeholder="Write Complaint Details"></textarea>
										</div>

									</div>


									<!--*********************** Generate Work Order || PART / MATERIAL ISSUED  Start ********************-->

									<div class="col-md-12 mt-3">
										<div class="card bl-cr">
											<div class="card-header" style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>PARTS / MATERIALS</b></p>
											</div>
											<div class="card-body">
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Category</label>
														<select class="form-select form-select-sm"
															id="item-master-category" name="category">
															<option value="">--Select--</option>
															<option th:each="categories:${categoryList}"
																th:text="${categories.categoryName}">
															</option>
														</select>
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Item</label>
														<select class="form-select form-select-sm"
															id="pump-spare-item-list" name="itemName">
															<option value="">--Select--</option>
														</select>
													</div>

													<div class="form-group col-md-4">
														<label for="hsnCode">HSNCODE</label>
														<input type="text" class="form-control form-control-sm bg-white"
															readonly id="pump-spare-hsnCode" name="hsnCode"
															placeholder="Enter Hsn Code">
													</div>
												</div>
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Unit of Meassure</label>
														<select type="text" class="form-select form-select-sm"
															id="pump-spare-unitMesure" name="unitMeassure">
															<option value="">--Select--</option>
														</select>
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Qty</label>
														<input type="number" class="form-control form-control-sm"
															id="pump-spare-qantity" name="gentrMaterialQty"
															placeholder="Qty" required>
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">Stock Type</label>
														<input type="text" class="form-control form-control-sm bg-white"
															readonly id="pump-spare-stockType" name=""
															placeholder="Enter Stock Type">
													</div>
													<div class="text-center mt-2">
														<button type="button" id="pump-parts-addbutton"
															class="btn btn-primary w-25 text-center">Add</button>
													</div>
												</div>
											</div>
											<div class="card-footer">
												<table id="myTable"
													class="table table-stock table-bordered table table-success table-striped table-hover">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Category</th>
															<th>Item</th>
															<th>HSNCode</th>
															<th>Unit of Meassure</th>
															<th>Qty</th>
															<th>Stock Type</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>

											</div>
										</div>
									</div>
									<div class=" text-center mt-4">
										<button id="pump-material-next"
											class="btn btn-primary btnNext w-25 text-center text-white ">Next</button>
									</div>
								</div>
								<div class="tab-pane" id="tab2">

									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="pump-labour-indent" name="indentNo" placeholder="Indent No" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="indentDepartement" readonly name="indentDepartement"
												placeholder="Indent Department">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="workpriority-labour" readonly name="workPriority"
												placeholder="Enter Compl No">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl Category</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="workpriority-labour" readonly name="workPriority"
												placeholder="Enter Compl Category">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Sub Division">
										</div>

										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text"
												class="form-control form-control-sm form-control form-control-sm-sm bg-white"
												id="workSite" name="workSite" required readonly
												placeholder="Write WorkSite Address Here">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="text" class="form-control form-control-sm bg-white"
												placeholder="Enter Expected Start Date" id="expectedStartDate"
												name="expectedStartDate" required readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="expectedEndDate" name="expectedEndDate" required readonly
												placeholder="Enter Expected End Date">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="contact" name="contact" placeholder="Enter Contact Number" required
												readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Work Priority">
										</div>
										<div class="form-group col-md-12">
											<label for="inputEmail4">Complaint Details</label>
											<textarea type="text" class="form-control form-control-sm bg-white"
												id="workSite" name="workSite" placeholder="Write Complaint Details"
												readonly></textarea>
										</div>
									</div>

									<div class="col-md-12 mt-3">
										<div class="card bl-cr ">
											<div class="card-header" style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>LABOUR / TIMES</b></p>
											</div>
											<div class="card-body">
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Employee Categorty</label>
														<input type="text" class="form-control form-control-sm"
															id="employeeCategorty" name="employeeCategorty"
															placeholder="Employee Categorty">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Members</label>
														<input type="number" class="form-control form-control-sm"
															id="labourQty" nam="labourQty" placeholder="Members">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Days</label>
														<input type="date" class="form-control form-control-sm"
															id="days" name="days" placeholder="Days">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Timing</label>
														<input type="time" class="form-control form-control-sm"
															id="time" name="time" placeholder="Timing">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Total Hour</label>
														<input type="text" class="form-control form-control-sm"
															id="totalHours" name="totalHour" placeholder="Total Hour">
													</div>
													<div class="text-center mt-2">
														<button type="button" id="gen-add-employees"
															class="btn btn-primary w-25 text-center">Add</button>
													</div>
												</div>
											</div>
											<div class="card-footer">
												<table
													class="table table-stock table-bordered table table-success table-striped table-hover"
													id="generatLabour">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Employee Categorty</th>
															<th>Qty</th>
															<th>Days</th>
															<th>Timing</th>
															<th>Total Hour</th>
														</tr>
													</thead>
													<tbody class="employees-labour-display">

													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class=" text-center mt-4">									
										<a class="btn btn-primary btnPrevious w-25 text-white">Previous</a>
										<a class="btn btn-primary btnNext w-25 text-white">Next</a>
									</div>
								</div>
								<div class="tab-pane" id="tab3">

									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="indentNo" name="indentNo" placeholder="Indent No" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="indentDepartement" readonly name="indentDepartement"
												placeholder="Indent Department">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl No</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="workpriority-labour" readonly name="workPriority"
												placeholder="Enter Compl No">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Compl Category</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="workpriority-labour" readonly name="workPriority"
												placeholder="Enter Compl Category">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Sub Division">
										</div>

										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text"
												class="form-control form-control-sm form-control form-control-sm-sm bg-white"
												id="workSite" name="workSite" required readonly
												placeholder="Write WorkSite Address Here">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="text" class="form-control form-control-sm bg-white"
												placeholder="Enter Expected Start Date" id="expectedStartDate"
												name="expectedStartDate" required readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="expectedEndDate" name="expectedEndDate" required readonly
												placeholder="Enter Expected End Date">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control form-control-sm bg-white"
												id="contact" name="contact" placeholder="Enter Contact Number" required
												readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<input type="text" class="form-control form-control-sm bg-white" id=""
												readonly name="" placeholder="Enter Work Priority">
										</div>
										<div class="form-group col-md-12">
											<label for="inputEmail4">Complaint Details</label>
											<textarea type="text" class="form-control form-control-sm bg-white"
												id="workSite" name="workSite" placeholder="Write Complaint Details"
												readonly></textarea>
										</div>
									</div>

									<div class="col-md-12 mt-3">
										<div class="card bl-cr">
											<div class="card-header "
												style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>VEHICLE/TIMING</b></p>
											</div>
											<div class="card-body">

												<div class="row mt-2">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Vehicle Type</label>
														<input type="text" class="form-control form-control-sm"
															id="vehicleType" name="vehicleType"
															placeholder="Vehicle Type">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Vehicle Number</label>
														<input type="text" class="form-control form-control-sm"
															id="vehicleNumber" name="vehicleNumber"
															placeholder="Vehicle Number">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Driver Name</label>
														<input type="text" class="form-control form-control-sm"
															id="driverName" name="driverName" placeholder="Driver Name">
													</div>
												</div>
												<div class="row mt-2">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Driver Contact Number</label>
														<input type="number" class="form-control form-control-sm"
															id="driverContactNumber" name="driverContactNumber"
															placeholder="Driver Contact Number">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">ODO Meter From Reading</label>
														<input type="text" class="form-control form-control-sm"
															id="odoMeterReading" name="odoMeterReading"
															placeholder="Total Hour">
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">Start Time</label>
														<input type="time" class="form-control form-control-sm"
															id="startTime" name="startTime" placeholder="Start Time">
													</div>
												</div>
												<div class="text-center mt-2">
													<button type="button" id="gen-add-vehicle"
														class="btn btn-primary w-25 text-center">Add</button>
												</div>
											</div>
											<div class="card-footer">
												<table
													class="table table-stock table-bordered table table-success table-striped table-hover"
													id="generatLabour">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Vehicle Type</th>
															<th>Vehicle Number</th>
															<th>Driver Name</th>
															<th>Driver Contact No</th>
															<th>ODO Meter Reading</th>
															<th>Start Time</th>
															<th>&nbsp;</th>
														</tr>
													</thead>
													<tbody class="vehicle-labour-display">
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class=" text-center mt-4">
										<a class="btn btn-primary btnPrevious w-25  text-white">Previous</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-center">
					<div class="card-header heading-bg text-white fs-6 ">
						Updates
					</div>

					<div class="card-body">
						<table class="table table-sm">
							<thead>
								<tr>
									<th class="text-center fs-6" scope="col-sm">Compl No</th>
									<th class="text-center fs-6" scope="col-sm">Assign To</th>
									<th class="text-center fs-6" scope="col-sm">Eng Name</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="complaints : ${complList}" class="text-center">
									<td class="fs-6"><a href="#"
											th:href="@{'/pump/maintenance/complDtls/'+ ${complaints.complId}}"
											th:text="${complaints.complNo}"></a></td>
									<td class="fs-6" th:text="${complaints.esclatedFrom}"></td>
									<td class="fs-6" th:text="${complaints.esclatedFromName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>