<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="row">
			<div class="col">

				<form class="col-sm-12 mt-2">
					<div class="card ">
						<div class="card-header" style="background-color: blueviolet;height:50px">
							<h3 class="text-center text-white">Pipe Maintanance Inspection </h3>
						</div>
						<div class="card-body">
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Line From</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipe Line From">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Line End</label>
									<input type="text" class="form-control" id="inputEmail4"
										placeholder="Pipe Line End">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Lenth in Meter / KM</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Lenth in Meter / KM">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Maintanance Type</label>
									<select class="form-select" id="inputGroupSelect03"
										aria-label="Example select with button addon">
										<option selected>Choose...</option>
										<option value="1">Emergency</option>
										<option value="2">Routine </option>
										<option value="3">Pro-Active </option>
									</select>
								</div>


							</div>

							<!--***********Row 3**********-->
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Line Start Node</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipe Line Start Node">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Line End Node</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipe Line End Node">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Lenth in Meter / KM</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Lenth in Meter / KM">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Assts ID</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Assts ID">
								</div>
							</div>

							<!--***********Row 4**********-->
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Langitude</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Langitude">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Latitude</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Latitude">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Lenth in Meter / KM</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Lenth in Meter / KM">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Line Type</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipe Line  Type">
								</div>
							</div>
							<!--***********Row 5**********-->
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipeline Diameter</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipeline Diameters">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipeline pressure</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Pipeline pressure">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">GRID</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="GRID">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">GMIS_ID</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="GMIS_ID">
								</div>
							</div>

							<!--***********Row 6**********-->
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Ward No</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Ward No">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Ward Name</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Ward Name">
								</div>

							</div>

							<!--***********Text Area**********-->
							<div class="row mt-3">

								<label for="inputEmail4">Pipe maintenance reasons</label>
								<textarea class="form-control" id="inputEmail4"></textarea>

							</div>
							<!--***********Row 7**********-->
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Breakdown Date</label>
									<input type="date" class="form-control" id="inputEmail4"
										placeholder="Pipe Breakdown schedule Date">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Pipe Breakdown Time</label>
									<input type="time" class="form-control" id="inputEmail4"
										placeholder="Pipe Breakdown schedule Time">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Site Engineer</label>
									<input type="text" class="form-control" id="inputEmail4"
										placeholder="Site Engineer">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">TEAM CODE</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="TEAM CODE">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Site Superwiser </label>
									<input type="text" class="form-control" id="inputEmail4"
										placeholder="Site Superwiser ">
								</div>	
							</div>
							
							
							<table
							class="table table-stock table-bordered table table-success table-striped table-hover my-4 vehiceltable-size"
							id="generatLabour">
							<thead>
								<tr>
									<th>Sl.No</th>
									<th>Item Name*</th>
									<th>Cataregy Code</th>
									<th>Cataregy Name*</th>
									<th>HSN CODE</th>
									<th>Unit Of Measure*</th>
									<th>Total Quantity</th>
									<th>MRP</th>
									<th>GST Type</th>
									<th>Cost Rate</th>
									<th>GST</th>
									<th>Reamarks</th>

								</tr>
							</thead>
							<tbody class="vehicel-table-scroll">
								<tr>
									<td>1</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011-04-25</td>
									<td>$320,800</td>
									<td>2</td>
									<td>Sales Assistant</td>
									<td>San Francisco</td>
									<td>59</td>
									<td>2012-08-06</td>
									<td>$137,500</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Sales Assistant</td>
									<td>San Francisco</td>
									<td>59</td>
									<td>2012-08-06</td>
									<td>$137,500</td>
									<td>3</td>
									<td>Integration Specialist</td>
									<td>Tokyo</td>
									<td>55</td>
									<td>2010-10-14</td>
									<td>$327,900</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Integration Specialist</td>
									<td>Tokyo</td>
									<td>55</td>
									<td>2010-10-14</td>
									<td>$327,900</td>
									<td>4</td>
									<td>Javascript Developer</td>
									<td>San Francisco</td>
									<td>39</td>
									<td>2009-09-15</td>
									<td>$205,500</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Javascript Developer</td>
									<td>San Francisco</td>
									<td>39</td>
									<td>2009-09-15</td>
									<td>$205,500</td>
									<td>5</td>
									<td>Software Engineer</td>
									<td>Edinburgh</td>
									<td>23</td>
									<td>2008-12-13</td>
									<td>$103,600</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Software Engineer</td>
									<td>Edinburgh</td>
									<td>23</td>
									<td>2008-12-13</td>
									<td>$103,600</td>
									<td>6</td>
									<td>Office Manager</td>
									<td>London</td>
									<td>30</td>
									<td>2008-12-19</td>
									<td>$90,560</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Office Manager</td>
									<td>London</td>
									<td>30</td>
									<td>2008-12-19</td>
									<td>$90,560</td>
									<td>7</td>
									<td>Customer Support</td>
									<td>New York</td>
									<td>27</td>
									<td>2011-01-25</td>
									<td>$112,000</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Customer Support</td>
									<td>New York</td>
									<td>27</td>
									<td>2011-01-25</td>
									<td>$112,000</td>
									<td>1</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011-04-25</td>
									<td>$320,800</td>
								</tr>
							</tbody>
						</table>
						
						
							<div class="row mt-3">
								<div class="form-group col-md-3">
									<label for="inputEmail4">Total equipment cost</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Total equipment cost">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Service cost</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Service cost">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Labour Cost</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Labour Cost">
								</div>
								<div class="form-group col-md-3">
									<label for="inputEmail4">Total Work Cost</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Total Work Cost">
								</div>
							</div>
							
							<div class="row mt-3">
								<div class="form-group col-md-4">
									<label for="inputEmail4">Inspection Done By</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Inspection Done By">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Inspection Work Status</label>
									<input type="number" class="form-control" id="inputEmail4" placeholder="Inspection Work Status">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Inspection Date</label>
									<input type="date" class="form-control" id="inputEmail4" placeholder="Inspection Date">
								</div>
								
							</div>
							
							<div class="row mt-3">
								<div class="form-group col-md-5">
									<label for="inputEmail4">Inspection Photo upload</label>
									<input type="file" class="form-control" id="inputEmail4" placeholder="Inspection Photo upload">
								</div>
									<div class="form-group col-md-7">
									<label for="inputEmail4">Inspection Remark</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Inspection Date">
								</div>
							</div>
							
							
						</div>
						<div class="card-footer text-center">
							<button type="button" class="btn btn-info ">Submit</button>
							<button type="button" class="btn btn-secondary ">Invoice Print</button>
						

						</div>
					</div>

				</form>
			</div>

			<div class="col-3 mt-2">

				<div class="card text-center">
					<div class="card-header bg-primary text-white fs-6 ">
						Updates
					</div>

					<div class="card-body">

						<form>

							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Wo No</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
								</tbody>
							</table>

						</form>
					</div>
				</div>

			</div>

		</div>
		<!-- form END-->
	</section>
</body>

</html>