<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Pipe Maintenance Indent
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/pipe/maintenance/indent}" class="fa fa-home pt-1"></a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Indent Request</span></div>
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card bl-cr">
					<div class="card-header text-center bg-info text-white heading-bg">
						<h4 class="mb-0">Indent Details</h4>
					</div>
					<div class="card-body font-weight-bold pb-0">
						<div>
							<div class="d-flex justify-content-center">
								<ul class="nav nav-tabs mt-3" style="margin-left: 0px;border-bottom-width: 0px;">
									<li class="active"><button class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
											href="#tab1" data-toggle="tab">PARTS / MATERIALS</button></li>
									<li><button href="#tab2" class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
											data-toggle="tab" disabled>LABOUR /
											TIMES</button></li>
									<li><button href="#tab3" class="tablinks btn btn-primary py-2 mx-1 hvr text-white"
											data-toggle="tab" disabled>VEHICLE /
											TIMINGS</button></li>
								</ul>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Indent
											Number</label>
										<div class="col-sm-7 px-0">
											<input type="text" id="pump-spare-indentNo"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${deptMaster.deptLastId}" />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Indent
											Dept</label>
										<div class="col-sm-7 px-0">
											<input type="text" id="pump-spare-indentDept"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${deptMaster.deptName}" />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Compl
											Number</label>
										<div class="col-sm-6 px-0">
											<input type="text" id="pump-spare-complNo"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${complDtls.complNo}" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Division</label>
										<div class="col-sm-7 px-0">
											<select type="text" id="master-division-list"
												class="form-select form-select-sm text-center font-weight-bold">
												<option value="">--Select--</option>
												<option th:each="divisions: ${divSubDivList}" th:text="${divisions}">
												</option>
											</select>
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Sub
											Division</label>
										<div class="col-sm-7 px-0">
											<select type="text" id="master-sub-division-list"
												class="form-select form-select-sm text-center font-weight-bold">
												<option value="">--Select--</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Compl
											Category</label>
										<div class="col-sm-6 px-0">
											<input type="text" id="pump-spare-complCategory"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${complDtls.subCategory}" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work
											Priority</label>
										<div class="col-sm-7 px-0">
											<select type="text" id="pump-parts-workPriority" required
												class="form-select form-select-sm text-center font-weight-bold">
												<option value="">--Select--</option>
												<option th:each="workpriority:${workProrityList}"
													th:text="${workpriority.workPriority}"
													th:value="${workpriority.workPriority}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work Site</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												id="pump-parts-worksite" placeholder="Write WorkSite Address Here"
												required />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Contact No</label>
										<div class="col-sm-6 px-0">
											<input type="text" class="form-control form-control-sm"
												id="pump-parts-contactNo" placeholder="Enter Contact Number" required
												maxlength="10">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Exp
											Start Date</label>
										<div class="col-sm-7 px-0">
											<input type="date" id="pump-parts-startDate"
												class="form-control form-control-sm text-center font-weight-bold"
												required />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Exp End
											Date</label>
										<div class="col-sm-7 px-0">
											<input type="date" id="pump-parts-endDate"
												class="form-control form-control-sm text-center font-weight-bold"
												required />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Department</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${complDtls.department}" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-10">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-2 col-form-label pr-0">Compl
											Details</label>
										<div class="col-8 px-0">
											<textarea type="text" class="form-control form-control-sm bg-white"
												id="pump-parts-complDtls" th:field="*{complDtls.complDetails}"
												placeholder="Write Complaint Details"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card bl-cr mt-2">
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="card-header text-center bg-info text-white heading-bg">
								<h5 class="mb-0">Parts And Materials</h5>
							</div>
							<div class="card-body font-weight-bold pb-0">
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="category" class="col-sm-5 col-form-label pr-0">Category</label>
											<div class="col-sm-7 px-0">
												<select class="form-select form-select-sm" id="pump-matrial-category">
													<option value="">--Select--</option>
													<option th:each="categories:${categoryList}"
														th:value="${categories}" th:text="${categories}">
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="itemName" class="col-sm-5 col-form-label pr-0">Item Name</label>
											<div class="col-sm-7 px-0">
												<select class="form-select form-select-sm" id="pump-spare-item-list">
													<option value="">--Select--</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="hsnCode" class="col-sm-5 col-form-label pr-0">HsnCode</label>
											<div class="col-sm-6 px-0">
												<input type="text" class="form-control form-control-sm bg-white"
													required id="pump-spare-hsnCode" disabled>
												<input type="hidden" id="pump-material-itemName">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Unit Of
												Mesure</label>
											<div class="col-sm-7 px-0">
												<input type="text" class="form-control form-control-sm"
													id="pump-spare-unitMesure" disabled />
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-5 col-form-label pr-0">Quantity</label>
											<div class="col-sm-7 px-0">
												<input type="number" class="form-control form-control-sm"
													id="pump-spare-qantity" placeholder="Enter Qty" required>
											</div>
										</div>

									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Stock
												Type</label>
											<div class="col-sm-6 px-0">
												<input type="text" class="form-control form-control-sm bg-white"
													disabled id="pump-spare-stockType" required>
												<input type="hidden" id="pump-material-stockType">
											</div>
										</div>
									</div>
								</div>
								<div class="text-center mt-2">
									<button type="button" id="pump-parts-addbutton"
										class="btn btn-primary w-25 text-center">Add</button>
								</div>
							</div>
							<div class="card-footer">
								<table id="myTable"
									class="table table-stock table-bordered table table-success table-striped table-hover">
									<thead>
										<tr>
											<th>Sl No</th>
											<th>Category</th>
											<th>Item</th>
											<th>HSNCode</th>
											<th>Unit of Meassure</th>
											<th>Qty</th>
											<th>Stock Type</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>

							</div>
							<div class=" text-center mt-4 mb-4">
								<button id="pump-material-next"
									class="btn btn-primary btnNext w-25 text-center text-white ">Next</button>
							</div>
						</div>
						<div class="tab-pane" id="tab2">
							<div class="card-header text-center bg-info text-white heading-bg">
								<h5 class="mb-0">Labours</h5>
							</div>
							<div class="card-body font-weight-bold pb-0">
								<div class="row">
									<div class="col-3">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-5 col-form-label pr-0">Category</label>
											<div class="col-sm-7 px-0">
												<select type="text" class="form-select form-select-sm"
													id="pump-labour-empCategory">
													<option value="">--Select--</option>
													<option value="Plumber">Plumber</option>
													<option value="Engineer">Engineer</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-5 col-form-label pr-0">Members</label>
											<div class="col-sm-6 px-0">
												<input type="number" id="pump-labour-members" required
													class="form-control form-control-sm text-center font-weight-bold" />
											</div>
										</div>

									</div>
									<div class="col-3">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Days</label>
											<div class="col-sm-6 px-0">
												<input type="number" id="pump-labour-days" required
													class="form-control form-control-sm text-center font-weight-bold" />
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Time</label>
											<div class="col-sm-6 px-0">
												<input type="number" id="pump-labour-time" required
													class="form-control form-control-sm text-center font-weight-bold">
											</div>
										</div>
									</div>
								</div>
								<div class="text-center mt-2">
									<button type="button" id="pump-labour-addButton"
										class="btn btn-primary w-25 text-center">Add</button>
								</div>
							</div>
							<div class="card-footer">
								<table id="myTable1"
									class="table table-stock table-bordered table table-success table-striped table-hover">
									<thead>
										<tr>
											<th>Sl No</th>
											<th>Employee Categorty</th>
											<th>Members Required</th>
											<th>Days Required</th>
											<th>Time Required</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class=" text-center mt-4 mb-4">
								<a class="btn btn-primary btnPrevious w-25 text-white">Previous</a>
								<a class="btn btn-primary btnNext w-25 text-white">Next</a>
							</div>
						</div>
						<div class="tab-pane" id="tab3">
							<div class="card-header text-center bg-info text-white heading-bg">
								<h5 class="mb-0">Vehicles</h5>
							</div>
							<div class="card-body font-weight-bold pb-0">
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Vehicle
												Type</label>
											<div class="col-sm-7 px-0">
												<select type="text" class="form-select form-select-sm"
													id="master-vehicleType-list">
													<option value="">--Select--</option>
													<option th:each="vehicles: ${vehicleTypes}" th:text="${vehicles}">
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Vehicle
												Number</label>
											<div class="col-sm-7 px-0">
												<select type="text" class="form-select form-select-sm"
													id="master-vehicleNos-list">
													<option value="">--Select--</option>
												</select>
											</div>
										</div>

									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Driver
												Name</label>
											<div class="col-sm-6 px-0">
												<input type="text" id="pump-vehicle-driverName" disabled
													class="form-control form-control-sm text-center font-weight-bold" />
												<input type="hidden" id="pump-vehicle-vehicleNo">
											</div>
										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Meter
												Reading</label>
											<div class="col-sm-7 px-0">
												<input type="text" id="pump-vehicle-meterReading"
													placeholder="Enter Meter Reading"
													class="form-control form-control-sm text-center font-weight-bold" />
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Start
												Time</label>
											<div class="col-sm-7 px-0">
												<input type="time" id="pump-vehicle-stratingTime"
													class="form-control form-control-sm text-center font-weight-bold" />
											</div>
										</div>

									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Driver
												Contact</label>
											<div class="col-sm-6 px-0">
												<input type="text" id="pump-vehicle-driverPhone"
													class="form-control form-control-sm text-center font-weight-bold"
													disabled />
											</div>
										</div>
									</div>
								</div>
								<div class="text-center mt-2">
									<button type="button" id="pump-vehicle-addButton"
										class="btn btn-primary w-25 text-center">Add</button>
								</div>
							</div>
							<div class="card-footer">
								<table id="myTable2"
									class="table table-stock table-bordered table table-success table-striped table-hover">
									<thead>
										<tr>
											<th>Sl No</th>
											<th>Vehicle Type</th>
											<th>Vehicle Number</th>
											<th>Driver Name</th>
											<th>Driver Contact No</th>
											<th>ODO Meter Reading</th>
											<th>Start Time</th>
											<th>&nbsp;</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<div class=" text-center mt-4 mb-4">
								<a class="btn btn-primary btnPrevious w-25  text-white">Previous</a>
								<a class="btn btn-primary w-25  text-white"
									th:href="@{'/pipe/maintenance/indent/submit/{complNo}/{indentNo}'(complNo=${complDtls.complNo}, indentNo=${deptMaster.deptLastId})}">Submit</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-center">
					<div class="card-header heading-bg text-white fs-6 ">
						Updates
					</div>

					<div class="card-body">
						<table class="table table-sm">
							<thead>
								<tr>
									<th class="text-center fs-6" scope="col-sm">Compl No</th>
									<th class="text-center fs-6" scope="col-sm">Assign To</th>
									<th class="text-center fs-6" scope="col-sm">Eng Name</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="complaints : ${complList}" class="text-center">
									<td class="fs-6"><a href="#"
											th:href="@{'/pipe/maintenance/indent/complDetails/'+ ${complaints.complId}}"
											th:text="${complaints.complNo}"></a></td>
									<td class="fs-6" th:text="${complaints.esclatedFrom}"></td>
									<td class="fs-6" th:text="${complaints.esclatedFromName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>