<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
			<form class="col-sm-11 mt-2 mx-auto">
			<div class="card bl-cr">
				<div class="card-header bg-info">
					<h3 class="text-center text-white mb-0">AE Task Details</h3>
				</div>
				<div class="card-body">

					

					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Complaint No</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Complaint No">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Docket No</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Docket No">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Complaint Date</label>
							<input type="date" class="form-control" id="inputEmail4" placeholder="Complaint Date">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Complaint Received By</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Complaint Received By">
						</div>
					</div>
					<!--***********Row 2**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">First Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Last Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">House No</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="House No">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Cross</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Cross">
						</div>
					</div>

					<!--***********Row 3**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Main</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Main">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Land Mark</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Land Mark">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Zone</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Zone">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Ward</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Ward">
						</div>
					</div>
					<!--***********Row 4**********-->
					<div class="row mt-2">

						<div class="form-group col-md-3">
							<label for="inputEmail4">Tariff</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Tariff">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Service Location</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Service Location">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">DMA</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="DMA">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">PinCode</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="PinCode">
						</div>
					</div>
					<!--***********Row 5**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Gender</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Gender">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Contact No Mobile</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Contact No Mobile">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Contact No Landline</label>
							<input type="number" class="form-control" id="inputEmail4"
								placeholder="Contact No Landline">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Ref Contact No</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Ref Contact No">
						</div>
					</div>
					<!--***********Row 6**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Email Id</label>
							<input type="email" class="form-control" id="inputEmail4" placeholder="Email Id">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Registration of Complaints</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Registration of Complaints">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Functional Business Department</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Functional Business Department">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Complaint Category Department</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Complaint Category Department">
						</div>
					</div>
					<!--***********Row 7**********-->
					<div class="row mt-2">
						<div class="form-group col-md-4">
							<label for="inputEmail4">Sub Category</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Sub Category">
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4">Complaint Status</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Complaint Status">
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4">Job Code</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Job Code">
						</div>

					</div>

					<!--***********Text Area**********-->
					
					<div class="row mt-2">
					<div class="form-group col-md-12">
							<label for="inputEmail4">Complaint Details</label>
							<textarea type="text" class="form-control" id="inputEmail4" placeholder="Complaint Details "></textarea>
						</div>
						</div>
					
					<!--***********Row 8**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Service Level Guarantee(SLG)</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Service Level Guarantee(SLG)">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">SLG Duration</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="SLG Duration ">
						</div>
					</div>

					<h5 class="text-center text-white mt-2 p-1 bg-primary">Investigation Report Details</h5>
					<!--***********Row 9**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Assigned Date</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Assigned Date">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Field Visit Date</label>
							<input type="date" class="form-control" id="inputEmail4" placeholder="Field Visit Date">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Name of Engg</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Name of Engg">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Name of Service Station</label>
							<input type="text" class="form-control" id="inputEmail4"
								placeholder="Name of Service Station">
						</div>
					</div>

					<!--***********Text Area**********-->
					<div class="row mt-2">
					<div class="form-group col-md-12">
							<label for="inputEmail4">Field Visit Remarks</label>
							<textarea type="text" class="form-control" id="inputEmail4" placeholder="Complaint Details "></textarea>
						</div>
						</div>

					<!--***********Text Area**********-->
					
					<div class="row mt-2">
					<div class="form-group col-md-12">
							<label for="inputEmail4">Job Done Remarks</label>
							<textarea type="text" class="form-control" id="inputEmail4" placeholder="Complaint Details "></textarea>
						</div>
						</div>
					
					<div class="form-group col-md-3 mt-2">
						<label for="inputEmail4">Job done/not done</label>
						<input type="text" class="form-control" id="inputEmail4" placeholder="Job done/not done">
					</div>

					<h5 class="text-center text-white mt-2 p-1 bg-primary">Escalation Details</h5>
					<!--***********Row 10**********-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Escalated From</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated From">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Escalated From Id </label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated From Id ">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Escalated From Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated From Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Escalated Date </label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated Date ">
						</div>
					</div>
					<!--***********Row 11**********-->
					<div class="row mt-2">
						<div class="form-group col-md-4">
							<label for="inputEmail4">Escalated To</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated To">
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4">Escalated To Id</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated To Id">
						</div>
						<div class="form-group col-md-4">
							<label for="inputEmail4">Escalated To Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Escalated To Name">
						</div>

					</div>

					<!--***********Text Area**********-->
					
					<div class="row mt-2">
					<div class="form-group col-md-12">
							<label for="inputEmail4">Escalated Reason</label>
							<textarea type="text" class="form-control" id="inputEmail4" placeholder="Complaint Details "></textarea>
						</div>
						</div>
					

					<div class="text-center mt-2">
						<button type="button" class="btn btn-primary">Submit</button>
						<!--<button type="button" class="btn btn-primary">Escala Task</button>-->
					</div>

				</div>
			</div>
		</form>
	</section>


</body>

</html>