<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Material Mangement</title>
</head>

<body>
	<section>

		<!-- form Start-->
		<div class="row mt-3">
			<div class="col">

				<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h4 class="mb-0">Job Card Generation</h4>
				</div>
				<div class="card-body font-weight-bold">
					
					<form class="mb-0">
							<div class="row ">
								<div class="col">

									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-8 col-form-label">Complaint No*</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="email" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>
									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-9 col-form-label">Complaint Date</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="date" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>
									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-9 col-form-label">Job Card No</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="number" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>

								</div>

								<div class="col">

									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-14 col-form-label">Docket No</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="number" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>
									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-14 col-form-label">Complaint Received By</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="email" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>
									<div class="row p-1">
										<div class="col text-left">
											<label for="inputEmail3" class="col-sm-14 col-form-label">Job Card Generation Date *</label>
										</div>
										<div class="col">
											<div class="col">
												<input type="date" class="form-control form-control-sm"
													id="inputEmail3">
											</div>
										</div>
									</div>
									
								</div>
							</div>

<div class="text-center mt-2">

						<a href="#" class="btn btn-primary">Submit</a>
						<a href="#" class="btn btn-success">Print Job Card</a>
</div>
						</form>

				
				</div>
			</div>

			</div>

			<div class="col-3">

				<div class="card text-center">
					<div class="card-header heading-bg text-white fs-6">
						Updates
					</div>

					<div class="card-body">

						<form>

							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">Date</th>
										<th scope="col">Wo No</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Routine</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Emergency</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
									<tr>
										<td>1/12/22</td>
										<td>123</td>
										<td>Pro-Active</td>
									</tr>
								</tbody>
							</table>

						</form>
					</div>
				</div>

			</div>

		</div>
		<!-- form END-->




	</section>


</body>

</html>