<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Approval
			For Vehicle Indent</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link">
								<a th:href="@{/approval}" class="fa fa-home pt-1"></a>
							</div>
						</li>

						<li class="crumb active">
							<div class="link">
								<span aria-current="location">Vehicle Indent Approval</span>
							</div>
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1"
						th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card bl-cr">
					<div class="card-header text-center bg-info text-white heading-bg">
						<h4 class="mb-0">Vehicle Indent Details</h4>
					</div>
					<div class="card-body font-weight-bold pb-0">
						<div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Complaint
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${complNo}" />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Indent
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${indentNo}" />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Exp
											Start Date</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${expStartDate}" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Department</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${department}" />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Division</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${division}" />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Sub
											Division</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${subdvision}" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work
											Priority</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${workPriority}" />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work
											Site</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${workSite}" />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Contact
											No</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${contactNo}" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<table
								class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-2">
								<thead class="table-dark">
									<tr>
										<th>Vehicle Type</th>
										<th>Vehicle Number</th>
										<th>Driver Name</th>
										<th>Driver Contact No</th>
										<th>ODO Meter Reading</th>
										<th>Start Time</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="vehicles:${listOfVehicles}" class="bl-cr">
										<td th:text="${vehicles.vehicleType}"></td>
										<td th:text="${vehicles.vehicleNo}"></td>
										<td th:text="${vehicles.driverName}"></td>
										<td th:text="${vehicles.driverPhone}"></td>
										<td th:text="${vehicles.meterReading}"></td>
										<td th:text="${vehicles.stratTime}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class=" text-center mt-3 mb-2">
						<button type="button" class="btn btn-primary text-white"
							data-toggle="modal" data-target="#approveVehicleModal">Approve
						</button>
						<button type="button" class="btn btn-warning text-white"
							data-toggle="modal" data-target="#rejectaVehicleModal">Reject
						</button>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="card text-center">
					<div class="card-header heading-bg text-white fs-6 ">Updates
					</div>

					<div class="card-body">
						<table class="table table-sm">
							<thead>
								<tr>
									<th class="text-center fs-6" scope="col-sm">Compl No</th>
									<th class="text-center fs-6" scope="col-sm">Indent No</th>
									<th class="text-center fs-6" scope="col-sm">Department</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="vehicles : ${notApprovedVehicleList}"
									class="text-center">
									<td class="fs-6"><a
										th:href="@{/approval/indent/vehicle-get/{complNo}/{indentNo}(complNo=${vehicles.complNo}, indentNo=${vehicles.indentNo})}">
											<span th:text="${'CN'+vehicles.complNo}"></span>
									</a></td>
									<td class="fs-6" th:text="${vehicles.indentNo}"></td>
									<td class="fs-6" th:text="${vehicles.departmentName}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="approveVehicleModal" tabindex="-1"
			role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="approveModalLabel">Approve
							Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">Are you sure you want to approve this
						request?</div>
					<div class="modal-footer">
						<a th:if="${complNo != null and indentNo != null}"
							class="btn btn-primary btnPrevious w-20 text-white"
							th:href="@{/approval/indent/vehicle/approve/{complNo}/{indentNo}(complNo=${complNo}, indentNo=${indentNo})}">
							Yes,Approve </a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="rejectaVehicleModal" tabindex="-1"
			role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="rejectModalLabel">Reject
							Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">Are you sure you want to Reject this
						request?</div>
					<div class="modal-footer">
						<a th:if="${complNo != null and indentNo != null}"
							class="btn btn-primary btnPrevious w-20 text-white"
							th:href="@{/approval/indent/vehicle/reject/{complNo}/{indentNo}(complNo=${complNo}, indentNo=${indentNo})}">
							Yes,Reject</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>