<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
	<h3 class="text-center text-white mt-2 p-1 bg-primary">Attendence  Tracker
		</h3>
		   <div class="mt-2">
				<div class="row">
					<div class="col-10 mx-auto">
					<div class="card bl-cr mt-3">
					<div class="card-header text-center heading-bg text-white py-2">
								<h4 class="mb-0">Attendence</h4>
							</div>
						
						<div class="card-body">
						<!-- form Start-->
							<form>
								<div class="row">
									<div class="form-group col-md-2">
										<label for="inputEmail4">Department</label>
										            <select class="form-control" name="empCode" id="empCode" data-error="Select gender !" required>
                                       <option value="" selected>select</option>
                                        <option th:each="emp : ${listOfEmployees}" th:value="${emp.department}" th:utext="${emp.department}"/>
                                    </select>
									</div>
									<div class="form-group col-md-2">
										<label for="inputEmail4">Branch</label>
										 <select class="form-control" name="empCode" id="empCode" data-error="Select gender !" required>
                                       <option value="" selected>select</option>
                                        <option th:each="emp : ${listOfEmployees}" th:value="${emp.branch}" th:utext="${emp.branch}"/>
                                    </select>
									</div>
			
									<div class="form-group col-md-2">
										<label for="inputEmail4">Name</label>
										 <select class="form-control" name="empCode" id="empCode" data-error="Select gender !" required>
                                       <option value="" selected>select</option>
                                        <option th:each="emp : ${listOfEmployees}" th:value="${emp.empName}" th:utext="${emp.empName}"/>
                                    </select>
									</div>
									<div class="form-group col-md-2">
										<label for="inputEmail4">Id</label>
										<select class="form-control" name="empCode" id="empCode" data-error="Select gender !" required>
                                       <option value="" selected>select</option>
                                        <option th:each="emp : ${listOfEmployees}" th:value="${emp.employeeCode}" th:utext="${emp.employeeCode}"/>
                                    </select>
									</div>
									     <div class="col-md-1">
        								 </div>
									<div class="form-group col-md-2 mt-4">
										<label for="inputEmail4"></label>
										<button type="submit" class="btn btn-primary w-100 text-center">Search</button>
									</div>
								</div>
							</form>
						<!-- form End-->
						</div>
					</div>
				</div>
					<div class="col-md-10 mt-3 mx-auto">
					<div class="card bl-cr">
					    <div class="card-body">
       <!-- form Start-->
         
         <div class="row">
         <div class="col-md-1">
         </div>
         <div class="col-md-4">
         <div class="form-group row">
         <label for="customerName" class="col-sm-5  col-form-label">From Date</label>
         <div class="col-sm-7">
         <input type="date" class="form-control" id="customerName"
            name="customerName" placeholder="Enter Passport No">
         </div>
         </div>
         </div>
         <div class="col-md-4">
         <div class="form-group row">
         <label for="customerName" class="col-sm-5  col-form-label">To Date</label>
         <div class="col-sm-7">
         <input type="date" class="form-control" id="customerName"
            name="customerName" placeholder="Enter Designation">
         </div>
         </div>
         </div>
         <div class="form-group col-md-2 d-grid gap-2  mx-auto">
         <a type="button"  th:href="@{/employee/attendencehistory}"  class="btn btn-info w-100">View</a>
         </div>
         <div class="col-md-1">
         </div>
         </div>
       
		
      
        </div>
        </div>
        	<!-- form End-->
        
         </div>
         	
         	
         </div>
         </div>
         <!-- Table Start-->
     	<div class=" mt-4 col-11 px-0 mx-auto" th:if="${show != null}">
		<table	class="table table-stock table-bordered  table-striped table-hover mytable">
						<thead class="table-dark">
							<tr>
								<th class="all">ID</th>
								<th class="all">Name</th>
								<th class="all">Department</th>
								<th class="all">Branch</th>
								<th class="all">Total Earning Days</th>
								<th class="all">Month CL</th>
								<th class="all">Total</th>
								<th class="all">Total working Days</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee: ${listOfEmployees}">
						      <td th:text = "${employee.employeeCode}"></td>
							  <td th:text = "${employee.empName}"></td>
							  <td th:text = "${employee.department}"></td>
							  <td th:text = "${employee.branch}"></td>
							  <td th:text = "${employee.cl}"></td>
							  <td th:text = "${employee.cl}"></td>
							  <td th:text = "${employee.totalLeave}"></td>
								  <td th:text = "${employee.totalLeave}"></td>
								</tr>
						</tbody>
					</table>
         
     	</div>
     	<!-- Table End-->
	</section>
</body>
</html>