<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
		
	   
	   	           <div class="row mt-3 mb-2">
						<div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-info">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Department Wise Emp</h5>
								</div>
								<canvas id="chartContainer"  style="width:100%;max-width:600px;"></canvas>
							</div>
						   </div>
						   <div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-info">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
									Department Wise Emp Attendence</h5>
								</div>
								<canvas id="chartContainer"  style="width:100%;max-width:600px;"></canvas>
							</div>
					   </div>
					</div>	
					
					<div class="row mt-3 mb-2">
						<div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-info">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Department Wise Emp Leave </h5>
								</div>
								<canvas id="chartContainer"  style="width:100%;max-width:600px;"></canvas>
							</div>
						   </div>
						   
					</div>
					
					

					
	</section>
			  
    
  </body>
</html>