<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
   <body>
      <section>
         <form  action="#" th:action="@{/employee/saveEmployee}" th:object="${employee}" method="post" enctype="multipart/form-data">
            <div class="row">
               <div class="col-12 grid-margin stretch-card">
               
                  <div class="card mt-3 bl-cr">
                     
                        <h3 class="text-center text-white py-1 heading-bg">Employee Master</h3>
                    
                     <div class="card-body font-weight-bold">
                        <div class="row">
                           <div class="col-md-4">
                           <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">EMP Code <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <select class="form-control" name="empCode"  id="empCode" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="101">101</option>
                                       <option value="102">102</option>
                                       <option value="103">103</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Father Name <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text" name="fatherName" class="form-control" id="fatherName"
                                        placeholder="Enter Father Name">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Address <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="address"  class="form-control" id="address"
                                       placeholder="Enter Address ">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label"> Bank Acc No <strong
                                    class="text-danger "> *</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="bankAccNo"  class="form-control" id="bankAccNo"
                                       placeholder="Enter Bank Acc No ">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">IFSC CODE </label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="ifscCode" 
                                   class="form-control" id="ifscCode"
                                        placeholder="Enter IFSC CODE">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Emp Name</label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="empName"  class="form-control" id="empName"
                                       placeholder="Enter Employee Name">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">House No <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="houseNo"   class="form-control" id="houseNo"
                                       placeholder="Enter House No">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Contact No(mobile)
                                 <strong class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="contactNo"  class="form-control" id="contactNo"
                                       placeholder="Enter Contact No">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">ESI Number <strong class="text-danger "> *</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="esiNumber"  class="form-control" id="esiNumber"
                                        placeholder="Enter ESI Number">
                                 </div>
                              </div>
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Designation <strong
                                    class="text-danger "> *</strong> </label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="designation" class="form-control" id="designation"
                                        placeholder="Enter Designation">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-2" style="margin-left: 95px;">
                              <input name="materialImage" type="file" class="dropify"
													data-height="170" />
                           </div>
                        </div>
                        <!-- ***************************** 2th Row  ***************************-->
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Bank Name
                                 </label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="bankName"  class="form-control" id="bankName"
                                        placeholder="Enter Bank Name">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label"> Department <strong
                                    class="text-danger "> *</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="department"  class="form-control" id="department"
                                      placeholder="Enter Department">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">DL No  <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="dlNo"  class="form-control" id="dlNo"
                                        placeholder="Enter DL No">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- ***************************** 3th Row  ***************************-->
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Passport No
                                 <strong class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="passportNo" class="form-control" id="passportNo"
                                      placeholder="Enter Passport No">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Date Of Join  <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="date"  name="dateOfJoin"  class="form-control" id="dateOfJoin"
                                        placeholder="Enter Designation">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">PAN NO  <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="panNO"  class="form-control" id="panNO"
                                      placeholder="Enter PAN NO">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- ***************************** 4th Row  ***************************-->
                        <div class="row">
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">PF No  
                                 <strong class="text-danger "> *</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="pfNo" class="form-control" id="pfNo"
                                       placeholder="Enter PF No ">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label">Aadhar No  <strong
                                    class="text-danger ">*</strong></label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="aadharNo" class="form-control" id="aadharNo"
                                        placeholder="Enter Aadhar No">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group row">
                                 <label for="customerName" class="col-sm-5  col-form-label"> Ref Contact No</label>
                                 <div class="col-sm-7">
                                    <input type="text"  name="RefContactNo"  class="form-control" id="RefContactNo"
                                        placeholder="Enter Ref Contact No">
                                 </div>
                              </div>
                           </div>
                            <div class=" text-center">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                        <button type="reset" class="btn btn-danger ">Reset</button>
                     </div>
                        </div>
                     </div>
                    	
                  </div>
               </div>
            </div>
         </form>
      </section>
   </body>
</html>