<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<form>
			<div class="row">
				<div class="col-12 grid-margin stretch-card">
					<div class="card mt-3">
						<div class="card-header" style="background-color: rgb(64, 128, 128);">
							<h3 class="text-center text-white">Employee Master</h3>
						</div>
						<div class="card-body">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">EMP Code <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<select class="form-control" data-error="Select gender !" required>
												<option value="" selected>Select</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
												<option value="Other">Other</option>
											</select>
										</div>
									</div>
									<div class="form-group row mt-4">
										<label for="customerName" class="col-sm-4  col-form-label">Emp Name</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Employee Name">
										</div>
									</div>

									<div class="form-group row mt-4">
										<label for="customerName" class="col-sm-4  col-form-label">Father Name <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Father Name">
										</div>
									</div>
									<div class="form-group row mt-4">
										<label for="customerName" class="col-sm-4  col-form-label">House No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter House No">
										</div>
									</div>
									<div class="form-group row mt-4">
										<label for="customerName" class="col-sm-4  col-form-label">Address <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Address">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group text-center">
										<div id="profile-container">
											<image id="profileImage" src="images/bookstore.jpg" />
										</div>
										<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo"
											required="" capture>
									</div>
								</div>
							</div>

							<!-- ***************************** 2th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Contact No(mobile)
											<strong class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Contact No">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Designation <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Designation">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 3th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Bank Acc No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Bank Acc No">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Department <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Department">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 4th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">IFSC CODE</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter IFSC CODE">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Date Of Join <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="date" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Date Of Join">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 5th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Bank Name</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Bank Name">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Aadhar No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Aadhar No">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 6th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Passport No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Passport No">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">DL No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter DL No">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 7th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">PF No <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter PF No">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">PAN NO <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter PAN NO ">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 8th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">ESI Number <strong
												class="text-danger ">*</strong></label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter ESI Number">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Ref Contact
											No</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Ref Contact No">
										</div>
									</div>
								</div>
							</div>

							<!-- ***************************** 9th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">safety rules maintain</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter safety rules maintain">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Health Condition</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Health Condition">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 10th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">employee behavior</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter employee behavior">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">time punctuality</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter time punctuality">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 11th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Inspection Date</label>
										<div class="col-sm-8">
											<input type="date" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Inspection Date">
										</div>
									</div>
								</div>
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Inspection By</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Inspection By">
										</div>
									</div>
								</div>
							</div>
							<!-- ***************************** 12th Row  ***************************-->
							<div class="row">
								<div class="col-md-6 mt-3">
									<div class="form-group row">
										<label for="customerName" class="col-sm-4  col-form-label">Inspection Remarks</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="customerName"
												name="customerName" placeholder="Enter Inspection Remarks">
										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="card-footer text-center">

							<button type="button" class="btn btn-outline-primary  w-25">Submit</button>

						</div>
					</div>
				</div>

			</div>
		</form>
	</section>


</body>

</html>