<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Employee DashBoard </h3>
		<div class="mt-2">
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
					tabindex="0">
					<div class="row">

						<div class="col-6">
							<figure class="highcharts-figure border">
								<div id="monthwise-total-emp"></div>
							</figure>
						</div>
						<div class="col-6">
							<figure class="highcharts-figure border">
								<div id="monthwise-total-empLeave"></div>
							</figure>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<figure class="highcharts-figure border">
								<div id="empcontainer2"></div>
							</figure>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>