<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="mt-2">
			<ul class="nav nav-pills justify-content-end py-1 mb-2 mx-4" id="pills-tab" role="tablist">

				<li class="nav-item" role="presentation">
					<a th:href="@{/employee/management}"
						class="nav-link active  text-center mx-2 py-2 text-white hvr bg-dark" style="width:170px;">
						<i class="fas fa-users"></i>
						Employee Management
					</a>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
					tabindex="0">
					<div class="mt-2">
						<!-- Message Alert Field -->
						<div th:if="${session.message}" class="alert_field">
							<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}"
								role="alert">
								<span th:text="${session.message.content}"></span>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<!-- End of Message Alert Field -->
						<!-- form Start-->
						<div class="mx-auto col-12 mt-2">

							<div class="card bl-cr">
								<div class="card-header text-center heading-bg text-white py-2">
									<h3 class="mb-0">Employee Master</h3>
								</div>
								<div class="card-body pl-5 pr-5 font-weight-bold">
									<form data-toggle="validator" th:action="@{/employee/saveEmployee}"
										th:object="${employee}" method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-3">
												<div class="col text-start">
													<label for="empCode" class="col-sm-10 col-form-label">EMP ID<strong
															class="text-danger ">*</strong></label>
													<div class="col form-group py-1">
														<input type="text" class="form-control form-control-sm bg-white"
															name="employeeCode" id="empCode" th:value="${empId}"
															required readonly>
															<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
												<div class="form-group col text-start">
													<label for="empName" class="col-sm-10 col-form-label">Emp
														Name</label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="empName" id="empName" data-minlength="3"
															data-error="Minimum 3 and only  characters required !" pattern="^[A-Za-z]+[A-Za-z ]*$"
															oninput="this.value = this.value.toUpperCase()" placeholder="Enter Emp Name" required>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
												<div class="form-group col text-start">
													<label for="fatherName" class="col-sm-10 col-form-label">Father Name
														<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="fatherName" id="fatherName" data-minlength="3"
															data-error="Minimum 3 and only  characters required !" pattern="^[A-Za-z]+[A-Za-z ]*$"
															oninput="this.value = this.value.toUpperCase()" placeholder="Enter Father Name" required>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>

											<div class="col-3">
												<div class="form-group col text-start">
													<label for="department"
														class="col-sm-8 col-form-label">Department<strong
															class="text-danger ">*</strong></label>
													<div class="col">
														<select class="form-select form-control-sm" id="ChangeDeptName" name="department"
																data-error="Provide this field !"	required>
															<option value="" selected>select</option>
															<option th:each="emp : ${DeptList}"
																th:text="${emp.departmentName}"
																th:value="${emp.departmentName}">
															</option>															
														</select>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
												<div class="form-group col text-start">
													<label for="designation"
														class="col-sm-10 col-form-label">Category</label>
													<div class="col">
														<input type="text" class="form-control bg-white form-control-sm"
															name="designation" id="emp-category" data-minlength="3" data-error="Minimum 3 and only characters required !"
															pattern="^[A-Za-z]+[A-Za-z ]*$"  placeholder="Enter Designation" readonly required>
													<div class="help-block with-errors text-danger"></div>
													</div>
													
												</div>
												<div class="form-group col text-start">
													<label for="ChangeBranchName" class="col-sm-10 col-form-label">Branch / Sub Division</label>
													<div class="col">
													      <select class="form-select form-control-sm" id="ChangeBranchName" name="branch"  required >
                                     						  <option value=""  selected >select</option>
                                      						  <option  th:each="bra : ${branchlist}"                                      		    
                                     	       						   th:text="${bra.branchName}"
                                     	                               th:value="${bra.branchName}">                                      	       	
                                                              </option> 
                                                          </select>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
											<div class="form-group col text-start">
													<label for="designation"
														class="col-sm-10 col-form-label">Category</label>
													<div class="col">
														<input type="text" class="form-control bg-white form-control-sm"
															name="designation" id="emp-category" data-minlength="3" data-error="Minimum 3 and only characters required !"
															pattern="^[A-Za-z]+[A-Za-z ]*$"  placeholder="Enter Designation" readonly required>
													<div class="help-block with-errors text-danger"></div>
													</div>
													
												</div>
												<div class="form-group col text-start">
													<label for="emptype" class="col-sm-8 col-form-label">Emp
														Type</label>
													<div class="col">
														<select class="form-select form-control-sm" name="emptype"
															id="emptype" data-error="Select Type !" required>
															<option value="" selected>Select</option>
															<option value="Full-Time">Full-Time</option>
															<option value="Part-Time">Part-Time</option>
															<option value="Temporary">Temporary</option>
															<option value="Permanent">Permanent</option>
															<option value="Seasonal">Seasonal</option>
															<option value="Leased">Leased</option>
														</select>
														<div class="help-block with-errors text-danger"></div>	
													</div>
												</div>
												<div class="form-group col text-start">
													<label for="empStatus" class="col-sm-10 col-form-label">Emp
														Status</label>
													<div class="col">
															<select class="form-select form-control-sm" name="empStatus"
															id="empStatus" data-error="Select Status !" required>
															<option value="" selected>Select</option>
															<option value="Employee">Employee</option>
															<option value="Worker">Worker</option>
															<option value="Other">Self-employed</option>
														</select>
														<div class="help-block with-errors text-danger"></div>											
													</div>
												</div>
												
												
												
												
												
											</div>
											<div class="col text-center">
												<label for="staticEmail">Photo</label>
												<input name="employeeImage" type="file" class="dropify" 
													data-height="150" required/>
											</div>
										</div>
										<!-- ***************************** 2th Row  ***************************-->
										<div class="row">
											<div class="col-3 py-1">
												<div class="form-group col text-start">
													<label for="houseNo" class="col-sm-8 col-form-label">House No<strong
															class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm" data-error="House No required !" 
															name="houseNo" id="houseNo" placeholder="Enter House No"
															required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="branch" class="col-sm-10 col-form-label">Comapny / Division</label>
													<div class="col">
														<input type="text" class="form-control form-control-sm bg-white"
															name="company" id="company-Name" 
															placeholder="Enter Comapny / Division" required  data-error="Minimum 3 and only characters required !" readonly>
															<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												
												
											<div class=" form-group col text-start">
													<label for="personName" class="col-sm-10 col-form-label">Ref Person
														Name </label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="personName" id="personName" data-minlength="3" data-error="Minimum 3 and only characters required !" 
															pattern="^[A-Za-z]+[A-Za-z ]*$" placeholder="Enter Ref Person Name" required>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>	
												
												
												
												
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="endDate" class="col-sm-10 col-form-label">End
														Date</label>
													<div class="col">
														<input type="date" class="form-control form-control-sm"
															name="endDate" id="endDate" placeholder="Enter End Date"
															 data-error="Provide a End Date !" required>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
										</div>

										<!-- ***************************** 3th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="address" class="col-sm-8 col-form-label">Address<strong
															class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="address" id="address" data-error="Provide a address !" placeholder="Enter Address"
															required>
															<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col">
													<label for="qualification"
														class="col-sm-10 col-form-label">Qualification</label>
													<div class="col">
													<select class="form-select form-control-sm" name="qualification"
															id="qualification" data-error="Select Qualification !" required>
															<option value="" selected>Select</option>
															<option value="Intern(PU)">Intern(PU)</option>
															<option value="B.Sc	">B.Sc	</option>
															<option value="Other">BCA</option>
															<option value="B.Tech">B.Tech</option>
															<option value="B.Com">B.Com</option>
															<option value="BBA">BBA</option>
															<option value="BPharma">BPharma</option>
															<option value="BBM">BBM</option>
															<option value="Diploma">Diploma</option>
															<option value="BA">BA</option>								
															<option value="M.Sc">M.Sc</option>
															<option value="MCA">MCA</option>
															<option value="M.Tech">M.Tech</option>
															<option value="M.Com">M.Com</option>
															<option value="MA">MA</option>
															<option value="MPharma">MPharma</option>
													</select>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												
												<div class="form-group col text-start">
													<label for="aadharNo" class="col-sm-8 col-form-label">Aadhar
														No<strong class="text-danger ">*</strong></label>
													 <div class="col">
														  <input type="text" class="form-control form-control-sm"
															name="aadharNo" id="aadharNo" placeholder="Enter Aadhar No"
															maxlength="12"  pattern="^([0-9]){12}$"  required data-error= "Invalid Number !">
															<div class="help-block with-errors text-danger"></div>
													 </div>
												</div>
												
												
												
											</div>
											<div class="col-3">
												<div class="form-group  col text-start">
													<label for="salary" class="col-sm-10 col-form-label"> Total
														Salary</label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="salary" id="salary" onkeyup="sal()"   data-error=" Provide a valid Amount!"
															placeholder="Enter Total Salary" 	oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="20" required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ***************************** 4th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="state" class="col-sm-8 col-form-label">State</label>
													<div class="col">
														<select class="form-select form-control-sm" name="state" id="states"
															data-error="Provide this field !" required>
															<option value="" selected>Select</option>
															<option th:each="ob:${states}" th:value="${ob[0]}"
																th:text="${ob[1]}">
															</option>
														</select>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="dateOfBirth" class="col-sm-10 col-form-label">Date of
														birth<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="date" class="form-control form-control-sm"
															name="dateOfBirth" id="dateOfBirth" data-error="Provide this field !"
															placeholder="Enter Date of birth" required>
																<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="panNO" class="col-sm-10 col-form-label">PAN NO <strong
															class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="panNO" id="panNO" placeholder="Enter PAN NO"
															maxlength="10" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}"   data-error=" Provide a valid PAN NO!" required>
												<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
												
												
												
											</div>
											<div class="col-3">
												<div class="col text-start">
													<label for="basicSalary" class="col-sm-10 col-form-label">Basic
														Salary </label>
													<div class="col">
														<input type="text" class="form-control form-control-sm bg-white"
															name="basicSalary" id="basicSalary"
															placeholder="Total basicSalary" readonly>
													</div>
												</div>
											</div>
										</div>


										<!-- ***************************** 5th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="city" class="col-sm-8 col-form-label">City</label>
													<div class="col">
														<select class="form-select form-control-sm" name="city" id="cities"
															data-error="Select this List !" required>
															<option value="" selected>Select</option>
														</select>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="gender" class="col-sm-10 col-form-label">Gender</label>
													<div class="col">
														<select class="form-select form-control-sm" name="gender"
															id="gender" data-error="Select gender !" required>
															<option value="" selected>Select</option>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
															<option value="Other">Other</option>
														</select>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">												
												<div class="form-group col text-start">
													<label for="dlNo" class="col-sm-10 col-form-label">DL No <strong
															class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="dlNo" id="dlNo"  placeholder="Enter DL No" data-error="Provide a DL No  !"
															pattern="^[a-zA-Z0-9]+$" maxlength="15" required>
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="sl" class="col-sm-10 col-form-label">SL</label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="sl" id="sl" onkeyup="sum()" data-error="Provide a SL No  !" placeholder="Enter SL"
															oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" required>
															<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
										</div>

										<!-- ***************************** 6th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="pinCode" class="col-sm-8 col-form-label">PinCode</label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="pinCode" id="pinCode" placeholder="Enter PinCode"
														data-error="Provide a PinCode No  !"	oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="6" required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="dateOfJoin" class="col-sm-10 col-form-label">Date Of
														Join </label>
													<div class="col">
														<input type="date" class="form-control form-control-sm"
															name="dateOfJoin" id="dateOfJoin" data-error="Provide a Date Of Join  !"
															placeholder="Enter Date Of Join " required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">											
												<div class="form-group col text-start">
													<label for="passportNo" class="col-sm-10 col-form-label">Passport No
														<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="passportNo" id="passportNo" data-error="Provide a Passport No  !"
															placeholder="Enter Passport No" maxlength="12" required>
													 <div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="cl" class="col-sm-10 col-form-label">CL</label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="cl" id="cl" onkeyup="sum()" placeholder="Enter CL"
															data-error="Provide a CL No !" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ***************************** 7th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="contactNo" class="col-sm-8 col-form-label">Contact
														No<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="contactNo" id="contactNo" data-error="Provide a Contact No !"
															placeholder="Enter Contact No" pattern="[7-9]{1}[0-9]{9}" maxlength="10" required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="bankName" class="col-sm-8 col-form-label">Bank
														Name</label>
													<div class="col">
														<select class="form-select form-control-sm" name="bankName" id="bankName" 
															data-error="Select Bank Name !" required>
															<option value="" selected>select</option>
															<option th:each="banks : ${banks}" th:value="${banks.name}"
																th:utext="${banks.name}" />
														</select>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="pfNo" class="col-sm-10 col-form-label">PF No<strong
															class="text-danger ">*</strong> </label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="pfNo" id="pfNo" placeholder="Enter PF No "
															data-error="Provide a PF No !" pattern="[A-Z]{2}/\d{5}/\d{7}$" maxlength="16"   required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="lwp" class="col-sm-10 col-form-label">LWP </label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="lwp" id="lwp" onkeyup="sum()" placeholder="Enter LWP"
															data-error="Provide a LWP No !" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
										</div>
										<!-- ***************************** 8th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="bloodGroup" class="col-sm-8 col-form-label">Blood
														Group</label>
													<div class="col">
														<select class="form-select form-control-sm" name="bloodGroup"
															id="bloodGroup" data-error="Select blood group !" required>
															<option value="" selected>select</option>
															<option value="(A+)">(A+)</option>
															<option value="(A-)">(A-)</option>
															<option value="(B+)">(B+)</option>
															<option value="(B-)">(B-)</option>
															<option value="(O+)">(O+)</option>
															<option value="(O-)">(O-)</option>
															<option value="(AB+)">(AB+)</option>
															<option value="(AB-)">(AB-)</option>
														</select>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>

											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="bankAccNo" class="col-sm-8 col-form-label">Bank Acc
														No<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="bankAccNo" id="bankAccNo" data-error="Provide a Bank Acc No !"
															placeholder="Enter Bank Acc No" required oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="17">
														<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="esiNumber" class="col-sm-10 col-form-label"> ESI
														Number<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="number" class="form-control form-control-sm"
															name="esiNumber" id="esiNumber" data-error="Provide a ESI Number!"
															placeholder="Enter ESI Number" oninput="this.value=this.value.slice(0,this.maxLength)" required maxlength="10">
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="col text-start">
													<label for="totalLeave" class="col-sm-10 col-form-label">Total
														leave</label>
													<div class="col">
														<input type="text" class="form-control form-control-sm bg-white"
															name="totalLeave" id="totalLeave" placeholder="Total leave"
															required readonly="true">
													</div>
												</div>
											</div>
										</div>
										<!-- ***************************** 9th Row  ***************************-->
										<div class="row ">
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="maritalstatus" class="col-sm-10 col-form-label">Marital
														status </label>
													<div class="col">
														<select class="form-select form-control-sm" name="maritalstatus"
															id="maritalstatus" data-error="Select Marital Status !"
															required>
															<option value="" selected>select</option>
															<option value="Single">Single</option>
															<option value="Married">Married</option>
															<option value="Divorced">Divorced</option>
														</select>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											<div class="col-3">
												<div class="form-group col text-start">
													<label for="ifscCode" class="col-sm-8 col-form-label">IFSC
														CODE</label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="ifscCode" id="ifscCode" placeholder="Enter IFSC CODE"
														 data-error="Provide a Valid IFSC No !"	pattern="^[a-zA-Z0-9]+$" maxlength="11"  required>
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
												<div class="col-3">
												<div class="form-group col text-start">
													<label for="refContactNo" class="col-sm-10 col-form-label">Ref
														Contact No<strong class="text-danger ">*</strong></label>
													<div class="col">
														<input type="text" class="form-control form-control-sm"
															name="refContactNo" id="refContactNo" pattern="[7-9]{1}[0-9]{9}" maxlength="10" data-error="Provide a Ref Contact No !"
															placeholder="Enter Ref Contact No" required >
													<div class="help-block with-errors text-danger"></div>
													</div>
												</div>
											</div>
											
										</div>
										<div class="card-footer text-center mt-5">
											<button type="submit"
												class="btn btn-primary w-25 text-center">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- form END-->
					</div>
				</div>


			</div>
		</div>
	</section>


</body>

</html>