<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Leave Information
		</h3>
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
		<div class="row">
			<div class="col-12 ">
				<div class="row">
					<div class="col">
						<div class="card bl-cr mt-3">
							<div class="card-header text-center heading-bg text-white py-2">
								<h4 class="mb-0">Employee Data</h4>
							</div>
							<div class="card-body">
							<form  data-toggle="validator" th:action="@{/employee/saveApprvlLeave}" method="post"  th:object="${leaveUpdate}">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group row">
												<label for="employeeCode" class="col-sm-5  col-form-label">EMP Code
													<strong class="text-danger ">*</strong></label>
												<div class="col-sm-7"> 
													<input type="hidden" class="form-control " 
												  name="empLeaveId" th:value="${leaveData.empLeaveId}" placeholder="empLeaveId">                          
													<input type="text" class="form-control form-control-sm bg-white" 
												  name="employeeCode" th:value="${leaveData.employeeCode}" placeholder="empCode" readonly required>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row ">
												<label for="empName" class="col-sm-5  col-form-label">Emp
													Name</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-empName"
												    name="empName" th:value="${leaveData.empName}" placeholder="Emp Name" readonly required>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="designation"
													class="col-sm-5  col-form-label">Designation</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-designation"
												name="designation" th:value="${emp.empDesignation}" placeholder="Designation" readonly>
												</div>
											</div>
										</div>


									</div>

									<!-- ***************************** 2th Row  ***************************-->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group row">
												<label for="fatherName" class="col-sm-5  col-form-label">Father
													Name</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-fatherName"
													 name="fatherName" th:value="${emp.employeeFather}"  placeholder="Father Name" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="department" class="col-sm-5  col-form-label">Department
												</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-department"
															name="department" th:value="${leaveData.department}" placeholder="Department" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="houseNo" class="col-sm-5  col-form-label"> House No
												</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" 
													name="houseNo" th:value="${emp.empHouseNo}" placeholder="House No" readonly>
												</div>
											</div>
										</div>
									</div>
									<!-- ***************************** 3th Row  ***************************-->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group row">
												<label for="dateOfJoin" class="col-sm-5  col-form-label">Date Of
													Join</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" 
															name="dateOfJoin" th:value="${emp.empdateofJoin}" placeholder="Date Of Join" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="address"
													class="col-sm-5  col-form-label">Address</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" 
													 name="address" th:value="${emp.address}" placeholder="Address" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group row">
												<label for="refContactNo" class="col-sm-5  col-form-label">Ref Con.
													No</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" 
															name="refContactNo" th:value="${emp.refConNo}" placeholder="Ref Contact No" readonly>
												</div>
											</div>
										</div>
									</div>
									<!-- ***************************** 4th Row  ***************************-->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group row">
												<label for="contactNo" class="col-sm-5  col-form-label">Contact
													No</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" 
														name="contactNo" th:value="${emp.conNo}" placeholder="Contact No(mobile)" readonly>
												</div>
											</div>
										</div>

									</div>


									<!-- ***************************** Leave Status Per Year Starts ***************************-->

									<h3 class="text-center text-white mt-1 py-1"
										style="background-color: rgb(128, 128, 64);"><small>Leave Status Per Year
										</small></h3>

									<!-- ***************************** 1st Row  ***************************-->
									<div class="row">
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="sickLeave" class="col-sm-5  col-form-label">SL</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-sickLeave" 
													th:value="${leaveData.sickLeave}" name="sickLeave"	placeholder="SL" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="causalLeave" class="col-sm-5  col-form-label">CL</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-causalLeave"
													th:value="${leaveData.causalLeave}"	name="causalLeave" placeholder="CL" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="annualLwp" class="col-sm-5  col-form-label">LWP</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-annualLwp" 
												th:value="${leaveData.annualLwp}" name="annualLwp"	placeholder="LWP" readonly>
												</div>
											</div>
										</div>
									</div>
									<!-- ***************************** Sanctioned Leave Starts ***************************-->
									<h3 class="text-center text-white mt-1 py-1"
										style="background-color: rgb(64, 128, 128);"><small>Sanctioned Leave </small>
									</h3>

									<!-- ***************************** 1st Row  ***************************-->
									<div class="row">
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="sacnSickLeave" class="col-sm-5  col-form-label">SL</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-sacnSickLeave" 
													 th:value="${leaveData.sacnSickLeave}" name="sacnSickLeave"	placeholder="SL" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="sacnCausalLeave" class="col-sm-5  col-form-label">CL</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-sacnCausalLeave" 
														 th:value="${leaveData.sacnCausalLeave}" name="sacnCausalLeave" placeholder="CL" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="sacnLwp" class="col-sm-5  col-form-label">LWP</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-sacnLwp"
														th:value="${leaveData.sacnLwp}" name="sacnLwp" placeholder="LWP" readonly>
												</div>
											</div>
										</div>
									</div>

									<!-- ***************************** Department Approval Starts ***************************-->

									<h3 class="text-center text-white mt-1 py-1"
										style="background-color: rgb(255, 128, 128);"><small>Department Approval</small>
									</h3>

									<!-- ***************************** 1st Row  ***************************-->
									<div class="row">
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="deptHead" class="col-sm-5  col-form-label">Dept Head
													<strong class="text-danger ">*</strong></label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-deptHead"
														name="deptHead" th:value="${leaveData.deptHead}" placeholder="LWP" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="remark"
													class="col-sm-5  col-form-label">Remark</label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="aprl-remark"
													th:value="${leaveData.remark}"	 name="remark" placeholder="Remark" readonly>
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="hrApproval" class="col-sm-5  col-form-label">HR
													Approval<strong class="text-danger ">*</strong></label>
												<div class="col-sm-7">
													<select class="form-select form-control-sm" data-error="Select Option !"
														id="hrApproval" name="hrApproval" required>
														<option value="" selected>Select</option>
														<option value="YES">Yes</option>
														<option value="NO">No</option>
													</select>	
													<div class="help-block with-errors text-danger"></div>											
												</div>
											</div>
										</div>
									</div>
									<h3 class="text-center text-white mt-1 py-1"
										style="background-color: rgb(128, 128, 128);"><small>Leave Process</small></h3>

									<!-- ***************************** 2th Row  ***************************-->
									<div class="row">
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="hrDate" class="col-sm-5  col-form-label">Date <strong
														class="text-danger ">*</strong></label>
												<div class="col-sm-7">
													<input type="Date" class="form-control form-control-sm" id="hrDate"
														name="hrDate" placeholder="Date" data-error="Select Date !" required>		
													<div class="help-block with-errors text-danger"></div>											
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
												<label for="aprl-noOfLeave" class="col-sm-5  col-form-label">No of Days
													<strong class="text-danger ">*</strong></label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm" id="aprl-noOfLeave"
														th:value="${leaveData.noOfLeave}"  name="noOfLeave" placeholder="No of Days"
														 required>
														<div class="help-block with-errors text-danger"></div>	
												</div>
											</div>
										</div>
										<div class="col-md-4 mt-1">
											<div class="form-group row">
														<label for="leaveType" class="col-sm-5  col-form-label">Leave Type
													<strong class="text-danger ">*</strong></label>
												<div class="col-sm-7">
													<input type="text" class="form-control form-control-sm bg-white" id="leaveType"
														name="leaveType" th:value="${leaveData.leaveType}" placeholder="No of Days"
														 required readonly>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer text-center">
										<button type="submit"  class="btn btn-primary">Submit</button>
									</div>
							</form>
							</div>

						</div>
					</div>
					
					
					<!-- Table Start-->
					<div class="col-3 mt-3">
						<table  class="table  table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
							<thead class="table-dark">
								<tr>
									<th class="text-center fs-6" scope="col">Id</th>
									<th class="text-center fs-6" scope="col">Emp Name</th>
								 	<th class="text-center fs-6" scope="col">Date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center" th:each="employee: ${listOfEmployees}">
									<td class="fs-6 text-center"> <a th:href="@{'/employee/apprvlLeave/'+${employee.empLeaveId}}">
											<span th:text="${employee.employeeCode}"></span></a></td>
									<td class="fs-6  text-center" th:text="${employee.empName}"></td>
									<td class="fs-6 text-center" th:text="${employee.leaveDate}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					</div>
					<!-- Table End-->
				</div>
			



	</section>


</body>

</html>