<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
	  <form>
	 <div class="row">
	 <div class="col-9 grid-margin stretch-card">
		<div class="card mt-3 bl-cr">
			 <h3 class="text-center text-white py-1 heading-bg">Leave Information</h3>
	
		  <div class="card-body font-weight-bold">
			 
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">EMP Code <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                           <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Male">Male</option>
                                       <option value="Female">Female</option>
                                       <option value="Other">Other</option>
                                    </select>
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-4">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Name">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Designation</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Designation">
                                    </div>
                                 </div>
                                  </div>
                              
                          
                            </div>
				
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Father Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Father Name">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Department ">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	House No </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="House No">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 3th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date Of Join</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Date Of Join">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Address</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Address">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Ref Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Ref Contact No">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 4th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Contact No">
                                    </div>
                                 </div>
                              </div>
                             
                      </div>
                      
					
                      <!-- ***************************** Leave Status Per Year Starts ***************************-->
					
			                <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 64);"><small>Leave Status Per Year </small></h3>
		              
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="SL">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="CL">
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="LWP">
                                    </div>
                                 </div>
                              </div>
                      </div>
                <!-- ***************************** Sanctioned Leave Starts ***************************-->       
			                  <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(64, 128, 128);"><small>Sanctioned Leave </small></h3>
		          
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="SL">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="CL">
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="LWP">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      
                       <!-- ***************************** Department Approval Starts ***************************-->

			                <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(255, 128, 128);"><small>Department Approval</small></h3>
		             
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department Head <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Yes">Yes</option>
                                       <option value="No">No</option>
                                     
                                    </select>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Remark</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Remark">
                                    </div>
                                 </div>
                              </div>
                            
                      </div>
			                <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 128);"><small>Leave Process</small></h3>
		             
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="Date" class="form-control" id="customerName" name="customerName"  placeholder="Date ">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">No of Days <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="No of Days">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Leave Type <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Male">SL</option>
                                       <option value="Female">CL</option>
                                       <option value="Other">LWP</option>
                                    </select>
                                    </div>
                                 </div>
                              </div>
                               <div class="text-center mb-2">
		                      <button type="button" class="btn btn-primary">Leave Letter</button>
		   	   
	 	                      </div>    
                      </div>
                      
                      	
                <div class="card-footer text-center">
		   	 	
		   	    <button type="button" class="btn btn-info">Submit</button>
		   	   
	 	 </div>    
	 	  
	   </div>
			 
	   </div>	
	 </div>
        <div class="col-3 grid-margin stretch-card ">
	   <div class="card mt-3 bl-cr">
	    <h3 class="text-center text-white py-2 heading-bg"><small>Waiting For Approval </small></h3>
	                <p class="pl-1 text-decoration-underline">EmpCode</p>
	   <div class="row">
                     <div class="col-12">
                        <table  class="table table-hover  border-top-7 border-Light">
                           <thead>
                           </thead>
                           <tbody>
                             
                              <tr>
                                 <td>10000</td>
                              </tr>
                              <tr> 
                                 <td>20000</td>
                              </tr>
                              <tr> 
                                 <td>30000</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
	   </div>
        </div>
        </div>

   </form>
	</section>
			  
    
  </body>
</html>