<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
	
<h3 class="text-center text-white mt-2 p-1 bg-primary">Employee Inspection
		</h3>
		<div class="row">
		<div class="col-11 mx-auto">
		  <div class="alert alert-success text-center my-1 p-1 font-weight-bold" role="alert" th:if="${param.success}" >
                       Employee information submitted successfully  !
                    </div>
                    <div class="row">
                    <div class="col-9">
                     <form class="forms-sample" data-toggle="validator" action="#" th:action="@{/employee/saveEmpInspect}" th:object="${employeeInspect}" role="form"  method="post" enctype="multipart/form-data">
				<div class="card  bl-cr">
				<div class="card-header text-center heading-bg text-white py-2">
								<h4 class="mt-1">Employee Data</h4>
							</div>
		    	   <div class="card-body">
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">EMP Code <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <input type="text" class="form-control" th:value="${listOfEmployees.employeeCode}" name="employeeCode" id="empCode"  placeholder="Employee Id" readonly="true">
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Emp Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.empName}" name="empName" id="empName"  placeholder="Employee Name" readonly="true">
                                    </div>
                                 </div>
                                  
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Father Name <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.fatherName}" name="fatherName" id="fatherName" placeholder="Father Name" readonly="true" >
                                    </div>
                                 </div>
                                <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">House No  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.houseNo}" name="houseNo" id="houseNo"  placeholder="House No" readonly="true">
                                    </div>
                                 </div>
                                  <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Address  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.address}" name="address" id="address"  placeholder="Address" readonly="true">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 text-center" style="margin-left: 120px;">
                                <label for="staticEmail">Photo</label>
										<input name="profile" type="file" class="dropify"
													data-height="170"  />
									</div>
                             
                            </div>
				
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Contact No(mobile) <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.contactNo}" name="contactNo" id="contactNo"  placeholder="Contact No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Designation <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.designation}" name="designation" id="designation"  placeholder="Designation" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 3th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Bank Acc No <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.bankAccNo}" name="bankAccNo" id="bankAccNo"  placeholder="Bank Acc No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.department}" name="department" id="department"  placeholder="Department" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 4th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">IFSC CODE</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.ifscCode}"  name="ifscCode" id="ifscCode"  placeholder="IFSC CODE" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date Of Join <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.dateOfJoin}" name="dateOfJoin" id="dateOfJoin"  placeholder="Date Of Join" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 5th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Bank Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.bankName}"  name="bankName"  id="bankName"  placeholder="Bank Name" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Aadhar No  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.aadharNo}"  name="aadharNo" id="aadharNo" placeholder="Aadhar No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 6th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Passport No <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.passportNo}" name="passportNo" id="passportNo"  placeholder="Passport No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">DL No  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.dlNo}" name="dlNo" id="dlNo"  placeholder="DL No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 7th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">PF No  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.pfNo}" name="pfNo" id="pfNo"  placeholder="PF No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">PAN NO  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.panNO}" name="panNO" id="panNO"  placeholder="PAN NO" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                    <!-- ***************************** 8th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">ESI Number  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.esiNumber}" name="esiNumber" id="esiNumber"  placeholder="ESI Number" readonly="true">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Ref Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" th:value="${listOfEmployees.RefContactNo}" name="RefContactNo" id="RefContactNo"  placeholder="Ref Contact No" readonly="true">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      
		               <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(255, 128, 128);"><small>Inspection Data</small></h3>
				  <!-- ***************************** 9th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">safety rules maintain</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="safetyRules" id="safetyRules" placeholder="safety rules maintain">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Health Condition</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="healthCondtn" id="healthCondtn" placeholder="Health Condition">
                                    </div>
                                 </div>
                              </div>
                      </div>
                        <!-- ***************************** 10th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">employee behavior</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="empBehavior" id="empBehavior"  placeholder="employee behavior">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">time punctuality</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="timePunctlity" id="timePunctlity"  placeholder="time punctuality">
                                    </div>
                                 </div>
                              </div>
                      </div>
                        <!-- ***************************** 11th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Inspection Date</label>
                                    <div class="col-sm-7">
                                       <input type="date" class="form-control" name="inspectDate" id="inspectDate"  placeholder="Inspection Date">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Inspection By</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="inspectBy" id="inspectBy"  placeholder="Inspection By">
                                    </div>
                                 </div>
                              </div>
                      </div>
                        <!-- ***************************** 12th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-6">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Inspection Remarks</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="inspectRemark" id="inspectRemark"  placeholder="Inspection Remarks">
                                    </div>
                                 </div>
                              </div>
                              
                      </div>
		    	   
			</div>
			 <div class="card-footer text-center">	
		   	    <button type="submit" class="btn btn-primary  w-25">Submit</button> 
		  	 </div>
	   </div>
				
                     </form>	
				</div>
				<!-- Table Start-->
				<div class="col-3">
				  <table  class="table table-stock table-bordered text-center table-primary table-striped table-hover">
                           <thead class="table-dark">
                              <tr>
                                 <th class="text-white text-center fs-6">EmpID</th>
                                 <th class="text-white text-center fs-6">EmpName</th>
                                 <th class="text-white text-center fs-6">Dept</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="fs-6" th:each="employee: ${listEmployee}">
						     <td> <a th:href="@{/employee/getEmployeeData/{id}(id=${employee.employeeId})}"><span th:text="${employee.employeeCode}"></span></a></td>
							  <td th:text = "${employee.empName}"></td>
							  <td th:text = "${employee.department}"></td>
                              </tr>
                           </tbody>
                        </table>   
				</div>
				<!-- Table End-->	
			</div>
                   
			
			</div>
		</div>	
	</section>
</body>
</html>
					
					
			
		


