<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
	  <form>
	 <div class="row">
	 <div class="col-12 grid-margin stretch-card">
		<div class="card mt-3 bl-cr">
			 <h3 class="text-center text-white py-1" style="background-color: rgb(128, 128, 192);">Leave Information </h3>
		
		  <div class="card-body">
			 
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">EMP Code <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                           <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Male">Male</option>
                                       <option value="Female">Female</option>
                                       <option value="Other">Other</option>
                                    </select>
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-4">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Name">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Designation</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Designation">
                                    </div>
                                 </div>
                                  </div>
                              
                          
                            </div>
				
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Father Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Father Name">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Department">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	House No </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="House No">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 3th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date Of Join</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Date Of Join">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Address</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Address">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Ref Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Ref Contact No">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 4th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Contact No(mobile)</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Contact No(mobile)">
                                    </div>
                                 </div>
                              </div>
                             
                      </div>
                        <!-- *****************************Leave Status Per Year Starts ***************************-->
		              
		               <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 64);"><small>Leave Status Per Year</small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="SL">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="CL">
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="LWP">
                                    </div>
                                 </div>
                              </div>
                      </div>
               
                 <!-- *****************************Sanctioned Leave Starts ***************************-->
           
		               <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(64, 128, 128);"><small>Sanctioned Leave</small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="SL">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="CL">
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="LWP">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      
                         <!-- *****************************Department Approval Starts ***************************-->

		             <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(255, 128, 128);"><small>Department Approval </small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department Head <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Yes">Yes</option>
                                       <option value="No">No</option>
                                     
                                    </select>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Remark</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="Remark">
                                    </div>
                                 </div>
                              </div>
                            
                      </div>
                      
                        <!-- *****************************  Leave Process Starts  ***************************-->

		          <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 128);"><small>Leave Process</small></h3>
		          
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="Date" class="form-control" id="customerName" name="customerName"  placeholder="Date ">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">No of Days <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName"  placeholder="No of Days">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Leave Type <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Male">SL</option>
                                       <option value="Female">CL</option>
                                       <option value="Other">LWP</option>
                                    </select>
                                    </div>
                                 </div>
                              </div>
                      </div>
                      	 <div class="row">
                      	  <div class="col-md-4"> 
                              </div>
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row"> 
                                    <div class="col-sm-7 text-center">
                                         <button type="button" class="btn btn-primary ">Leave Letter</button>
                                    </div>
                                 </div>
                              </div>
                            
                               <div class="col-md-4">
                                   <div class="form-group">
                              <label for="profile" class="font-weight-bold"></label>
                              <input type="file" name="profile" id="profile" accept="image/*" 
                                 data-error="Select profile picture !" required style="margin-left: -200px;margin-top: 7px;">
                              
                              <div class="help-block with-errors text-danger"></div>
                           </div>
                              </div>
                            
                      </div>
                <div class="card-footer text-center">
		   	 	
		   	    <button type="button" class="btn btn-info">Submit</button>
		   	    
		  	 </div>       
	   </div>	
	 </div>
	 </div>
	 
   </div>
   </form>
	</section>
			  
    
  </body>
</html>