<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
	<h3 class="text-center text-white mt-2 p-1 bg-primary">Leave Information
		</h3>	
	   <div class="mt-2">
	   <!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
	 <div class="row">
	 <div class="col-11 mx-auto">
		<div class="card bl-cr mt-3">
			 <div class="card-header text-center heading-bg text-white py-2">
				<h4 class="mb-0">Employee Data</h4>
			 </div>
		  <div class="card-body">
		    <form  data-toggle="validator" th:action="@{/employee/saveEmpLeave}" method="post">
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">EMP ID <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                      <select class="form-select form-control-sm" id="leave-empId" name="employeeCode" required >
                                       <option value=""  selected >select</option>
                                       <option  th:each="emp : ${listOfEmployees}"                                      		    
                                     	        th:text="${emp.employeeCode}"
                                     	        th:value="${emp.employeeCode}">                                      	       	
                                       </option> 
                                     </select>
                                   </div>
                                 </div>
                              </div>
                                  <div class="col-md-4">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Emp Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white" id="leave-empName" 
                                       name="empName" placeholder="Emp Name" readonly>
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Designation</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-designation" 
                                        name="designation"  placeholder="Designation" readonly>
                                    </div>
                                 </div>
                                  </div>
                            </div>
				
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Father Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-fatherName" 
                                       name="fatherName"  placeholder="Father Name" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-department"  name="department" placeholder="Department" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	House No </label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-houseNo" 
                                       name="houseNo" placeholder="House No" readonly>
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 3th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date Of Join</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-dateOfJoin"  
                                       name="dateOfJoin"  placeholder="Date Of Join" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Address</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-address" 
                                       name="address" placeholder="Address" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Ref Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white" id="leave-refContactNo" 
                                       name="refContactNo"   placeholder="Ref Contact No" readonly>
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 4th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Contact No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-contactNo" 
                                       name="contactNo" placeholder="Contact No(mobile)" readonly>
                                    </div>
                                 </div>
                              </div>
                             
                      </div>
                        <!-- *****************************Leave Status Per Year Starts ***************************-->
		              
		               <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 64);"><small>Leave Status Per Year</small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="leave-Asl" 
                                       name="sickLeave" placeholder="SL" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white" id="leave-Acl"  
                                       name="causalLeave"  placeholder="CL" readonly>
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"   id="leave-Alwp"  
                                       name="annualLwp" placeholder="LWP" readonly>
                                    </div>
                                 </div>
                              </div>
                      </div>
               
                 <!-- *****************************Sanctioned Leave Starts ***************************-->
           
		               <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(64, 128, 128);"><small>Sanctioned Leave</small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="totalSacnSickLeave" 
                                       name="sacnSickLeave" placeholder="SL" readonly>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">CL</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="totalSacnCausalLeave" 
                                       name="sacnCausalLeave" placeholder="CL" readonly>
                                    </div>
                                 </div>
                              </div>
                             <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LWP</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm bg-white"  id="totalSacnLwp" 
                                       name="sacnLwp"  placeholder="sacnLwp" readonly>
                                    </div>
                                 </div>
                              </div>
                      </div>
                      
                         <!-- *****************************Department Approval Starts ***************************-->

		             <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(255, 128, 128);"><small>Department Approval </small></h3>
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department Head <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                         <select class="form-select form-control-sm" data-error="Select Option !"  id="deptHead" 
                                         name="deptHead" required>
                                       <option value="" selected>Select</option>
                                       <option value="Yes">Yes</option>
                                       <option value="No">No</option>                                    
                                    </select>
                                    <div class="help-block with-errors text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Remark</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control form-control-sm" id="remark" name="remark"  
                                       placeholder="Enter Remark" data-minlength="3" data-error="Minimum 3 characters required !" required>
                                        <div class="help-block with-errors text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                            
                      </div>
                      
                        <!-- *****************************  Leave Process Starts  ***************************-->

		          <h3 class="text-center text-white mt-1 py-1" style="background-color: rgb(128, 128, 128);"><small>Leave Process</small></h3>
		          
                      <!-- ***************************** 1st Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date  <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="Date" class="form-control form-control-sm" id="leaveDate" 
                                       name="leaveDate"  placeholder="Date" required>
                                     <div class="help-block with-errors text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">No of Days <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="number" class="form-control form-control-sm" id="noOfLeave" 
                                       name="noOfLeave"  placeholder="Enter No of Days" data-error="Provide a number !" oninput="this.value=this.value.slice(0,this.maxLength)" maxlength="3" required>
                                       <div class="help-block with-errors text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Leave Type <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                    <select class="form-select form-control-sm" data-error="Select Leave Type !" 
                                         name="leaveType" id="leaveType" required>
                                      <option value="" selected>Select</option>
									  <option value="SL">SL</option>
									  <option value="CL">CL</option>
									  <option value="LWP">LWP</option>
                                    </select>
                                    <div class="help-block with-errors text-danger"></div>
                                    </div>
                                 </div>
                              </div>
                      </div>
                      	
                <div class="mt-4 text-center">		   	 	
		   	    <button type="submit" class="btn btn-primary">Submit</button>		   	    
		  	 </div>   
		    </form>    
	     </div>	
	 </div>
	
	 </div>
	 
   </div>
	   </div>
	</section>
			  
    
  </body>
</html>