<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
	  <form>
	 <div class="row">
	 <div class="col-12 grid-margin stretch-card">
		<div class="card mt-3 bl-cr">
			 <h3 class="text-center text-white py-1 heading-bg">Salary Generator</h3>
		  <div class="card-body font-weight-bold">
			 
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">EMP Code <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                           <select class="form-control" data-error="Select gender !" required>
                                       <option value="" selected>Select</option>
                                       <option value="Male">Male</option>
                                       <option value="Female">Female</option>
                                       <option value="Other">Other</option>
                                    </select>
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-4">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Department</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Department">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Basic Salary</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Basic Salary">
                                    </div>
                                 </div>
                                  </div>
                              
                          
                            </div>
				
                      <!-- ***************************** 2th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Name</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Name">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">PAN No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="PAN No">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	HRA</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="HRA">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 3th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Designation</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Designation">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	ESI number</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="ESI number">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Conveyance</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Conveyance">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 4th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Bank Account No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Bank Account No">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">	PF number</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="PF number">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SPL Allow</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="SPL Allow">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 5th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Mobile No</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Mobile No">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">PF</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="PF">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">LTA Allow</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="LTA Allow">
                                    </div>
                                 </div>
                              </div>
                      </div>
                      <!-- ***************************** 6th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date of Join</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Date of Join">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Income Tax</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Income Tax">
                                    </div>
                                 </div>
                              </div>
                            
                      </div>
                 
		               <h3 class="text-center text-white mt-1 py-1 bg-primary" ><small>WORKING DAYS</small></h3>
                      <!-- ***************************** 7th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Total Working Days</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Total Working Days">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 mt-1">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Total Leaves</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Total Leaves">
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-4  text-center mt-1">
		   	                       <button type="button" class="btn btn-success ">Generate Salary</button>   
		  	                </div>
                      </div>
                    <!-- ***************************** 8th Row  ***************************-->
					 <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Date <strong class="text-danger ">*</strong></label>
                                    <div class="col-sm-7">
                                       <input type="Date" class="form-control" id="customerName" name="customerName" placeholder="Date ">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Earning Days</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Earning Days">
                                    </div>
                                 </div>
                              </div>
                               <div class="col-md-4 text-center">
		   	                       <button type="button" class="btn btn-info ">Clear</button>   
		  	                </div>
                      </div>
                       
				
	   </div>	
	 </div>
	 </div>
	    <!-- ***************************** 2nd Card  ***************************-->
	  <div class="col-12 grid-margin stretch-card">
		<div class="card mt-3 bl-cr">
				<div class="card-header heading-bg text-white  py-1">
						<label for="inputEmail3" class="col-sm-3 col-form-label ">Earnings</label>
				    	<label for="inputEmail3" class="col-sm-3 col-form-label ">Actual Earnings</label>
						<label for="inputEmail3" class="col-sm-3 col-form-label ">Deductions</label>
						<label for="inputEmail3" class="col-sm-2 col-form-label ">NetPay</label>
				</div>
	      <div class="card-body font-weight-bold">		
                     <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Basic Salary</label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Basic Salary">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Actual Salary</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Actual Salary">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">PF</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="PF">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Gross Pay</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Gross Pay">
                                    </div>
                                 </div>
                                  </div>
                          
                            </div>
							 <!-- ***************************** 2th Row  ***************************-->
					<div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">DA</label>
                                    <div class="col-sm-7">
                                           <input type="text" class="form-control" id="customerName" name="customerName" placeholder="DA">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">DA</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="DA">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">ESI</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="ESI">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Gross Deduct</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Gross Deduct">
                                    </div>
                                 </div>
                                  </div>
                          
                            </div>
                            		 <!-- ***************************** 3th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">HRA</label>
                                    <div class="col-sm-7">
                                           <input type="text" class="form-control" id="customerName" name="customerName" placeholder="HRA">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">HRA</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="HRA">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Prof.TAX</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Prof.TAX">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Net Pay</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Net Pay">
                                    </div>
                                 </div>
                                  </div>
                          
                            </div>
                            		 <!-- ***************************** 4th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Conveyance</label>
                                    <div class="col-sm-7">
                                           <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Conveyance">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Conveyance</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Conveyance">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">TDS</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="TDS">
                                    </div>
                                 </div>
                                  </div>
                                  
                          
                            </div>
                            		 <!-- ***************************** 5th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Medical</label>
                                    <div class="col-sm-7">
                                           <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Medical">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Medical</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Medical">
                                    </div>
                                 </div>
                                  </div>
                                  
                          
                            </div>
                            		 <!-- ***************************** 6th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">SPL Allow </label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" id="customerName" name="customerName" placeholder="SPL Allow">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">SPL Allow</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="SPL Allow">
                                    </div>
                                 </div>
                                  </div>
                               
                             
                          
                            </div>
                            		 <!-- ***************************** 7th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Telephone Allow</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Telephone Allow">
                                    </div>
                                 </div>
                                  </div>
                                 
                            </div>
                            		 <!-- ***************************** 8th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">LTA Allow</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="LTA Allow">
                                    </div>
                                 </div>
                                  </div>
                                 
                          
                            </div>
                            		 <!-- ***************************** 9th Row  ***************************-->
                      <div class="row">
                              <div class="col-md-3">
                                 <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Total Earnings</label>
                                    <div class="col-sm-7">
                                           <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Total Earnings">
                                    </div>
                                 </div>
                   
                              </div>
                                  <div class="col-md-3">
                                    <div class="form-group row ">
                                    <label for="customerName" class="col-sm-5  col-form-label">Actual Earnings</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Actual Earnings">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Total Deductions</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Total Deductions">
                                    </div>
                                 </div>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-group row">
                                    <label for="customerName" class="col-sm-5  col-form-label">Total Net Pay</label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" id="customerName" name="customerName" placeholder="Total Net Pay">
                                    </div>
                                 </div>
                                  </div>
                          
                            </div>
							</div>
							
	   </div>
	 </div>
	 
	 
   </div>
   </form>
	</section>
			  
    
  </body>
</html>