<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h4 class="text-center text-white mt-2 p-1" style="background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);"> 
		Change Password
		</h4>

		<div class="col-9 mx-auto my-4">
			<div class="card" style="background-color: rgb(213 245 255);">
				<div class="card-header text-center bg-info text-white">
					
				</div>
				<div class="card-body">
					<form class="p-0 mb-0" th:action="@{/inward/material/add}" method="post">
						<div class="row">
							<div class="col px-5">
						<div class="row">
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Username</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Email</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Mobile</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Current Password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" />
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">New password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Confirm Password</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" />
									</div>
								</div>
							</div>
						</div>
							</div>

						</div>
						<div class="row mt-2">
							<div class="col-12 text-center">
								<button type="submit" class="btn btn-success btn-sm">Change</button>
								<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>