<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Company Management</h3>

		<div class="row mt-2">
			<div class="col-6" dir="ltr">

				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/home}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Admin</a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Company Creation</a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Company Management</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">

				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 mx-1 px-3 text-white hvr bg-danger" th:href="@{/admin/account/company}"
							style="width: 133px;">
							Create Company
						</a>
					</li>
				</ul>

			</div>

		</div>

		<div class="col-11 mx-auto my-3">

			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<table
				class="table table-stock table-bordered table table-secondary table-striped table-hover mytable w-100 mt-4">
				<thead class="table-dark">
					<tr>
						<th class="all">ID</th>
						<th class="all">Company</th>
						<th class="all">Email</th>
						<th class="all">Phone</th>
						<th class="all">Website</th>
						<th class="all">Date Added</th>
						<th class="all">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="com: ${company}">
						<td th:text="${com.companyId}"></td>
						<td th:text="${com.companyName}"></td>
						<td th:text="${com.email}"></td>
						<td th:text="${com.mobile}"></td>
						<td th:text="${com.website}"></td>
						<td th:text="${#dates.format(com.dateCreated, 'dd/MM/yyyy hh:mm a')}"></td>
						<td>
							<a th:href="@{/get/hsn/(id=${com.companyId})}" class="btn btn-info p-1 mx-2 edit-hsn"
								data-toggle="modal" data-target="#editHsn"><span
									class="glyphicon glyphicon-edit"></span></a>
							<button th:onclick="|deleteId('/admin/account/company/delete/?id=${com.companyId}')|"
								class="btn btn-danger p-1 mx-2 edit-hsn" data-toggle="modal"
								data-target="#delCompany"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="modal fade" id="delCompany" tabindex="-1" role="dialog" aria-labelledby="delCompany"
			aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Delete Company</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to delete Company? Company associated all records will be vanished !
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Delete</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>

</html>