<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Manage Company</h3>
		<div class="my-2">
			<!-- <a type="button" th:href="@{/admin/account/company}" class="btn btn-dark btn-sm text-white">
		          <span class="glyphicon glyphicon-backward"></span> Back
		        </a> -->
			<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<a th:href="@{/admin/account/company}" class="text-white px-3 py-2 hvr bg-danger nav-link"
						style="width: 145px;">
						<span class="glyphicon glyphicon-plus px-2"></span> Create Company
					</a>
				</li>
			</ul>
		</div>
		<div class="col-11 mx-auto my-3">
			<table
				class="table table-stock table-bordered table table-secondary table-striped table-hover mytable w-100 mt-4">
				<thead class="table-dark">
					<tr>
						<th class="all">ID</th>
						<th class="all">Company</th>
						<th class="all">Email</th>
						<th class="all">Phone</th>
						<th class="all">Website</th>
						<th class="all">Date Added</th>
						<th class="all">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="com: ${company}">
						<td th:text="${com.companyId}"></td>
						<td th:text="${com.companyName}"></td>
						<td th:text="${com.email}"></td>
						<td th:text="${com.mobile}"></td>
						<td th:text="${com.website}"></td>
						<td th:text="${#dates.format(com.dateCreated, 'dd/MM/yyyy hh:mm a')}"></td>
						<td>
							<a th:href="@{/get/hsn/(id=${com.companyId})}" class="btn btn-info p-1 mx-2 edit-hsn"
								data-toggle="modal" data-target="#editHsn"><span
									class="glyphicon glyphicon-edit"></span></a>
							<button th:onclick="|deleteId('/admin/account/company/delete/?id=${com.companyId}')|"
								class="btn btn-danger p-1 mx-2 edit-hsn" data-toggle="modal"
								data-target="#delCompany"><span class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="modal fade" id="delCompany" tabindex="-1" role="dialog" aria-labelledby="delCompany"
			aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Delete Company</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to delete Company? Company associated all records will be vanished !
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Delete</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>

</html>