<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Company Management
		</h3>
		<div class="mt-2">
			<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link py-2 mx-1 px-4 text-white hvr bg-primary"
						th:href="@{/admin/account/company/list}">
						Modify Branch
					</a>
				</li>
			</ul>
		</div>
		<div class="col-11 mx-auto">

			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>

			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h4 class="mb-0">Company Creation</h4>
				</div>
				<div class="card-body font-weight-bold">
					<form class="p-0 mb-0" th:action="@{/admin/company/register}" th:object="${company}" method="post"
						enctype="multipart/form-data">
						<div class="row">
							<div class="col-9">
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Company
											Name</label>
										<div class="col-sm-9 px-0">
											<input type="text" name="companyName" id="companyName"
												class="form-control form-control-sm" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Username</label>
										<div class="col-sm-3 px-0">
											<input type="text" name="username" class="form-control form-control-sm" />
										</div>
										<label for="staticEmail"
											class="col-sm-3 col-form-label pr-0 text-center">Password</label>
										<div class="col-sm-3 px-0">
											<input type="password" class="form-control form-control-sm" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Confirm
											Password</label>
										<div class="col-sm-3 px-0">
											<input type="password" name="password"
												class="form-control form-control-sm" />
										</div>
										<label for="staticEmail"
											class="col-sm-3 col-form-label pr-0 text-center">Email</label>
										<div class="col-sm-3 px-0">
											<input type="email" name="email" class="form-control form-control-sm" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Address</label>
										<div class="col-sm-9 px-0">
											<input type="text" name="address" class="form-control form-control-sm" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">State</label>
										<div class="col-sm-3 px-0">
											<select class="form-select" name="state">
												<option value="" selected>Select</option>
												<option value="KARNATAKA">Karnataka</option>
												<option value="KERALA">Kerala</option>
												<option value="TAMIL NADU">Tamil Nadu</option>
											</select>
										</div>
										<label for="staticEmail"
											class="col-sm-3 col-form-label pr-0 text-center">City</label>
										<div class="col-sm-3 px-0">
											<select class="form-select" name="city">
												<option value="" selected>Select</option>
												<option value="KARNATAKA">Karnataka</option>
												<option value="KERALA">Kerala</option>
												<option value="TAMIL NADU">Tamil Nadu</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Pincode</label>
										<div class="col-sm-3 px-0">
											<input type="text" name="pincode" class="form-control form-control-sm" />
										</div>
										<label for="staticEmail"
											class="col-sm-3 col-form-label pr-0 text-center">Phone</label>
										<div class="col-sm-3 px-0">
											<input type="text" name="mobile" class="form-control form-control-sm" />
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-3 col-form-label pr-0">Fax No</label>
										<div class="col-sm-3 px-0">
											<input type="text" name="fax" class="form-control form-control-sm" />
										</div>
										<label for="staticEmail"
											class="col-sm-3 col-form-label pr-0 text-center">Website</label>
										<div class="col-sm-3 px-0">
											<input type="text" name="website" class="form-control form-control-sm" />
										</div>
									</div>
								</div>

							</div>
							<div class="col-3 text-center">
								<label for="staticEmail">Company Logo</label>
								<input type="file" name="logo" class="dropify" data-height="100" />
								<div class="form-check form-switch mt-4">
									<input class="form-check-input" name="enableApp" type="checkbox"
										id="flexSwitchCheckChecked">
									<label class="form-check-label" for="flexSwitchCheckChecked">Enable Mobile
										App</label>
								</div>
								<div class="form-group mt-4 bg-secondary">
									<label class="font-weight-bold pt-2">Company Path</label><br>
									<small>C:\Company\</small>
									<small id="match"></small>
								</div>
							</div>
						</div>

						<div class="col-12 text-center mt-3">
							<button type="submit" class="btn btn-success btn-sm">Submit</button>
							<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>