<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h4 class="text-center text-white mt-2 p-1 bg-primary">User Management
		</h4>
		<div class="row ">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Admin</a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/user/list}">User Management</a></div>
						</li>
						<li class="crumb active">
							<div class="link"><span aria-current="location">User Creation</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-danger" th:href="@{/admin/user/list}"><span
								class="glyphicon glyphicon-th-list pr-1"></span>
							Manage Users
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="my-2">
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h4 class="mb-0">User Creation</h4>
				</div>
				<div class="card-body font-weight-bold">
					<form class="p-0 mb-0" th:action="@{/admin/user/register}" th:object="${user}"
						data-toggle="validator" method="post">
						<div class="row">
							<div class="col-9">
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Select
												Company<strong class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<select class="form-select" name="companyId"
													data-error="Select this field !" required>
													<option value="" selected>Select</option>
													<option th:each="company : ${companies}"
														th:value="${company.companyId}"
														th:utext="${company.companyName}" />
												</select>
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Select
												Branch<strong class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<select class="form-select" name="branchId"
													data-error="Select this field !" required>
													<option value="" selected>Select</option>
													<option th:each="branch : ${branches}" th:value="${branch.branchId}"
														th:utext="${branch.branchName}" />
												</select>
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-4 col-form-label pr-0">Designation<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<select class="form-select" name="designation"
													data-error="Select this field !" required>
													<option value="" selected>Select</option>
													<option value="ADMIN">ADMIN</option>
													<option value="CASHIER">CASHIER</option>
													<option value="AEE">AEE</option>
													<option value="EE">EE</option>
													<option value="JE">JE</option>
													<option value="CE">CE</option>
												</select>
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-6 ">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">User
												Role<strong class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<select class="form-select" name="roleId"
													data-error="Select user role !" required>
													<option value="" selected>Select</option>
													<option th:each="role : ${roles}" th:value="${role.id}"
														th:utext="${role.name}" />
												</select>
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Name<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="text" class="form-control form-control-sm" name="name"
													data-error="Provide this field !" required />
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Mobile<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="number" class="form-control form-control-sm" name="mobile"
													oninput="this.value=this.value.slice(0,this.maxLength)"
													maxlength="10" data-error="Provide this field !" required />
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Email<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="email" class="form-control form-control-sm" name="email"
													data-error="Provide a valid email !" required />
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-4 col-form-label pr-0">Username<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="text" class="form-control form-control-sm" name="username"
													data-error="Provide this field !" required />
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-4 col-form-label pr-0">Password<strong
													class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="password" class="form-control form-control-sm"
													id="inputPassword"
													pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
													data-error="Password must be alphanumeric !" />
												<small class="text-primary">
													Min 6 characters required.
												</small>
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Confirm
												Password</label>
											<div class="col-sm-8">
												<input type="password" name="password"
													class="form-control form-control-sm" id="password"
													data-match="#inputPassword" data-match-error="oops,doesn't match!"
													data-error="Provide confirm password !" required />
												<div class="help-block with-errors text-danger mb-0"></div>
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group row">
											<label for="staticEmail"
												class="col-sm-2 col-form-label pr-0">Remarks</label>
											<div class="col-sm-10">
												<input type="text" class="form-control form-control-sm"
													name="remarks" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-3 text-center">
								<img th:src="@{/images/finger-scan.gif}" width="150" height="200" alt="image" /><br>
								<a class="btn btn-info col-6 mt-3 text-white">Capture</a>
							</div>
						</div>
						<div class="col-12 text-center mt-3">
							<button type="submit" class="btn btn-success btn-sm mr-3">Submit</button>
							<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>