<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1"
			style="background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);">Device & Control (Tab / Phone)
		</h3>
		
		<div class="col-9 mx-auto mt-4">
			<div class="card" style="background-color: rgb(213 245 255);">
				<div class="card-header text-center bg-info text-white">
					
				</div>
				<div class="card-body">
					<form>
									<div class="row ">
										<div class="col">

											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device
														Make*</label>
												</div>
												<div class="col text-start">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-9 col-form-label">Device M
														_IME No*</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Emp
														ID</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Emp
														Division</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Emp
														Department</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device From
														Period</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>

										</div>

										<div class="col">

											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device Type
														*</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device
														S_IME No </label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Emp
														Name</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Emp
														Branch</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device
														Status</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>
											<div class="row p-1">
												<div class="col text-start">
													<label for="inputEmail3" class="col-sm-8 col-form-label">Device To
														Period</label>
												</div>
												<div class="col">
													<div class="col">
														<input type="email" class="form-control form-control-sm"
															id="inputEmail3">
													</div>
												</div>
											</div>

										</div>
									</div>
							<div class="col-12 text-center">
								<button type="submit" class="btn btn-success btn-sm">Submit</button>
								<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
							</div>

								</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>