<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="mt-2 ">
			<h4 class="text-center bg-primary py-1 text-white heading-shadow">ADMIN PANEL</h4>
			<div class="row mt-4">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="dash-cards">
						<article class="dash-card">
							<picture class="thumbnail">

								<img class="category__02 w-100" th:src="@{/images/dashboard/Company.jpg}" alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__01">Company Management</p>
							</a>
						</article>
						<article class="dash-card">
							<picture class="thumbnail">
								<img class="category__03 w-100" th:src="@{/images/dashboard/Branch.png}" alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__03">Branch Management</p>
							</a>
						</article>
						<article class="dash-card">
							<picture class="thumbnail">
								<img class="category__03 w-100" th:src="@{/images/dashboard/User.jpg}" alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__04">User Mangement</p>
							</a>
						</article>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row mt-4">
				<div class="col-1"></div>
				<div class="col-10">
					<div class="dash-cards">
						<article class="dash-card">
							<picture class="thumbnail">
								<img class="category__02 w-100" th:src="@{/images/dashboard/Backup.png}" alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__01">Backup</p>
							</a>
						</article>
						<article class="dash-card">
							<picture class="thumbnail">
								<img class="category__03 w-100" th:src="@{/images/dashboard/Import & Export.png}"
									alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__03">Excel Import & Export</p>
							</a>
						</article>
						<article class="dash-card">
							<picture class="thumbnail">
								<img class="category__03 w-100" th:src="@{/images/dashboard/Device & Control.png}"
									alt="" />
							</picture>
							<a href="#">
								<p class="dash-category category__04">Device & Control</p>
							</a>
						</article>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</section>
</body>

</html>