<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Admin</a></div>
						</li>
						<li class="crumb active">
							<div class="link"><span aria-current="location">User Roles</span></div>
						</li>
					</ol>
				</nav>
			</div>
		</div>

		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="card">
			<div class="card-header text-center heading-bg text-white">
				<h5 class="mb-0">User Roles</h5>
			</div>
			<div class="card-body font-weight-bold">
				<form class="p-0 mb-0" th:action="@{/admin/user/roles/update}" data-toggle="validator"
					th:object="${userRoles}" method="post">
					<div class="mx-auto col-4">
						<div class="form-group row mb-0">
							<label for="staticEmail" class="col-sm-4 col-form-label pr-0">User Role<strong
									class="text-danger">*</strong></label>
							<div class="col-sm-8 px-0">
								<select class="form-select" name="roleId" id="roleId-change" required>
									<option value="" selected>Select</option>
									<option th:each="role : ${roles}" th:value="${role.id}" th:utext="${role.name}" />
								</select>

							</div>
						</div>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-one" role="tabpanel"
							aria-labelledby="pills-one-tab" tabindex="0">
							<div class="row mt-4">
								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Admin
										Pages
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-3">
											<input type="checkbox" class="form-check-input" id="admin-page">
											<input type="hidden" name="adminpage" id="set-admin-page">
											<label class="form-check-label" for="admin-page">Admin Home</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="company-management" />
											<input type="hidden" name="companyManagement" id="set-company-management">
											<label class="form-check-label" for="company-management">Company
												Management</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="branch-management" />
											<input type="hidden" name="branchManagement" id="set-branch-management">
											<label class="form-check-label" for="branch-management">Branch
												Management</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="user-management" />
											<input type="hidden" name="userManagement" id="set-user-management">
											<label class="form-check-label" for="user-management">User
												Management</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="role-master" />
											<input type="hidden" name="roleMaster" id="set-role-master">
											<label class="form-check-label" for="role-master">Role
												Master</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="view-userRoles" />
											<input type="hidden" name="userRoles" id="set-view-userRoles">
											<label class="form-check-label" for="view-userRoles">User
												Roles</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="update-userRoles" />
											<input type="hidden" name="updateUserRoles" id="set-update-userRoles">
											<label class="form-check-label" for="update-userRoles">Assign
												Permission</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="import-export" />
											<input type="hidden" name="importExport" id="set-import-export">
											<label class="form-check-label" for="import-export">Excel
												Import/Export</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="device-control" />
											<input type="hidden" name="deviceControl" id="set-device-control">
											<label class="form-check-label" for="device-control">Device Control</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="server-backup" />
											<input type="hidden" name="serverBackup" id="set-server-backup">
											<label class="form-check-label" for="server-backup">Server Backup</label>
										</div>


									</div>

								</div>
								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Company
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="create-company" />
											<input type="hidden" name="createCompany" id="set-create-company">
											<label class="form-check-label" for="create-company">Create
												Company</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="edit-company" />
											<input type="hidden" name="editCompany" id="set-edit-company">
											<label class="form-check-label" for="edit-company">Edit
												Company</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="view-company" />
											<input type="hidden" name="viewCompany" id="set-view-company">
											<label class="form-check-label" for="view-company">View
												Company</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="delete-company" />
											<input type="hidden" name="deleteCompany" id="set-delete-company">
											<label class="form-check-label" for="delete-company">Delete
												Company</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Branch
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="create-branch" />
											<input type="hidden" name="createBranch" id="set-create-branch">
											<label class="form-check-label" for="create-branch">Create
												Branch</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="edit-branch" />
											<input type="hidden" name="editBranch" id="set-edit-branch">
											<label class="form-check-label" for="edit-branch">Edit
												Branch</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="view-branch" />
											<input type="hidden" name="viewBranch" id="set-view-branch">
											<label class="form-check-label" for="view-branch">View
												Branch</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="delete-branch" />
											<input type="hidden" name="deleteBranch" id="set-delete-branch">
											<label class="form-check-label" for="delete-branch">Delete
												Branch</label>
										</div>


									</div>

								</div>

							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">User
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="create-user" />
											<input type="hidden" name="createUser" id="set-create-user">
											<label class="form-check-label" for="create-user">Create
												User</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="edit-user" />
											<input type="hidden" name="editUser" id="set-edit-user">
											<label class="form-check-label" for="edit-user">Edit
												User</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="delete-user" />
											<input type="hidden" name="deleteUser" id="set-delete-user">
											<label class="form-check-label" for="delete-user">Delete
												User</label>
										</div>


									</div>

								</div>
								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Role
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="create-role" />
											<input type="hidden" name="createRole" id="set-create-role">
											<label class="form-check-label" for="create-role">Create
												Role</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="edit-role" />
											<input type="hidden" name="editRole" id="set-edit-role">
											<label class="form-check-label" for="edit-role">Edit
												Role</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="delete-role" />
											<input type="hidden" name="deleteRole" id="set-delete-role">
											<label class="form-check-label" for="delete-role">Delete
												Role</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Task
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-je" />
											<input type="hidden" name="taskJe" id="set-task-je">
											<label class="form-check-label" for="task-je">JE
												Investigation</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-aee" />
											<input type="hidden" name="taskAee" id="set-task-aee">
											<label class="form-check-label" for="task-aee">AEE
												Investigation</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-ee" />
											<input type="hidden" name="taskEe" id="set-task-ee">
											<label class="form-check-label" for="task-ee">EE
												Investigation</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-commissioner" />
											<input type="hidden" name="taskCommissioner" id="set-task-commissioner">
											<label class="form-check-label" for="task-commissioner">Commissioner
												Investigation</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-workcomplete" />
											<input type="hidden" name="taskWorkcomplete" id="set-task-workcomplete">
											<label class="form-check-label" for="task-workcomplete">Work
												Complete</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="task-jobcard" />
											<input type="hidden" name="taskJobcard" id="set-task-jobcard">
											<label class="form-check-label" for="task-jobcard">Job Card
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="task-complainthistory" />
											<input type="hidden" name="taskComplainthistory"
												id="set-task-complainthistory">
											<label class="form-check-label" for="task-complainthistory">Complaint
												History</label>
										</div>

									</div>
								</div>

							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Asset Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="asset-management" />
											<input type="hidden" name="assetManagement" id="set-asset-management">
											<label class="form-check-label" for="asset-management">Assest
												Management</label>
										</div>


									</div>

								</div>

								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Stock Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="stock-available" />
											<input type="hidden" name="stockAvailable" id="set-stock-available">
											<label class="form-check-label" for="stock-available">Stock
												Available</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="inward-matierals" />
											<input type="hidden" name="inwardMatierals" id="set-inward-matierals">
											<label class="form-check-label" for="inward-matierals">Inward
												Matierals</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="inward-spares" />
											<input type="hidden" name="inwardSpares" id="set-inward-spares">
											<label class="form-check-label" for="inward-tools">Inward Spares</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="inward-tools" />
											<input type="hidden" name="inwardTools" id="set-inward-tools">
											<label class="form-check-label" for="inward-tools">Inward Tools &
												Equipment</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="outward-materials" />
											<input type="hidden" name="outwardMaterials" id="set-outward-materials">
											<label class="form-check-label" for="outward-materials">Outward Materials
												Issue</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="outward-spares" />
											<input type="hidden" name="outwardSpares" id="set-outward-spares">
											<label class="form-check-label" for="outward-spares">Outward Spares
												Issue</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="outward-tools" />
											<input type="hidden" name="outwardTools" id="set-outward-tools">
											<label class="form-check-label" for="outward-tools">Outward Tools
												Issue</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="matierals-return" />
											<input type="hidden" name="matieralsReturn" id="set-matierals-return">
											<label class="form-check-label" for="matierals-return">Stock Matierals
												Return</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="spares-return" />
											<input type="hidden" name="sparesReturn" id="set-spares-return">
											<label class="form-check-label" for="spares-return">Stock Spares
												Return</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="tools-return" />
											<input type="hidden" name="toolsReturn" id="set-tools-return">
											<label class="form-check-label" for="tools-return">Stock Tools
												Return</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="reject-damage-return" />
											<input type="hidden" name="rejectDamageReturn"
												id="set-reject-damage-return">
											<label class="form-check-label" for="reject-damage-return">Reject/Damage
												Return</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="stock-approvals" />
											<input type="hidden" name="stockApprovals" id="set-stock-approvals">
											<label class="form-check-label" for="stock-approvals">Stock
												Approvals</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Work Orders
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="generate-work-order" />
											<input type="hidden" name="generateWorkOrder" id="set-generate-work-order">
											<label class="form-check-label" for="generate-work-order">Generate Work
												Order</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="hold-work-order" />
											<input type="hidden" name="holdWorkOrder" id="set-hold-work-order">
											<label class="form-check-label" for="hold-work-order">Hold Work
												Order</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="cancel-work-order" />
											<input type="hidden" name="cancelWorkOrder" id="set-cancel-work-order">
											<label class="form-check-label" for="cancel-work-order">Cancel Work
												Order</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="work-estmation" />
											<input type="hidden" name="workEstmation" id="set-work-estmation">
											<label class="form-check-label" for="work-estmation">Work Estimation</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Employee
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-dashBoard" />
											<input type="hidden" name="employeeDashBoard" id="set-employee-dashBoard">
											<label class="form-check-label" for="employee-dashBoard">Employee
												DashBoard</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-master" />
											<input type="hidden" name="employeeMaster" id="set-employee-master">
											<label class="form-check-label" for="employee-master">Employee
												Master</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-attendance" />
											<input type="hidden" name="attendance" id="set-employee-attendance">
											<label class="form-check-label" for="employee-attendance">Attendnace</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-salary" />
											<input type="hidden" name="salary" id="set-employee-salary">
											<label class="form-check-label" for="employee-salary">Salary</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-inspection" />
											<input type="hidden" name="inspection" id="set-employee-inspection">
											<label class="form-check-label" for="employee-inspection">Inspection</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="employee-leave" />
											<input type="hidden" name="leave" id="set-employee-leave">
											<label class="form-check-label" for="employee-leave">Leave</label>
										</div>

									</div>

								</div>

								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Billing
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="cons-master-details" />
											<input type="hidden" name="consMasterDetails" id="set-cons-master-details">
											<label class="form-check-label" for="cons-master-details">Cons Master
												Details</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="cons-trans-details" />
											<input type="hidden" name="consTransDetails" id="set-cons-trans-details">
											<label class="form-check-label" for="cons-trans-details">Cons Trans
												Details</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="meter-details" />
											<input type="hidden" name="meterDetails" id="set-meter-details">
											<label class="form-check-label" for="meter-details">Meter Details</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="wards-consumption" />
											<!--<input type="hidden" name="wardsConsumption" id="set-wards-consumption">-->
											<label class="form-check-label" for="wards-consumption">Wards
												Consumption</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="dma-payment" />
											<!--<input type="hidden" name="dmaPayment" id="set-dma-payment">-->
											<label class="form-check-label" for="dma-payment">DMA Payment</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="billing-dcb" />
											<!--<input type="hidden" name="dcb" id="set-billing-dcb">-->
											<label class="form-check-label" for="billing-dcb">DCB</label>
										</div>
									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Pump Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="pump-dashboard" />
											<input type="hidden" name="pumpDashboard" id="set-pump-dashboard">
											<label class="form-check-label" for="pump-dashboard">Pump Dashboard</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="pump-maintenance" />
											<input type="hidden" name="pumpMaintenance" id="set-pump-maintenance">
											<label class="form-check-label" for="pump-maintenance">Pump
												Maintenance</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pump-maintenance-indent" />
											<!--<input type="hidden" name="pumpMaintenanceIndent" id="set-pump-maintenance-indent">-->
											<label class="form-check-label" for="pump-maintenance-indent">Maintenance
												Indent</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pump-maintenance-update" />
											<!--<input type="hidden" name="pumpMaintenanceUpdate" id="set-pump-maintenance-update">-->
											<label class="form-check-label" for="pump-maintenance-update">Maintenance
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pump-maintenance-inspection" />
											<!--<input type="hidden" name="pumpMaintenanceInspection" id="set-pump-maintenance-inspection">-->
											<label class="form-check-label"
												for="pump-maintenance-inspection">Maintenance
												Inspection</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pump-maintenance-history" />
											<!--<input type="hidden" name="pumpMaintenanceHistory" id="set-pump-maintenance-history">-->
											<label class="form-check-label" for="pump-maintenance-history">Maintenance
												History</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Pipe Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="pipe-dashboard" />
											<input type="hidden" name="pipeDashboard" id="set-pipe-dashboard">
											<label class="form-check-label" for="pipe-dashboard">Pipe Dashboard</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pipe-maintenance-indent" />
											<input type="hidden" name="pipeMaintenanceIndent"
												id="set-pipe-maintenance-indent">
											<label class="form-check-label" for="pipe-maintenance-indent">Maintenance
												Indent</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pipe-maintenance-update" />
											<input type="hidden" name="pipeMaintenanceUpdate"
												id="set-pipe-maintenance-update">
											<label class="form-check-label" for="pipe-maintenance-update">Maintenance
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pipe-maintenance-inspection" />
											<input type="hidden" name="pipeMaintenanceInspection"
												id="set-pipe-maintenance-inspection">
											<label class="form-check-label"
												for="pipe-maintenance-inspection">Maintenance
												Inspection</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="pipe-maintenance-history" />
											<input type="hidden" name="pipeMaintenanceHistory"
												id="set-pipe-maintenance-history">
											<label class="form-check-label" for="pipe-maintenance-history">Maintenance
												History</label>
										</div>
									</div>
								</div>
								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Vehicle
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="vehicle-tracking-mangement" />
											<input type="hidden" name="vehicleTrackingMangement"
												id="set-vehicle-tracking-mangement">
											<label class="form-check-label" for="vehicle-tracking-mangement">Tracking
												Mangement</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="vehicle-history" />
											<input type="hidden" name="vehicleHistory" id="set-vehicle-history">
											<label class="form-check-label" for="vehicle-history">Vehicle
												History</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="vehicle-fuel-management" />
											<!--<input type="hidden" name="vehicleFuelManagement" id="set-vehicle-fuel-management">-->
											<label class="form-check-label" for="vehicle-fuel-management">Fuel
												Management</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="vehicle-index" />
											<input type="hidden" name="vehicleIndex" id="set-vehicle-index">
											<label class="form-check-label" for="vehicle-index">Vehicle Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="vehicle-management-index" />
											<input type="hidden" name="vehicleManagementIndex"
												id="set-vehicle-management-index">
											<label class="form-check-label" for="vehicle-management-index">Management
												Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="vehicle-inspection" />
											<input type="hidden" name="vehicleInspection" id="set-vehicle-inspection">
											<label class="form-check-label" for="vehicle-inspection">Vehicle
												Inspection</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="vehicle-work-order-view" />
											<input type="hidden" name="vehicleWorkOrderView"
												id="set-vehicle-work-order-view">
											<label class="form-check-label" for="vehicle-work-order-view">Work Order
												View</label>
										</div>
									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Leakage
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="leakage-dashboard" />
											<input type="hidden" name="leakageDashboard" id="set-leakage-dashboard">
											<label class="form-check-label" for="leakage-dashboard">Leakage
												Dashboard</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="leakage-indent" />
											<input type="hidden" name="leakageIndent" id="set-leakage-indent">
											<label class="form-check-label" for="leakage-indent">Leakage Indent</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="leakage-maintenance-update" />
											<input type="hidden" name="leakageMaintenanceUpdate"
												id="set-leakage-maintenance-update">
											<label class="form-check-label" for="leakage-maintenance-update">Maintenance
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="leakage-work-inspection" />
											<input type="hidden" name="leakageWorkInspection"
												id="set-leakage-work-inspection">
											<label class="form-check-label" for="leakage-work-inspection">Work
												Inspection</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="leakage-leakage-history" />
											<input type="hidden" name="leakageLeakageHistory"
												id="set-leakage-leakage-history">
											<label class="form-check-label" for="leakage-leakage-history">Leakage
												History</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Meter Management
									</h3>
									<div class="px-5">

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="testing-maintenance" />
											<!--<input type="hidden" name="testingMaintenance" id="set-testing-maintenance">-->
											<label class="form-check-label" for="testing-maintenance">Testing /
												Maintenance</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="meter-replace" />
											<input type="hidden" name="meterReplace" id="set-meter-replace">
											<label class="form-check-label" for="meter-replace">Meter
												Replacement</label>
										</div>

									</div>

								</div>

								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Hand Pump
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="hand-pump-index" />
											<input type="hidden" name="handPumpIndex" id="set-hand-pump-index">
											<label class="form-check-label" for="hand-pump-index">Hand Pump
												Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="hand-pump-indent" />
											<input type="hidden" name="handPumpIndent" id="set-hand-pump-indent">
											<label class="form-check-label" for="hand-pump-indent">Hand Pump
												Indent</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="hand-pump-work-order" />
											<input type="hidden" name="handPumpWorkOrder" id="set-hand-pump-work-order">
											<label class="form-check-label" for="hand-pump-work-order">Work
												Orders</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="hand-pump-work-update" />
											<input type="hidden" name="handPumpWorkUpdate"
												id="set-hand-pump-work-update">
											<label class="form-check-label" for="hand-pump-work-update">Work
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="hand-pump-inspection" />
											<input type="hidden" name="handPumpHandPumpInspection"
												id="set-hand-pump-inspection">
											<label class="form-check-label" for="hand-pump-inspection">Hand Pump
												Inspection</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="hand-pump-maintenance-history" />
											<input type="hidden" name="handPumpMaintenanceHistory"
												id="set-hand-pump-maintenance-history">
											<label class="form-check-label"
												for="hand-pump-maintenance-history">Maintenance History</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Borewell
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="borewell-index" />
											<input type="hidden" name="borewellIndex" id="set-borewell-index">
											<label class="form-check-label" for="borewell-index">Borewell Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="borewell-indent" />
											<input type="hidden" name="borewellIndent" id="set-borewell-indent">
											<label class="form-check-label" for="borewell-indent">Borewell
												Indent</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="borewell-work-order" />
											<input type="hidden" name="borewellWorkOrder" id="set-borewell-work-order">
											<label class="form-check-label" for="borewell-work-order">Borewell Work
												Orders</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="borewell-work-update" />
											<input type="hidden" name="borewellWorkUpdate"
												id="set-borewell-work-update">
											<label class="form-check-label" for="borewell-work-update">Borewell Work
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="borewell-inspection" />
											<input type="hidden" name="borewellHandPumpInspection"
												id="set-borewell-inspection">
											<label class="form-check-label" for="borewell-inspection">Borewell
												Inspection</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="borewell-maintenance-history" />
											<input type="hidden" name="borewellMaintenanceHistory"
												id="set-borewell-maintenance-history">
											<label class="form-check-label" for="borewell-maintenance-history">Borewell
												History</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">GLSR OHT
										Management
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="glsroht-index" />
											<input type="hidden" name="glsrohtIndex" id="set-glsroht-index">
											<label class="form-check-label" for="glsroht-index">GLSR OHT Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="glsroht-indent" />
											<input type="hidden" name="glsrohtIndent" id="set-glsroht-indent">
											<label class="form-check-label" for="glsroht-indent">GLSR OHT Indent</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="glsroht-work-order" />
											<input type="hidden" name="glsrohtWorkOrder" id="set-glsroht-work-order">
											<label class="form-check-label" for="glsroht-work-order">GLSR OHT Work
												Orders</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="glsroht-work-update" />
											<input type="hidden" name="glsrohtWorkUpdate" id="set-glsroht-work-update">
											<label class="form-check-label" for="glsroht-work-update">GLSR OHT
												WorkOrder</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="glsroht-inspection" />
											<input type="hidden" name="glsrohtHandPumpInspection"
												id="set-glsroht-inspection">
											<label class="form-check-label" for="glsroht-inspection">GLSR OHT
												Inspection</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="glsroht-maintenance-history" />
											<input type="hidden" name="glsrohtMaintenanceHistory"
												id="set-glsroht-maintenance-history">
											<label class="form-check-label" for="glsroht-maintenance-history">GLSR OHT
												History</label>
										</div>
									</div>

								</div>

								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Levels Control
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="levels-control-index" />
											<input type="hidden" name="levelsControlIndex"
												id="set-levels-control-index">
											<label class="form-check-label" for="levels-control-index">Level Control
												Index</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="levels-control-indent" />
											<input type="hidden" name="levelsControlIndent"
												id="set-levels-control-indent">
											<label class="form-check-label" for="levels-control-indent">Level Control
												Indent</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="levels-control-work-order" />
											<input type="hidden" name="levelsControlWorkOrder"
												id="set-levels-control-work-order">
											<label class="form-check-label" for="levels-control-work-order">Level
												Control
												Work Order</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="levels-control-work-update" />
											<input type="hidden" name="levelsControlWorkUpdate"
												id="set-levels-control-work-update">
											<label class="form-check-label" for="levels-control-work-update">Level
												Control Work
												Update</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="levels-control-inspection" />
											<input type="hidden" name="levelsControlInspection"
												id="set-levels-control-inspection">
											<label class="form-check-label" for="levels-control-inspection">Level
												Control
												Inspection</label>
										</div>
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input"
												id="levels-control-history" />
											<input type="hidden" name="levelsControlHistory"
												id="set-levels-control-history">
											<label class="form-check-label" for="levels-control-history">Level Control
												History</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Water Storage
									</h3>
									<div class="px-5">

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="water-storage-glsr" />
											<!--<input type="hidden" name="waterStorageGlsr" id="set-water-storage-glsr">-->
											<label class="form-check-label" for="water-storage-glsr">GLSR</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="water-storage-oht" />
											<!--<input type="hidden" name="waterStorageoht" id="set-water-storage-oht">-->
											<label class="form-check-label" for="water-storage-oht">OHT</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Contact
										Management
									</h3>
									<div class="px-5">


										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="contact-management" />
											<input type="hidden" name="contactManagement" id="set-contact-management">
											<label class="form-check-label" for="contact-management">Contact
												Management</label>
										</div>

									</div>

								</div>

								<div class="col-4">
									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Approvals
									</h3>
									<div class="px-5">
										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="approvals" />
											<input type="hidden" name="approvals" id="set-approvals">
											<label class="form-check-label" for="approvals">Approvals</label>
										</div>

									</div>

								</div>
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">MIS Reports
									</h3>
									<div class="px-5">

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="daily-report" />
											<input type="hidden" name="dailyReport" id="set-daily-report">
											<label class="form-check-label" for="daily-report">Daily Report</label>
										</div>

										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="monthly-report" />
											<input type="hidden" name="monthlyReport" id="set-monthly-report">
											<label class="form-check-label" for="monthly-report">Daily Report</label>
										</div>

									</div>

								</div>
							</div>
							<div class="row mt-3">
								<div class="col-4">

									<h3 class="col-form-label bg-dark text-white font-weight-bold pl-5">Masters
									</h3>
									<div class="px-5">


										<div class="form-check form-switch mt-2">
											<input type="checkbox" class="form-check-input" id="masters" />
											<input type="hidden" name="masters" id="set-masters">
											<label class="form-check-label" for="masters">Masters</label>
										</div>

									</div>

								</div>

								<div class="col-4">


								</div>
								<div class="col-4">



								</div>
							</div>

						</div>
						<div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab"
							tabindex="0">

						</div>
						<div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab"
							tabindex="0">

						</div>
					</div>
					<!--<ul class="nav nav-pills justify-content-end py-1 mb-0" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active mx-1 py-2 text-white hvr bg-dark text-white"
								id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one" type="button"
								role="tab" aria-controls="pills-one" aria-selected="true">
								1
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link py-2 mx-1 text-white hvr bg-dark text-white" id="pills-two-tab"
								data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab"
								aria-controls="pills-two" aria-selected="false">
								2
							</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link py-2 mx-1 text-white hvr bg-dark text-white" id="pills-three-tab"
								data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab"
								aria-controls="pills-three" aria-selected="false">
								3
							</button>
						</li>
					</ul>-->
					<div class="text-center mt-3">
						<button type="submit" class="btn btn-success btn-sm mr-3">Submit</button>

					</div>
				</form>
			</div>
		</div>

	</section>
</body>

</html>