<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h5 class="text-center text-white mt-2 p-1 bg-primary">User Role ( with Email, SMS, Text Notification) </h5>

		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/home}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Admin</a></div>
						</li>
						<li class="crumb active">
							<div class="link"><span aria-current="location">User Roles</span></div>
						</li>
					</ol>
				</nav>
			</div>
		</div>


		<div class="col-11 mx-auto my-auto">
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<div class="card">
				<div class="card-header text-center heading-bg text-white">

				</div>
				<div class="card-body font-weight-bold">
					<form class="p-0 mb-0" th:action="@{/admin/user/roles/update}" th:object="${userRoles}" method="post">
						<div class="mx-auto col-4">
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-4 col-form-label pr-0">User Roles</label>
								<div class="col-sm-8 px-0">
									<select class="form-select" name="roleId">
										<option th:each="role : ${roles}" th:value="${role.id}"
											th:utext="${role.name}" />
									</select>
								</div>
							</div>
						</div>
						<div class="tree_main">
							<ul id="bs_main" class="main_ul">
								<li id="bs_1">
									<span class="plus">&nbsp;</span>
									<input type="hidden" th:value="${value.pageNo}" id="get-admin">		
									<input type="checkbox" class="admin-page" th:onclick="|enableAdmin()|" id="c_bs_1" />
									<input type="hidden" name="allAdminpages" id="set-admin">	
									<span>Admin Pages</span>
									<ul id="bs_l_1" class="sub_ul" style="display: none">
										<li id="bf_1">
											<span class="plus">&nbsp;</span>
											<input type="checkbox" id="c_bf_1" />
											<span>Company Mangement</span>
											<ul id="bf_l_1" style="display: none" class="inner_ul">
												<li id="io_1">
													<input type="checkbox" id="c_io_1" /><span>Create Company</span>
												</li>
												<li id="io_2">
													<input type="checkbox" id="c_io_2" /><span>Edit Company</span>
												</li>
												<li id="io_3">
													<input type="checkbox" id="c_io_3" /><span>View Company</span>
												</li>
												<li id="io_4">
													<input type="checkbox" id="c_io_4" /><span>Delete Company</span>
												</li>
											</ul>
										</li>
										<li id="bf_2">
											<span class="plus">&nbsp;</span>
											<input type="checkbox" id="c_bf_2" />
											<span>Branch Mangement</span>
										</li>
										<li id="bf_3">
											<span class="plus">&nbsp;</span>
											<input type="checkbox" id="c_bf_3" />
											<span>User Mangement</span>
										</li>
										<li id="bf_4">
											<span class="plus">&nbsp;</span>
											<input type="checkbox" id="c_bf_4" />
											<span>Role Master</span>
										</li>
										<li id="bf_5">
											<span class="plus">&nbsp;</span>
											<input type="checkbox" id="c_bf_5" />
											<span>User Roles</span>
										</li>
									</ul>
								</li>

							</ul>
						</div>

						<div class="col-12 text-center mt-3">
							<button type="submit" class="btn btn-success btn-sm mr-3">Submit</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>