<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h4 class="text-center text-white mt-2 p-1 bg-primary">User Management</h4>

		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/home}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/admin/home}">Admin</a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">User Management</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-danger" th:href="@{/admin/user/create}"><span
								class="glyphicon glyphicon-plus pr-1"></span>
							Create User
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-11 mx-auto my-3">
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<table
				class="table table-stock table-bordered table table-secondary table-striped table-hover mytable w-100 mt-4">
				<thead class="table-dark">
					<tr>
						<th class="all">Name</th>
						<th class="all">Username</th>
						<th class="all">Email</th>
						<th class="all">Phone</th>
						<th class="all">Remarks</th>
						<th class="all">Date Added</th>
						<th class="all">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${users}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.mobile}"></td>
						<td th:text="${user.remarks}"></td>
						<td th:text="${#dates.format(user.dateCreated, 'dd/MM/yyyy hh:mm a')}"></td>
						<td>
							<a th:href="@{'/admin/user/edit/' + ${user.userId}}"
								class="btn btn-info p-1 mx-2" id="editUser" data-bs-toggle="tooltip"
										data-bs-placement="top" title="Edit User"><span class="glyphicon glyphicon-edit"></span></a>
							<button th:onclick="|deleteId('/admin/user/delete/?id=${user.userId}')|"
								class="btn btn-danger p-1 mx-2 edit-hsn" data-toggle="modal" data-bs-toggle="tooltip"
								data-bs-placement="top" title="Delete User" data-target="#delUser"><span
									class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="modal fade" id="delUser" tabindex="-1" role="dialog" aria-labelledby="delUser" aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Delete Company</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to delete User?
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Delete</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>