<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Meter Management
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/monitor/meter/dashboard}" class="fa fa-home pt-1"></a>
							</div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Meter History</span></div>
						</li>
					</ol>
				</nav>
			</div>

		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="col-11 mx-auto">
		<table
			class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
			<thead class="table-dark">
				<tr>
					<th class="all">Complaint Number</th>
					<th class="all">Department</th>
					<th class="all">Device No</th>					
					<th class="all">Consumer Name</th>
					<th class="all">Dma</th>
					<th class="all">Ward</th>
					<th class="all">Device Ownership</th>				
					<th class="all">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sparesList: ${sparesLists}">
					<td th:text="${sparesList.itemId}"></td>
					<td th:text="${sparesList.category}"></td>
					<td th:text="${sparesList.itemName}"></td>
				
					<td th:text="${sparesList.quantity}"></td>
					<td>&#8377;<label class="px-1" th:text="${sparesList.costRate}"></label></td>
					<td>&#8377;<label class="px-1" th:text="${sparesList.mrpRate}"></label></td>
					<td>&#8377;<label class="px-1" th:text="${sparesList.subTotal}"></label></td>
					<td><label class="px-1" th:text="${sparesList.igst}"></label>%</td>
					<td>&#8377;<label class="px-1" th:text="${sparesList.grandTotal}"></label></td>
					<td th:text="${sparesList.entryDate}"></td>
					<td class="text-center">
						<span class="status-pending" th:text="${sparesList.approvalStatus}" />
					</td>
					<td class="text-center">
						<button
							th:onclick="|getSpareDetails('/stocks/inward/spares/get/${sparesList.spareId}')|"
							class="btn btn-success p-1 mx-2" data-toggle="modal"
							data-target="#spare-detail">View</button>
						<button
							th:onclick="|deleteId('/stocks/inward/spares/list/delete/${sparesList.spareId}')|"
							class="btn btn-danger p-1 mx-2" data-toggle="modal" data-target="#delItem"
							data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span
								class="glyphicon glyphicon-trash"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
		
		</div>
	</section>
</body>

</html>