<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Meter Management
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/monitor/meter/dashboard}" class="fa fa-home pt-1"></a>
							</div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Meter Index</span></div>
						</li>
					</ol>
				</nav>
			</div>

		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="col-11 mx-auto">
			<div class="card bl-cr">
				<div class="card-header heading-bg">
					<h3 class="text-center text-white mb-0">Meter Index</h3>
				</div>
				<div class="card-body font-weight-bold">



					<div class="row ">
						<div class="col-3 text-start">
							<label for="pumpId" class="col-sm-10 col-form-label">Device No</label>
							<div class="col">
								<input type="text" class="form-control bg-white" name="pumpId">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpType" class="col-sm-8 col-form-label">Device Make</label>
							<div class="col">
								<input type="text" class="form-control bg-white" name="pumpType">
							</div>
						</div>

						<div class="col text-start">
							<label for="pumpDetails" class="col-sm-10 col-form-label">Consumer ID</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpDetails">
							</div>
						</div>
						<div class="col text-start">
							<label for="purchaseDate" class="col-sm-10 col-form-label">Consumer Name</label>
							<div class="col">
								<input type="text" class="form-control bg-white"  
									name="purchaseDate">
							</div>
						</div>
					</div>

					<div class="row ">
						<div class="col text-start">
							<label for="purchaseDate" class="col-sm-10 col-form-label">Sanction Date</label>
							<div class="col">
								<input type="date" class="form-control bg-white"  
									name="purchaseDate">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpWarranty" class="col-sm-8 col-form-label">Purchase Date</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="pumpWarranty">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpStonName" class="col-sm-10 col-form-label">IMIS ID</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpStonName">
							</div>
						</div>
						<div class="col text-start">
							<label for="nextMaintenTime" class="col-sm-10 col-form-label">DMA ID</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpStonName">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col text-start">
							<label for="manufactureName" class="col-sm-12 col-form-label">Device Ref No
							</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="manufactureName">
							</div>
						</div>
						<div class="col text-start">
							<label for="manufactureContact" class="col-sm-12 col-form-label">Device type
							</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly
									 name="manufactureContact">
							</div>
						</div>
						<div class="col text-start">
							<label for="manufactureAddr" class="col-sm-10 col-form-label">Device Digit</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="manufactureAddr">
							</div>
						</div>
						<div class="col text-start">
							<label for="workInterval" class="col-sm-10 col-form-label">Old Device No</label>
							<div class="col">
								<input type="text" class="form-control" name="workInterval">
							</div>
						</div>
					</div>

					<div class="row ">
						<div class="col-3 text-start">
							<label for="pumpId" class="col-sm-10 col-form-label">Device IR</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="pumpId">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpType" class="col-sm-8 col-form-label">Device FR</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="pumpType">
							</div>
						</div>

						<div class="col text-start">
							<label for="pumpDetails" class="col-sm-10 col-form-label">Remove Date</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpDetails">
							</div>
						</div>
						<div class="col text-start">
							<label for="purchaseDate" class="col-sm-10 col-form-label">Connected Date</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="purchaseDate">
							</div>
						</div>
					</div>

					<div class="row ">
						<div class="col text-start">
							<label for="purchaseDate" class="col-sm-10 col-form-label">Device Location</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="purchaseDate">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpWarranty" class="col-sm-8 col-form-label">Device Ownership</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="pumpWarranty">
							</div>
						</div>
						<div class="col text-start">
							<label for="pumpStonName" class="col-sm-10 col-form-label">Pipe Size</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpStonName">
							</div>
						</div>
						<div class="col text-start">
							<label for="nextMaintenTime" class="col-sm-10 col-form-label">Device
								Warranty</label>
							<div class="col">
								<input type="text" class="form-control" name="pumpStonName">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col text-start">
							<label for="manufactureName" class="col-sm-12 col-form-label">Plumber Name</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="manufactureName">
							</div>
						</div>
						<div class="col text-start">
							<label for="manufactureContact" class="col-sm-12 col-form-label">Plumber Id</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly
									 name="manufactureContact">
							</div>
						</div>
						<div class="col text-start">
							<label for="manufactureAddr" class="col-sm-10 col-form-label">DMA</label>
							<div class="col">
								<input type="text" class="form-control bg-white" readonly 
									name="manufactureAddr">
							</div>
						</div>
						<div class="col text-start">
							<label for="workInterval" class="col-sm-10 col-form-label">Ward</label>
							<div class="col">
								<input type="text" class="form-control bg-white" name="workInterval" readonly>
							</div>
						</div>
					</div>

					<div class="mt-4 text-center">
						<button type="reset" class="btn btn-light">Clear</button>

					</div>

				</div>

			</div>
		</div>
	</section>
</body>

</html>