<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
	<div class="col-sm-11 mx-auto mt-2">
		<form >
			<div class="card bl-cr">
				<div class="card-header heading-bg">
					<h3 class="text-center text-white">Vehicle Mangement Index</h3>
				</div>
				<div class="card-body font-weight-bold">
					<div class="row mt-3">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Work Order No</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Work Order No">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Vehicle index ID</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Vehicle index ID">
						</div>
						<div class="form-group col-md-6">
							<label for="inputEmail4">Work Order Scope</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Work Order Scope">
						</div>
					</div>
					<!--***********Row 2**********-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Vehicle ID</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Vehicle ID">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Vehicle Number</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Vehicle Number">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Vehicle type</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Vehicle type">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Vehicle Model</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Vehicle Model">
						</div>
					</div>

					<!--***********Row 3**********-->
					<div class="row mt-3">
						<div class="form-group col-md-6">
							<label for="inputEmail4">Cassis No</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Cassis No">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Owner Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Owner Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Address</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Address">
						</div>
					</div>

					<!--***********Row 4**********-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Contact Number</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Contact Number">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">CC</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="CC">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Engine No</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Vehicle type">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Class</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Class">
						</div>
					</div>

					<!--***********Row 5**********-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Color</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Color">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">SEATING</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="SEATING">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Mantaianace Type</label>
							<select class="form-select" id="inputGroupSelect03"
								aria-label="Example select with button addon">
								<option selected>Choose...</option>
								<option value="1">Emergency Maintainance</option>
								<option value="2">Routine Maintainance</option>
								<option value="3">Pro-Active Maintainance</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Date</label>
							<input type="date" class="form-control" id="inputEmail4" placeholder="Date">
						</div>
					</div>

					<!--***********Text Area**********-->
					
					<div class="row mt-2">
					<div class="form-group col-md-12">
							<label for="inputEmail4">Maintenance Reason</label>
							<textarea type="text" class="form-control" id="inputEmail4" placeholder="Complaint Details "></textarea>
						</div>
						</div>
					

					<!--***********Row 6**********-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Maintainace From Date </label>
							<input type="date" class="form-control" id="inputEmail4"
								placeholder="Maintainace From Date ">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Maintainace To Date</label>
							<input type="date" class="form-control" id="inputEmail4" placeholder="Maintainace To Date ">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Driver Name</label>
							<input type="text" class="form-control" id="inputEmail4" placeholder="Driver Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Driver Contact No</label>
							<input type="number" class="form-control" id="inputEmail4" placeholder="Driver Contact No">
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-primary w-25">Submit</button>
				</div>
			</div>
		</form>
		</div>
	</section>
</body>

</html>