<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<body>
	<section>
		<div class="card mt-3 bl-cr">
			<div class="card heading-bg">
				<h3 style="text-align: center; margin-top: 2px;color: white">
					Work order View</h3>
			</div>
			<div class="card-body font-weight-bold">

				<div class="row mt-3 mb-3">
					<div class="col-md-5">
						<div class="row">
							<div class="col-4">
								<label for="staticEmail2" class="col-form-label">Work Order No</label>
							</div>
							<div class="col">
								<input type="text" class="form-control" id="inputEmail4" placeholder="Work Order No">
							</div>
						</div>
					</div>
					<div class="col">
						<button type="button" class="btn btn-info">Inward Entry</button>
						<button type="button" class="btn btn-secondary">Outword List View</button>
					</div> 
				</div>
				<table
					class="table table-stock table-bordered table table-success table-striped table-hover my-2 mytable vehiceltable-size"
					id="generatLabour">
					<thead>
						<tr>
							<th>Sl.No</th>
							<th>Item Name*</th>
							<th>Cataregy Code</th>
							<th>Cataregy Name*</th>
							<th>HSN CODE</th>
							<th>Unit Of Measure*</th>
							<th>Total Quantity</th>
							<th>MRP</th>
							<th>GST Type</th>
							<th>Cost Rate</th>
							<th>GST</th>
							<th>Reamarks</th>

						</tr>
					</thead>
					<tbody class="vehicel-table-scroll">
						<tr>
							<td>1</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>61</td>
							<td>2011-04-25</td>
							<td>$320,800</td>
							<td>2</td>
							<td>Sales Assistant</td>
							<td>San Francisco</td>
							<td>59</td>
							<td>2012-08-06</td>
							<td>$137,500</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Sales Assistant</td>
							<td>San Francisco</td>
							<td>59</td>
							<td>2012-08-06</td>
							<td>$137,500</td>
							<td>3</td>
							<td>Integration Specialist</td>
							<td>Tokyo</td>
							<td>55</td>
							<td>2010-10-14</td>
							<td>$327,900</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Integration Specialist</td>
							<td>Tokyo</td>
							<td>55</td>
							<td>2010-10-14</td>
							<td>$327,900</td>
							<td>4</td>
							<td>Javascript Developer</td>
							<td>San Francisco</td>
							<td>39</td>
							<td>2009-09-15</td>
							<td>$205,500</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Javascript Developer</td>
							<td>San Francisco</td>
							<td>39</td>
							<td>2009-09-15</td>
							<td>$205,500</td>
							<td>5</td>
							<td>Software Engineer</td>
							<td>Edinburgh</td>
							<td>23</td>
							<td>2008-12-13</td>
							<td>$103,600</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Software Engineer</td>
							<td>Edinburgh</td>
							<td>23</td>
							<td>2008-12-13</td>
							<td>$103,600</td>
							<td>6</td>
							<td>Office Manager</td>
							<td>London</td>
							<td>30</td>
							<td>2008-12-19</td>
							<td>$90,560</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Office Manager</td>
							<td>London</td>
							<td>30</td>
							<td>2008-12-19</td>
							<td>$90,560</td>
							<td>7</td>
							<td>Customer Support</td>
							<td>New York</td>
							<td>27</td>
							<td>2011-01-25</td>
							<td>$112,000</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Customer Support</td>
							<td>New York</td>
							<td>27</td>
							<td>2011-01-25</td>
							<td>$112,000</td>
							<td>1</td>
							<td>System Architect</td>
							<td>Edinburgh</td>
							<td>61</td>
							<td>2011-04-25</td>
							<td>$320,800</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>

</html>