<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span class="text-dark fw-bold" th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Distribution Schedule</h3>
				</div>
				<div class="card-body pl-2 pr-2 font-weight-bold">
					<form th:action="@{/masters/savedisschedule}" method="post">
						<div class="row ">
							<div class="col-3 text-start">
								<label for="division" class="col-sm-8 col-form-label">Division</label>
								<div class="col">
									<select type="text" class="form-select form-select-sm" id="master-division-list" name="division"
										required>
										<option value="">--Select--</option>
										<option th:each="divisions:${divisionList}"
										        th:value="${divisions}"
										        th:text="${divisions}"></option>
									</select>
								</div>
							</div>
							<div class="col-3 text-start">
								<label for="subDivision" class="col-sm-8 col-form-label">Sub-Division</label>
								<div class="col">
									<select type="text" class="form-select form-select-sm" id="master-sub-division-list"
										name="subDivision" required>
										<option value="">--Select--</option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="col-3 text-start">
								<label for="distLocation" class="col-sm-10 col-form-label">Distribution Location</label>
								<div class="col">
									<select type="text" class="form-select form-select-sm" id="master-distlocation-list"
										name="distLocation" required>
										<option value="">--Select--</option>
										<option></option>
									</select>
								</div>
							</div>
							<div class="col-3 text-start">
								<label for="distSchedule" class="col-sm-12 col-form-label">Distribution Schedule</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm" id="distSchedule"
										name="distSchedule" required placeholder="Enter Dist Schedule Name">
								</div>
							</div>
						</div>
						<div class="pt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit </button>
							<a th:href="@{/masters/disschedulehistory}" class="btn btn-success">View</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- form END-->

		<!-- History Table Start-->

		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">

			<h5 class="mb-4 bg-primary py-1 text-white text-center">Distribution Schedule History</h5>
			<table
				class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">ID</th>
						<th class="text-center" scope="col">Division</th>
						<th class="text-center" scope="col">SubDivision</th>
						<th class="text-center" scope="col">Dis Location</th>
						<th class="text-center" scope="col">Dis Schedule</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="disschedule : ${listOfdisschedule}">
						<td><a href="#" th:onclick="|deleteDistributionSchedule(${disschedule.disScheduleId})|">
								<span th:text="${'DS'+disschedule.disScheduleId}"></span></a>
						</td>
						<td th:text="${disschedule.division}"></td>
						<td th:text="${disschedule.subDivision}"></td>
						<td th:text="${disschedule.distLocation}"></td>
						<td th:text="${disschedule.distSchedule}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table END-->

	</section>
</body>

</html>