<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="card text-center">
			<div class="card-header bg-info text-white fs-4">
				Division SubDevision
			</div>
			<div class="card-body">

				<form>

					<div class="mx-auto col-8 text-start">

						<div class="form-group row p-2">
							<label class="col-sm-4 col-form-label">Division</label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
							<div class="col-sm-2">
								<a href="#" class="btn btn-primary">Add</a>
							</div>
						</div>
						<div class="form-group row p-2">
							<label for="inputEmail3" class="col-sm-4 col-form-label">Sub
								Division</label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
							<div class="col-sm-2">
								<a href="#" class="btn btn-primary">Add</a>
							</div>
						</div>
						<div class="form-group row p-2">
							<label class="col-sm-4 col-form-label">Service Station</label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
							<div class="col-sm-2">
								<a href="#" class="btn btn-primary">Add</a>
							</div>
						</div>
					</div>

				</form>

				<a href="#" class="btn btn-primary">Submit</a>
			</div>
			<div class="card-footer text-muted bg-info">

			</div>
		</div>

		<!-- form END-->
	</section>
</body>

</html>