<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span class="text-dark fw-bold" th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Division SubDevision</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
					<form data-toggle="validator" th:action="@{/masters/savedivsubdiv}" method="post">
						<div class="row ">
							<div class="form-group col text-start">
								<label for="division" class="col-sm-8 col-form-label">Division</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm" id="division" data-error="Provide a Division !"
										pattern="^[A-Za-z]+[A-Za-z ]*$" name="division" required placeholder="Enter Division Name" oninput="this.value = this.value.toUpperCase()">
								      <div class="help-block with-errors text-danger"></div>
								</div>
							</div>
							<div class="form-group col text-start">
								<label for="subdivision" class="col-sm-8 col-form-label">Sub Division</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm" id="subdivision" pattern="^[A-Za-z]+[A-Za-z ]*$" data-error="Provide a Division !"
										name="subdivision" required placeholder="Enter Sub-Division Name" oninput="this.value = this.value.toUpperCase()">
								       <div class="help-block with-errors text-danger"></div>
								</div>
							</div>
							<div class="form-group col text-start">
								<label for="serviceStation" class="col-sm-8 col-form-label">Service Station</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm" id="serviceStation" pattern="^[A-Za-z]+[A-Za-z ]*$" data-error="Provide a Service Station !"
										name="serviceStation" required placeholder="Enter Service Station Name" oninput="this.value = this.value.toUpperCase()">
								     <div class="help-block with-errors text-danger"></div>
								</div>
							</div>

						</div>
						<div class="pt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit </button>
							<a th:href="@{/masters/divsubdivhistory}" class="btn btn-success">View</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- form End-->

		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Division SubDevision History</h5>
			<table
				class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">Division</th>
						<th class="text-center" scope="col">Sub-Division</th>
						<th class="text-center" scope="col">Service Station</th>		
						<th class="text-center" scope="col">Delete</th>				
					</tr>
				</thead>
				<tbody>
					<tr th:each="divsubdiv : ${listOfDivSubdiv}">						
						<td th:text="${divsubdiv.division}"></td>
						<td th:text="${divsubdiv.subdivision}"></td>
						<td th:text="${divsubdiv.serviceStation}"></td>		
						<td><a href="#" th:onclick="|deleteDivSubdiv(${divsubdiv.divsubId})|">
								<button class="btn-xs btn-danger">Delete</button></a>
						</td>				
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->
	</section>
</body>

</html>