<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span class="text-dark fw-bold" span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Maintance Frequency</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
					<form 	data-toggle="validator" th:action="@{/masters/savemaintenfreq}" method="post">	
					<div class="row">			
	                    <div class="col-6 text-start">
							<div class="form-group row p-2">
								<label for="maintanWork" class="col-sm-5 col-form-label">Maintenance Work </label>
								<div class="col-sm-7">
									<input class="form-control form-control-sm" name="maintanWork" id="maintanWork" required
										placeholder="Enter Maintenance Work Type"   pattern="^[A-Za-z/&-]+[A-Za-z/&\s-]*$"
									 data-error="Provide a Maintenance Work !" oninput="this.value = this.value.toUpperCase()">
									<div class="help-block with-errors text-danger"></div>
								</div>
							</div>
						</div>
						 <div class="col-6 text-start">
							<div class="form-group row p-2">
								<label for="maintanFrequency" class="col-sm-6 col-form-label">Maintenance Frequency </label>
								<div class="col-sm-6">
									<input class="form-control form-control-sm" name="maintanFrequency" id="maintanFrequency" required
										placeholder="Enter Maintenance Frequency Type"  pattern="^[a-zA-Z0-9\s%.]+$"
										 data-error="Provide a Maintenance Frequency !"	oninput="this.value = this.value.toUpperCase()">
								    <div class="help-block with-errors text-danger"></div>
								</div>
							</div>
						</div>
					</div>
						<div class="mt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<a type="button" th:href="@{/masters/maintanfreqhistory}" class="btn btn-success">View</a>
						</div>

					</form>
				</div>
			</div>
		</div>
		<!-- form END-->

		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Maintance Frequency History</h5>
			<table
				class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>					
						<th class="text-center" scope="col">Maintance Work</th>
						<th class="text-center" scope="col">Maintance Frequency</th>
							<th class="text-center" scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="maintanfreq : ${listOfMaintenFreq}">
						<td th:text="${maintanfreq.maintanWork}"></td>
						<td th:text="${maintanfreq.maintanFrequency}"></td>
					    <td><a href="#" th:onclick="|deleteMaintenFrequency(${maintanfreq.maintanFrequId})|">
								<button class="btn-xs btn-danger">Delete</button></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->

	</section>
</body>

</html>