<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Maintenance Activities</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
					<form th:action="@{/masters/saveMaintenactive}" method="post">
						<div class="mx-auto col-8 text-start">
							<div class="form-group row">
								<label class="col-auto col-form-label">Maintenance Activities Type</label>
								<div class="col-sm-6">
									<select class="form-select form-select-sm" name="maintenActiveType" required>
									   <option value="">--Select--</option>
										<option>Pump Maintance</option>
										<option>Pipe Mainttance</option>
										<option>Vehicel Maintance</option>
										<option>Meter Mainttance</option>
									</select>
								</div>
							</div>
						</div>

						<div class="mt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<a type="button" th:href="@{/masters/maintenactivehistory}" class="btn btn-success">View</a>
						</div>

					</form>
				</div>
			</div>
		</div>
		<!-- form END-->

		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Maintenance Activities History</h5>
			<table class="table table-stock table-bordered text-center table-primary table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">ID</th>
						<th class="text-center" scope="col">Maintenance Activities Type</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="maintenactive : ${listOfMaintenActive}">
						<td><a href="#" th:onclick="|deleteMaintainsActivity(${maintenactive.maintenActiveId})|">
								<span th:text="${'MA'+maintenactive.maintenActiveId}"></span></a>
						</td>
						<td th:text="${maintenactive.maintenActiveType}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->

	</section>
</body>

</html>