<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="card text-center">
			<div class="card-header bg-info text-white fs-4">
				Employee Master
			</div>
			<div class="card-body">

				<form>
					<div class="row ">
						<div class="col text-start">

							<label for="empId" class="col-sm-8 col-form-label">Emp ID</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="empId">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Emp Name</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Address </label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Contact No </label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>

					<div class="row ">
						<div class="col text-start">

							<label for="inputEmail3" class="col-sm-8 col-form-label">Department</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Designation</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">Company
								/Division</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">Branch/Sub
								Division</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>
					<div class="row ">
						<div class="col text-start">

							<label for="inputEmail3" class="col-sm-8 col-form-label">Emp Type</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Join Date</label>
							<div class="col">
								<input type="date" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">End Date</label>
							<div class="col">
								<input type="date" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Emp Status</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>
					<div class="row ">
						<div class="col text-start">

							<label for="inputEmail3" class="col-sm-8 col-form-label">PAN Details</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Aadhar
								Details</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">Ref Contact
								Details</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">Ref Person
								Name</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>
					<div class="row ">
						<div class="col text-start">

							<label for="inputEmail3" class="col-sm-8 col-form-label">Blood
								Group*</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Date of
								birth*</label>
							<div class="col">
								<input type="date" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Gender*</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">State</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>
					<div class="row ">
						<div class="col text-start">

							<label for="inputEmail3" class="col-sm-8 col-form-label">Marital
								status*</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-8 col-form-label">Qualification*</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">Driving License
								no</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

						<div class="col text-start">
							<label for="inputEmail3" class="col-sm-10 col-form-label">City</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" id="inputEmail3">
							</div>
						</div>

					</div>

				</form>

				<a href="#" class="btn btn-primary">Submit</a>
				<a href="#" class="btn btn-success">View</a>

			</div>
			<div class="card-footer text-muted bg-info">

			</div>
		</div>

		<!-- form END-->
	</section>
</body>

</html>