<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		  <div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span class="text-dark fw-bold" th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Master Pumps</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
				  <form  th:action="@{/masters/savepumps}" method="post">
					<div class="row">
						<div class="col-sm-3">
							<label for="pumpId" class="col col-form-label">Pump ID</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm bg-white" readonly
								id="pumpId" name="pumpId" required maxlength="6" th:value="${masterpumpid}">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="pumpType" class="col col-form-label">Pump Type</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" 
								id="pumpType" name="pumpType" required placeholder="Enter Pump Type" oninput="this.value = this.value.toUpperCase()">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="warranty" class="col col-form-label">Warranty</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" 
								id="warranty" name="warranty" required placeholder="Enter Warranty" oninput="this.value = this.value.toUpperCase()">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="purchageDate" class="col col-form-label">Purchage Date</label>
							<div class="col">
								<input type="date" class="form-control form-control-sm" 
								id="purchageDate" name="purchageDate" required>
							</div>
						</div>												
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label for="contactNo" class="col col-form-label">Contact No</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" 
								id="contactNo" name="contactNo"  maxlength="10" placeholder="Enter Contact No" required>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="manufactName" class="col col-form-label">Manufacture Name</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" 
								id="manufactName" name="manufactName" required placeholder="Enter Manufacture Name" oninput="this.value = this.value.toUpperCase()">
							</div>
						</div>
						<div class="col-sm-5">
							<label for="manufactAddress" class="col col-form-label">Manufacture Address</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm" 
								id="manufactAddress" name="manufactAddress" required placeholder="Enter Manufacture Address" oninput="this.value = this.value.toUpperCase()">
							</div>
						</div>												
					</div>
					  <div class="pt-5 text-center">
						  <button type="submit" class="btn btn-primary">Submit </button>
						  <a th:href="@{/masters/pumpshistory}" class="btn btn-success">View</a>
					   </div>							
				</form>
				</div>
			</div>
		  </div>
		<!-- form END-->
		
		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Master Pumps History</h5>
			<table class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>						
						<th class="text-center" scope="col">Pump Id</th>
						<th class="text-center" scope="col">Pump Type</th>
						<th class="text-center" scope="col">Warranty</th>
						<th class="text-center" scope="col">purchage Date</th>
						<th class="text-center" scope="col">Contact No</th>
						<th class="text-center" scope="col">Manufacture Name</th>
						<th class="text-center" scope="col">Manufacture Address</th>	
						<th class="text-center" scope="col">Delete</th>											
					</tr>
				</thead>
				<tbody>
					<tr th:each="pumps : ${listOfPumps}">					
						<td th:text="${pumps.pumpId}"></td>
						<td th:text="${pumps.pumpType}"></td>	
						<td th:text="${pumps.warranty}"></td>	
						<td th:text="${pumps.purchageDate}"></td>	
						<td th:text="${pumps.contactNo}"></td>
						<td th:text="${pumps.manufactName}"></td>
						<td th:text="${pumps.manufactAddress}"></td>	
						<td><a href="#" th:onclick="|deleteMasterPump(${pumps.pumpMasterId})|">
								<button class="btn-xs btn-danger">Delete</button></a>
						</td>																	
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->
	</section>
</body>

</html>