<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5 id-master-form">			
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0"> ID Master</h3>
				</div>
				<div class="card-body pl-5 font-weight-bold">
						<div class="mx-auto col text-start">

							<div class="form-group row p-2">
								<label for="Ids" class="col-sm-3 col-form-label fs-6">ID's</label>
								<label for="serialNumber" class="col-sm-3 col-form-label fs-6">Starting Number</label>
								<label for="description" class="col-sm-4 col-form-label fs-6">Description</label>
								<a th:href="@{/masters/idmasterhistory}" class="col-sm-2 btn btn-success fs-6">History</a>
             				</div>
             				<form method="post" th:action="@{/masters/saveIdMaster}" th:object="${idmaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="assert-idName"
										name="masterIdName" value="Asset Id" required readonly="true">								
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="assert-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="assert-desc"
										name="idDescription" required placeholder="Enter Asset Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" id="submit-button-master" class="btn btn-primary">Add</button>								
								</div>							
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="branch-idName"
										name="masterIdName" value="Branch Id" required readonly="true">								
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="branch-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="branch-desc"
										name="idDescription" required placeholder="Enter Branch Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="category-idName"
										name="masterIdName" value="Categaroy Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="category-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="category-desc"
										name="idDescription" required placeholder="Enter Category Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="company-idName"
										name="masterIdName" value="Company Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="company-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="company-desc"
										name="idDescription" required placeholder="Enter Company Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="department-idName"
										name="masterIdName" value="Department Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="department-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="department-desc"
										name="idDescription" required placeholder="Enter Department Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="device-idName"
										name="masterIdName" value="Device Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="device-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="device-desc"
										name="idDescription" required placeholder="Enter Device Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="dma-idName"
										name="masterIdName" value="DMA Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="dma-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="dma-desc"
										name="idDescription" required placeholder="Enter Dma Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="employee-idName"
										name="masterIdName" value="Employee Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="employee-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="employee-desc"
										name="idDescription" required placeholder="Enter Employee Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form><form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="hsn-idName"
										name="masterIdName" value="HsnCode Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="hsn-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="hsn-desc"
										name="idDescription" required placeholder="Enter HsnCode Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="in-matl-idName"
										name="masterIdName" value="Inward Matl Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="in-matl-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="in-matl-desc"
										name="idDescription" required placeholder="Enter Inward Material Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="spare-matl-idName"
										name="masterIdName" value="Spare Matl Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="spare-matl-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="spare-matl-desc"
										name="idDescription" required placeholder="Enter SpareParts Material Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="tool-equi-idName"
										name="masterIdName" value="Tools/Eqt Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="tool-equi-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="tool-equi-desc"
										name="idDescription" required placeholder="Enter Tools/Equipment Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="item-idName"
										name="masterIdName" value="Item Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="item-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="item-desc"
										name="idDescription" required placeholder="Enter Item Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="leakage-idName"
										name="masterIdName" value="Leakage Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="leakage-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="leakage-desc"
										name="idDescription" required placeholder="Enter Leakage Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="meter-idName"
										name="masterIdName" value="Meter Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="meter-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="meter-desc"
										name="idDescription" required placeholder="Enter Meter Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="pump-idName"
										name="masterIdName" value="Pump Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="pump-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="pump-desc"
										name="idDescription" required placeholder="Enter Pump Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="stock-idName"
										name="masterIdName" value="Stock Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="stock-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="stock-desc"
										name="idDescription" required placeholder="Enter Stock Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="vehicle-idName"
										name="masterIdName" value="Vehicle Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="vehicle-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="vehicle-desc"
										name="idDescription" required placeholder="Enter Vehicle Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
						   <form method="post" th:action="@{/masters/saveIdMaster}">
							<div class="form-group row p-2">
								<div class="col-sm-3">
									<input type="text" class="form-control-plaintext font-weight-bold" id="ward-idName"
										name="masterIdName" value="Ward Id" required readonly="true">
								</div>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="10" id="ward-startNo"
										name="statNumber" required placeholder="Enter Starting No">
								</div>
								<div class="col-sm-5">
									<input type="text" class="form-control form-control-sm" id="ward-desc"
										name="idDescription" required placeholder="Enter Ward Id Description">
								</div>
								<div class="col-sm-2" style="bottom :3px">
									<button type="submit" class="btn btn-primary">Add</button>
								</div>
							</div>
						   </form>
					 </div>
				</div>
			</div>
		</div>
		<!-- form END-->
	</section>
</body>

</html>