<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		 <div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Item Master</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
				  <form th:action="@{/masters/saveItemdata}" method="post">
						<div class="row ">
							<div class="col-3">
								<label for="itemId" class="col col-form-label">Item Id</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm bg-white" id="itemId" readonly
										name="itemId" required th:value="${masterItemId}">
								</div>
							</div>
							<div class="col-5">
								<label for="itemName" class="col-auto col-form-label">Item Name</label>
								<div class="col">
									<input type="text" class="form-control form-control-sm" id="itemName" 
									name="itemName" required placeholder="Enter Item Name">
								</div>
							</div>
							<div class="col-4">
								<label for="description" class="col-auto col-form-label">Description</label>
								<div class="col">
									<textarea class="form-control form-control-sm" aria-label="With textarea" name="description"
									placeholder ="Write Description"></textarea>
								</div>
							</div>

						</div>

						<div class="pt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit </button>
							<a th:href="@{/masters/itemhistory}" class="btn btn-success">View</a>
						</div>

					</form>
				</div>
			</div>
		 </div>
		<!-- form END-->
		
		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Item Master History</h5>
			<table class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">ID</th>
						<th class="text-center" scope="col">Item Id</th>
						<th class="text-center" scope="col">ItemName</th>
						<th class="text-center" scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="items : ${listOfItems}">
						<td><a href="#" th:onclick="|deleteMasterItem(${items.itemMasterId})|">
								<span th:text="${'IM'+items.itemMasterId}"></span></a>
						</td>
						<td th:text="${items.itemId}"></td>
						<td th:text="${items.itemName}"></td>
						<td th:text="${items.description}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->
		
	</section>
</body>

</html>