<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>	
	<!-- form Start-->
			<div class="card text-center">
				<div class="card-header bg-info text-white fs-4">
					ID Master
				</div>
				<!-- Message Alert Field -->               
		               <div th:if="${session.message}" class="alert_field pt-1" style="margin-left: 212px;margin-right: 234px;">       
		                 <div class="alert text-center" th:classappend="${'alert-'+session.message.type}"  role="alert">
                            <span th:text="${session.message.content}"></span>
                         </div>
                           <th:block th:text="${#session.removeAttribute('message')}"></th:block>
		              </div>  		                
                      <!-- End of Message Alert Field -->
				<div class="card-body">

					<form method="post" th:action="@{/masters/saveIdMaster}" th:object="${idmaster}">
					
						<div class="mx-auto col text-start">

							<div class="form-group row p-2">
								<label for="Ids" class="col-sm-4 col-form-label fs-6">ID's</label>
								<label for="serialNumber" class="col-sm-2 col-form-label fs-6">Serial Number</label>
								<label for="description" class="col-sm-4 col-form-label fs-6">Description</label>
								<label for="inputEmail3" class="col-sm-2 col-form-label fs-6"></label>
							</div>
							<div class="form-group row p-2">
								<label for="assertId" class="col-sm-4 col-form-label fs-6">Assest ID
								   <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="assertId"  name="assertId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="assertDesc" name="assertDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<!--										<div class="form-group row p-2">-->
							<!--											<label for="inputEmail3" class="col-sm-4 col-form-label fs-6">Barcod-->
							<!--												ID</label>-->
							<!--											<div class="col-sm-2">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-4">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-2">-->
							<!--												<a href="#" class="btn btn-primary">Reset</a>-->
							<!--											</div>-->
							<!--										</div>-->
							<div class="form-group row p-2">
								<label for="branchId" class="col-sm-4 col-form-label fs-6">Branch ID
								 <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="2"
										id="branchId"  name="branchId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="branchDesc" name="branchDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="budjetId" class="col-sm-4 col-form-label fs-6">Budjet
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="budjetId" name="budjetId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="budjetDesc" name="budjetDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<!--										<div class="form-group row p-2">-->
							<!--											<label for="inputEmail3" class="col-sm-4 col-form-label fs-6">Cancel Work-->
							<!--												Order ID</label>-->
							<!--											<div class="col-sm-2">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-4">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-2">-->
							<!--												<a href="#" class="btn btn-primary">Reset</a>-->
							<!--											</div>-->
							<!--										</div>-->
							<div class="form-group row p-2">
								<label for="categoryId" class="col-sm-4 col-form-label fs-6">Categaroy
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="categoryId" name="categoryId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="categoryDesc" name="categoryDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="companyId" class="col-sm-4 col-form-label fs-6">Company ID
								 <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="4"
										id="companyId" name="companyId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="companyDesc" name="companyDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="departmentId" class="col-sm-4 col-form-label fs-6">Department
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="departmentId" name="departmentId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="departmentDesc" name="departmentDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="deviceId" class="col-sm-4 col-form-label fs-6">Device
									ID</label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="deviceId" name="deviceId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="deviceDesc" name="deviceDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="dmaId" class="col-sm-4 col-form-label fs-6">DMA ID
								 <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="dmaId" name="dmaId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="dmaDesc" name="dmaDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="employeeId" class="col-sm-4 col-form-label fs-6">Employee
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="2"
										id="employeeId" name="employeeId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="employeeDesc" name="employeeDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<!--										<div class="form-group row p-2">-->
							<!--											<label for="inputEmail3" class="col-sm-4 col-form-label fs-6">Genrate Work-->
							<!--												Order ID</label>-->
							<!--											<div class="col-sm-2">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-4">-->
							<!--												<input type="text" class="form-control form-control-sm"-->
							<!--													id="inputEmail3" name="" required>-->
							<!--											</div>-->
							<!--											<div class="col-sm-2">-->
							<!--												<a href="#" class="btn btn-primary">Reset</a>-->
							<!--											</div>-->
							<!--										</div>-->
							<div class="form-group row p-2">
								<label for="hsnCodeId" class="col-sm-4 col-form-label fs-6">HsnCode
									Id <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="8"
										id="hsnCodeId" name="hsnCodeId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="hsnCodeDesc" name="hsnCodeDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="inMaterialId" class="col-sm-4 col-form-label fs-6">Inward
									Material ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="inMaterialId" name="inMaterialId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="inMaterialDesc" name="inMaterialDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="inSparesMatieralId" class="col-sm-4 col-form-label fs-6">Inward Spares
									Matieral ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="inSparesMatieralId" name="inSparesMatieralId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="inSparesMatieralDesc" name="inSparesMatieralDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="inToolsId" class="col-sm-4 col-form-label fs-6">Inward Tools
									Or Equipment ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="inToolsId" name="inToolsId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="inToolsDesc" name="inToolsDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="itemId" class="col-sm-4 col-form-label fs-6">Item
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="itemId" name="itemId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="itemDesc" name="itemDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="leakageId" class="col-sm-4 col-form-label fs-6">Leakage
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="leakageId" name="leakageId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="leakageDesc" name="leakageDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="meterId" class="col-sm-4 col-form-label fs-6">Meter
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="meterId" name="meterId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="meterDesc" name="meterDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="outMaterialIssueId" class="col-sm-4 col-form-label fs-6">Outward
									Material Issue ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="outMaterialIssueId" name="outMaterialIssueId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="outMaterialIssueDesc" name="outMaterialIssueDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="outSparesIssueId" class="col-sm-4 col-form-label fs-6">Outward Spares
									Matieral Issue ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="outSparesIssueId" name="outSparesIssueId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="outSparesIssueDesc" name="outSparesIssueDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="outToolsIssueId" class="col-sm-4 col-form-label fs-6">Outward Tools
									Matieral Issue ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="outToolsIssueId" name="outToolsIssueId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="outToolsIssueDesc" name="outToolsIssueDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="pumpId" class="col-sm-4 col-form-label fs-6">Pump ID
								 <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="pumpId" name="pumpId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="pumpDesc" name="pumpDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="sequenceId" class="col-sm-4 col-form-label fs-6">Sequence ID
								 <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="17"
										id="sequenceId" name="sequenceId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="sequenceDesc" name="sequenceDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockId" class="col-sm-4 col-form-label fs-6">Stock
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockId" name="stockId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockDesc" name="stockDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockReturnId" class="col-sm-4 col-form-label fs-6">Stock Matieral
									Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockReturnId" name="stockReturnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockReturnDesc" name="stockReturnDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockRejMatieralRtnId" class="col-sm-4 col-form-label fs-6">Stock
									Rejection/ Damage Matieral Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockRejMatieralRtnId" name="stockRejMatieralRtnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockRejMatieralRtnDesc" name="stockRejMatieralRtnDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockRejDmgSparesRtnId" class="col-sm-4 col-form-label fs-6">Stock
									Rejection/ Damage Spares Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockRejDmgSparesRtnId" name="stockRejDmgSparesRtnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockRejDmgSparesRtnDesc" name="stockRejDmgSparesRtnDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockRejDmgToolsRtnId" class="col-sm-4 col-form-label fs-6">Stock
									Rejection/ Damage Tools Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockRejDmgToolsRtnId" name="stockRejDmgToolsRtnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockRejDmgToolsRtnDesc" name="stockRejDmgToolsRtnDesc" required>
								</div>
								<div class="col-sm-2" name="" required>
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockSparesRtnId" class="col-sm-4 col-form-label fs-6">Stock Spares
									Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockSparesRtnId" name="stockSparesRtnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockSparesRtnDesc" name="stockSparesRtnDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="stockToolsRtnId" class="col-sm-4 col-form-label fs-6">Stock Tools
									Return ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="stockToolsRtnId" name="stockToolsRtnId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="stockToolsRtnDesc" name="stockToolsRtnDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="vehicleId" class="col-sm-4 col-form-label fs-6">Vehicle
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="vehicleId" name="vehicleId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="vehicleDesc" name="vehicleDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="vehicelMntIndentId" class="col-sm-4 col-form-label fs-6">Vehicel
									Manitance Indent ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="vehicelMntIndentId" name="vehicelMntIndentId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="vehicelMntIndentDesc" name="vehicelMntIndentDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="wardId" class="col-sm-4 col-form-label fs-6">WARD
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="wardId" name="wardId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="wardDesc" name="wardDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="workEstBudjetId" class="col-sm-4 col-form-label fs-6">Work Estmation
									Budjet ID  <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="workEstBudjetId" name="workEstBudjetId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="workEstBudjetDesc" name="workEstBudjetDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="workOrderId" class="col-sm-4 col-form-label fs-6">Work Order
									ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="workOrderId" name="workOrderId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="workOrderDesc" name="workOrderDesc" required>
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>
							<div class="form-group row p-2">
								<label for="workOrderCancelId" class="col-sm-4 col-form-label fs-6">Work Order
									cancel ID <strong class="text-danger">*</strong></label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" maxlength="5"
										id="workOrderCancelId" name="workOrderCancelId" required>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control form-control-sm"
										id="workOrderCancelDesc" name="workOrderCancelDesc" required >
								</div>
								<div class="col-sm-2">
									<a href="#" class="btn btn-primary">Reset</a>
								</div>
							</div>

						</div>
												
						<button type="submit" class="btn btn-primary">Submit</button>
					    <button type="reset" class="btn btn-secondary">Reset All</button>
					    
					</form>				
				</div>
				<div class="card-footer text-muted bg-info">

				</div>
			</div>

			<!-- form END-->
	</section>
</body>
</html>