<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		  <div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Tax Master</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
					<form th:action="@{/masters/savetaxmaster}" method="post">
						<div class="mx-auto col-6 text-start">

							<div class="form-group row">
								<label for="cGst" class="col-sm-3 col-form-label">CGST</label>
								<div class="col-sm-6">
									<input type="text" class="form-control form-control-sm" 
									id="cGst" name="cGst" required placeholder="Enter CGST">
								</div>
							</div>
							<div class="form-group row">
								<label for="sGst" class="col-sm-3 col-form-label">SGST</label>
								<div class="col-sm-6">
									<input type="text" class="form-control form-control-sm" 
									id="sGst" name="sGst" required placeholder="Enter SGST">
								</div>
							</div>
							<div class="form-group row">
								<label for="gstTotal" class="col-sm-3 col-form-label">GST Total</label>
								<div class="col-sm-6">
									<input type="text" class="form-control form-control-sm" 
									id="gstTotal" name="gstTotal" required maxlength="8" placeholder="Enter Total GST">
								</div>
							</div>
						</div>
						
						<div class="mt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<a type="button" th:href="@{/masters/taxMasterHistory}" class="btn btn-success">View</a>
						</div>
						
					</form>
				</div>
			</div>
		</div>
		<!-- form END-->
		
		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Hsn Code History</h5>
			<table class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">ID</th>
						<th class="text-center" scope="col">C-GST</th>
						<th class="text-center" scope="col">S-GST</th>
						<th class="text-center" scope="col">GST Total</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:each="taxes : ${listOfTaxs}">
						<td><a href="#" th:onclick="|deleteTaxMaster(${taxes.taxMasterId})|">
								<span th:text="${'TM'+taxes.taxMasterId}"></span></a>
						</td>
						<td th:text="${taxes.cGst}"></td>
						<td th:text="${taxes.sGst}"></td>
						<td th:text="${taxes.gstTotal}"></td>						
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->
	</section>
</body>

</html>