<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="pages/masters/base::layout(~{::section})">

<body>
	<section>
		<!-- form Start-->
		<div class="mx-auto col-12 mt-5">
			<!-- Message Alert Field -->
			<div th:if="${session.message}" class="alert_field">
				<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
					<span th:text="${session.message.content}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<!-- End of Message Alert Field -->
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h3 class="mb-0">Supplier Details</h3>
				</div>
				<div class="card-body pl-5 pr-5 font-weight-bold">
					<form th:action="@{/masters/saveSupplier}" method="post">
						<div class="row align-items-center">
							<div class="col-auto">
								<label for="inputPassword6" class="col-form-label">Supplier Id</label>
							</div>
							<div class="col-sm-2">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									maxlength="5" name="supplierId" required>
							</div>
							<div class="col-auto">
								<label for="inputPassword6" class="col-form-label">Recipt No</label>
							</div>
							<div class="col-sm-2" style="left: 29px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									maxlength="12" name="reciptNo" required>
							</div>
							<div class="col-auto" style="left:43px;">
								<label for="inputPassword6" class="col-form-label">Supplier Name</label>
							</div>
							<div class="col-sm-3" style="left: 44px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="supplierName" required>
							</div>								
						</div>
						<div class="row align-items-center pt-2">
							<div class="col-auto">
								<label for="inputPassword6" class="col-form-label">GST Type</label>
							</div>
							<div class="col-sm-2" style="left:7px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="gstType" required>
							</div>
							<div class="col-auto" style="left:9px;">
								<label for="inputPassword6" class="col-form-label">Contact Number</label>
							</div>
							<div class="col-sm-2">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									maxlength="10" name="contactNo" required>
							</div>
							<div class="col-auto" style="left: 13px;">
								<label for="inputPassword6" class="col-form-label">Supplier Address</label>
							</div>
							<div class="col-sm-3">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="supplierAdd" required>
							</div>								
						</div>
						<div class="row align-items-center pt-2">
							<div class="col-auto">
								<label for="inputPassword6" class="col-form-label">GSTIN</label>
							</div>
							<div class="col-sm-2" style="left:24px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="gstIn" required>
							</div>
							<div class="col-auto" style="left:28px;">
								<label for="inputPassword6" class="col-form-label">Phone Number</label>
							</div>
							<div class="col-sm-2" style="left:26px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									maxlength="10" name="phoneNo" required>
							</div>
							<div class="col-auto" style="left:42px;">
								<label for="inputPassword6" class="col-form-label">Email Id</label>
							</div>
							<div class="col-sm-3" style="left: 80px;">
								<input type="email" id="inputPassword6" class="form-control form-control-sm"
									name="emailId" required>
							</div>								
						</div>
						<div class="row align-items-center pt-2">
							<div class="col-auto">
								<label for="inputPassword6" class="col-form-label">State</label>
							</div>
							<div class="col-sm-2" style="left:31px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="state" required>
							</div>
							<div class="col-auto" style="left:36px;">
								<label for="inputPassword6" class="col-form-label">City</label>
							</div>
							<div class="col-sm-2" style="left:96px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									name="city" required>
							</div>
							<div class="col-auto" style="left:112px;">
								<label for="inputPassword6" class="col-form-label">Pincode</label>
							</div>
							<div class="col-sm-3" style="left:149px;">
								<input type="text" id="inputPassword6" class="form-control form-control-sm"
									maxlength="6" name="pincode" required>
							</div>								
						</div>	
						<div class="pt-4 text-center">
							<button type="submit" class="btn btn-primary">Submit </button>
							<a th:href="@{/masters/supplierHistory}" class="btn btn-success">View</a>
						</div>																													
					</form>
				</div>
			</div>
		</div>
		<!-- form END-->
		
		<!-- History Table Start-->
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="mb-4 bg-primary py-1 text-white text-center">Supplier Details History</h5>
			<table class="table table-stock table-bordered text-center table-primary table-striped table-hover MasterTable">
				<thead class="table-dark">
					<tr>
						<th class="text-center" scope="col">Id</th>
						<th class="text-center" scope="col">Recipt No</th>
						<th class="text-center" scope="col">Gst No</th>
						<th class="text-center" scope="col">Contact No</th>
						<th class="text-center" scope="col">Email Id</th>
						<th class="text-center" scope="col">Supplier Name</th>
						<th class="text-center" scope="col">Supplier Address</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="supplydtls : ${listOfSupplierDtls}">
						<td><a href="#" th:onclick="|deleteSupplierDetails(${supplydtls.suplyDtlsId})|">
								<span th:text="${supplydtls.supplierId}"></span></a>
						</td>
						<td th:text="${supplydtls.reciptNo}"></td>
						<td th:text="${supplydtls.gstIn}"></td>
						<td th:text="${supplydtls.contactNo}"></td>
						<td th:text="${supplydtls.emailId}"></td>
						<td th:text="${supplydtls.supplierName}"></td>
						<td th:text="${supplydtls.supplierAdd}+ ',' 
						             +${supplydtls.state} +','+${supplydtls.city} 
						             +','+${supplydtls.pincode}">
					    </td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- History Table End-->
		
	</section>
</body>

</html>