<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>

		<div class="mt-2">
			<ul class="nav nav-pills justify-content-center py-1 mb-2" id="pills-tab" role="tablist">

				<li class="nav-item" role="presentation">
					<button class="nav-link active mx-1 py-2 text-white hvr bg-dark" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
						aria-controls="pills-home" aria-selected="true">
						Generate Work Order
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-chart-tab" data-bs-toggle="pill"
						data-bs-target="#pills-chart" type="button" role="tab" aria-controls="pills-chart"
						aria-selected="false">
						Generate Work Order Dashboard
					</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-profile-tab"
						data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
						aria-controls="pills-profile" aria-selected="false">
						Generate Work Order View
					</button>
				</li>


			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
					tabindex="0">
					<div class="card bl-cr">
						<div class="card-header heading-bg">
							<h3 class="text-center text-white mb-0">Generate Work Order</h3>
						</div>
						<div class="card-body font-weight-bold">
							<div class="tab">
								<button class="tablinks btn btn-primary py-2 mx-1 hvr text-white" 
									onclick="openCity(event, 'MaterialIssued')" id="work-order-btn">PART / MATERIAL ISSUED
								</button>
								<button class="tablinks btn btn-primary py-2 mx-1 hvr text-white" id="gen-labour-work-btn"
									onclick="openCity(event, 'LabourTime')">LABOUR / TIMES</button>
								<button class="tablinks btn btn-primary py-2 mx-1 hvr text-white" id="gen-vehicle-work-btn"
									onclick="openCity(event, 'VehicleTime')">VEHICLE/TIMING
								</button>
							</div>
							<div id="MaterialIssued" class="tabcontent">
								
									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control" id="indentNo" name="indentNo"
												placeholder="Indent No">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control" id="indentDepartement"
												name="indentDepartement" placeholder="Indent Department">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Department</label>
											<input type="text" class="form-control" id="genWorkOrderDepartment"
												name="genWorkOrderDepartment" placeholder="Work Order Department">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Number</label>
											<input type="number" class="form-control" id="workOrderNumber"
												name="workOrderNumber" placeholder="Work Order Number">
										</div>


									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Date</label>
											<input type="date" class="form-control" id="workOrderDate"
												name="workOrderDate" placeholder="Email">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<input type="text" class="form-control" id="division" name="division"
												placeholder="Division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<input type="text" class="form-control" id="subDivision" name="subDivision"
												placeholder="Sub Division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Scope</label>
											<input type="text" class="form-control" id="workOrderScope"
												name="workOrderScope" placeholder="Work Order Scope">
										</div>
									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Issued By</label>
											<input type="text" class="form-control" id="workOrderIssuBy"
												name="workOrderIssuBy" placeholder="Work Order Issued By">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<input type="text" class="form-control" id="workPriority"
												name="workPriority" placeholder="Work Priority">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Cost</label>
											<input type="text" class="form-control" id="workOrderCost"
												name="workOrderCost" placeholder="Work Order Cost">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control" id="contact" name="contact"
												placeholder="Contact">
										</div>
									</div>
									<div class="row mt-3">
										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text" class="form-control" id="workSite" name="workSite"
												placeholder="Work Site">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="date" class="form-control" id="expectedStartDate"
												name="expectedStartDate" placeholder="Expected Start Date">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="date" class="form-control" id="expectedEndDate"
												name="expectedEndDate" placeholder="Expected End Date">
										</div>
									</div>


									<!--*********************** Generate Work Order || PART / MATERIAL ISSUED  Start ********************-->

									<div class="col-md-12 mt-3">
										<div class="card bl-cr">
											<div class="card-header" style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>PART / MATERIAL ISSUED</b></p>
											</div>
											<div class="card-body">
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Category</label>
														<!--<input type="text" class="form-control" id="category"
														name="category" placeholder="Category">
														-->
														<select class="form-control" id="category" name="category">
															<option value="">--Select--</option>
															<option th:each="item:${listOfHsnCode}"
																th:value="${item.category}" th:text="${item.category}">
															</option>
														</select>
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Item</label>
														<input type="text" class="form-control" id="item" name="item"
															placeholder="Item">
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">HSNCODE</label>
														<input type="text" class="form-control" id="hsnCode"
															name="hsnCode" placeholder="HSNCODE">
													</div>
												</div>
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Unit of Meassure</label>
														<input type="text" class="form-control" id="unitMeassure"
															name="unitMeassure" placeholder="Unit of Meassure">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Qty</label>
														<input type="number" class="form-control" id="gentrMaterialQty"
															name="gentrMaterialQty" placeholder="Qty">
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">Amount</label>
														<input type="number" class="form-control"
															id="gentrMaterialAmount" name="gentrMaterialAmount"
															placeholder="Amount">
													</div>
													<div class="text-center mt-2">
														<button type="button" id="gen-add-category"
															class="btn btn-primary w-25 text-center">Add</button>
													</div>
												</div>
											</div>
											<div class="card-footer">
												<table
													class="table table-stock table-bordered table table-success table-striped table-hover">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Category</th>
															<th>Item</th>
															<th>HSNCode</th>
															<th>Unit of Meassure</th>
															<th>Qty</th>
															<th>Amount</th>
														</tr>
													</thead>
													<tbody class="category-item-display">
													</tbody>
												</table>

											</div>
										</div>
									</div>
									<div class=" text-center mt-4">
										<button  id="gen-submit"
											class="btn btn-primary w-25 text-center">Submit</button>
										<button id="gen-next-EmpCat"
											class="btn btn-primary w-25 text-center">Next</button>
									</div>

							

							</div>
							<!--*********************** Generate Work Order || Employees LABOUR / TIMES  Start ********************-->
							<div id="LabourTime" class="tabcontent">
								
									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control bg-white" id="indentNo-labour" name="indentNo" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control bg-white" id="indentdepartement-labour" readonly
												name="indentDepartement">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Department</label>
											<input type="text" class="form-control bg-white" id="workdepartment-labour" readonly
												name="genWorkOrderDepartment">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Number</label>
											<input type="number" class="form-control bg-white" id="workrdernumber-labour" readonly
												name="workOrderNumber">
										</div>


									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Date</label>
											<input type="text" class="form-control bg-white" id="workdate-labour" readonly
												name="workOrderDate">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<input type="text" class="form-control bg-white" id="division-labour" readonly name="division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<input type="text" class="form-control bg-white" id="subdivision-labour" readonly name="subDivision">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Scope</label>
											<input type="text" class="form-control bg-white" id="workorderscope-labour" readonly
												name="workOrderScope">
										</div>
									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Issued By</label>
											<input type="text" class="form-control bg-white" id="workorderissuby-labour" readonly
												name="workOrderIssuBy">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<input type="text" class="form-control bg-white" id="workpriority-labour" readonly
												name="workPriority">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Cost</label>
											<input type="text" class="form-control bg-white" id="workordercost-labour"  name="workordercost-labour" readonly >
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control bg-white" id="contact-labour" name="contact" readonly>
										</div>
									</div>
									<div class="row mt-3">
										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text" class="form-control bg-white" id="worksite-labour" name="workSite" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="text" class="form-control bg-white" id="expectedstartdate-labour" readonly
												name="expectedStartDate" >
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="text" class="form-control bg-white" id="expectedenddate-labour" readonly
												name="expectedEndDate">
										</div>
									</div>



									<div class="col-md-12 mt-3">
										<div class="card bl-cr ">
											<div class="card-header" style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>LABOUR / TIMES</b></p>
											</div>
											<div class="card-body">
												<div class="row mt-3">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Employee Categorty</label>
														<input type="text" class="form-control" id="employeeCategorty"
															name="employeeCategorty" placeholder="Employee Categorty">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Members</label>
														<input type="number" class="form-control" id="labourQty"
															nam="labourQty" placeholder="Members">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Days</label>
														<input type="date" class="form-control" id="days" name="days"
															placeholder="Days">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Timing</label>
														<input type="time" class="form-control" id="time" name="time"
															placeholder="Timing">
													</div>
													<div class="form-group col-md-2">
														<label for="inputEmail4">Total Hour</label>
														<input type="text" class="form-control" id="totalHours"
															name="totalHour" placeholder="Total Hour">
													</div>
													<div class="text-center mt-2">
														<button type="button" id="gen-add-employees"
															class="btn btn-primary w-25 text-center">Add</button>
													</div>
												</div>
											</div>
											<div class="card-footer">
												<table
													class="table table-stock table-bordered table table-success table-striped table-hover"
													id="generatLabour">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Employee Categorty</th>
															<th>Qty</th>
															<th>Days</th>
															<th>Timing</th>
															<th>Total Hour</th>
														</tr>
													</thead>
													<tbody class="employees-labour-display">

													</tbody>
												</table>
											</div>
										</div>
									</div>


									<div class=" text-center mt-4">
										<button type="submit" id="gen-emplabours-submit"
											class="btn btn-primary w-25 text-center">Submit</button>
										<button type="submit" id="gen-next-EmpCat"
											class="btn btn-primary w-25 text-center">Next</button>
									</div>

								
							</div>
							<!--*********************** Generate Work Order || Employees LABOUR / TIMES  END ********************-->


							<!--****************************  Generate Work Order || VEHICLE/TIMING Start *********************************-->

							<div id="VehicleTime" class="tabcontent">
										
									<div class="row">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent No</label>
											<input type="text" class="form-control bg-white" id="indentNo-vehicle" name="indentNo" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Indent Department</label>
											<input type="text" class="form-control bg-white" id="indentdepartement-vehicle" readonly
												name="indentDepartement">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Department</label>
											<input type="text" class="form-control bg-white" id="workdepartment-vehicle" readonly
												name="genWorkOrderDepartment">
										</div>

										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Number</label>
											<input type="number" class="form-control bg-white" id="workrdernumber-vehicle" readonly
												name="workOrderNumber">
										</div>


									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Date</label>
											<input type="text" class="form-control bg-white" id="workdate-vehicle" readonly
												name="workOrderDate">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Division</label>
											<input type="text" class="form-control bg-white" id="division-vehicle" readonly name="division">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Sub Division</label>
											<input type="text" class="form-control bg-white" id="subdivision-vehicle" readonly name="subDivision">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Scope</label>
											<input type="text" class="form-control bg-white" id="workorderscope-vehicle" readonly
												name="workOrderScope">
										</div>
									</div>

									<div class="row mt-3">
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Issued By</label>
											<input type="text" class="form-control bg-white" id="workorderissuby-vehicle" readonly
												name="workOrderIssuBy">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Priority</label>
											<input type="text" class="form-control bg-white" id="workpriority-vehicle" readonly
												name="workPriority">
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Work Order Cost</label>
											<input type="text" class="form-control bg-white" id="workordercost-vehicle"  name="workordercost-labour" readonly >
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Contact</label>
											<input type="text" class="form-control bg-white" id="contact-vehicle" name="contact" readonly>
										</div>
									</div>
									<div class="row mt-3">
										<div class="form-group col-md-6">
											<label for="inputEmail4">Work Site</label>
											<input type="text" class="form-control bg-white" id="worksite-vehicle" name="workSite" readonly>
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected Start Date</label>
											<input type="text" class="form-control bg-white" id="expectedstartdate-vehicle" readonly
												name="expectedStartDate" >
										</div>
										<div class="form-group col-md-3">
											<label for="inputEmail4">Expected End Date</label>
											<input type="text" class="form-control bg-white" id="expectedenddate-vehicle" readonly
												name="expectedEndDate">
										</div>
									</div>



									<div class="col-md-12 mt-3">
										<div class="card bl-cr">
											<div class="card-header "
												style="background-color: blueviolet;height: 35px;">
												<p class="text-center text-white"><b>VEHICLE/TIMING</b></p>
											</div>
											<div class="card-body">

												<div class="row mt-2">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Vehicle Type</label>
														<input type="text" class="form-control" id="vehicleType"
															name="vehicleType" placeholder="Vehicle Type">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Vehicle Number</label>
														<input type="text" class="form-control" id="vehicleNumber"
															name="vehicleNumber" placeholder="Vehicle Number">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">Driver Name</label>
														<input type="text" class="form-control" id="driverName"
															name="driverName" placeholder="Driver Name">
													</div>
												</div>
												<div class="row mt-2">
													<div class="form-group col-md-4">
														<label for="inputEmail4">Driver Contact Number</label>
														<input type="number" class="form-control"
															id="driverContactNumber" name="driverContactNumber"
															placeholder="Driver Contact Number">
													</div>
													<div class="form-group col-md-4">
														<label for="inputEmail4">ODO Meter From Reading</label>
														<input type="text" class="form-control" id="odoMeterReading"
															name="odoMeterReading" placeholder="Total Hour">
													</div>

													<div class="form-group col-md-4">
														<label for="inputEmail4">Start Time</label>
														<input type="time" class="form-control" id="startTime"
															name="startTime" placeholder="Start Time">
													</div>
												</div>
												<div class="text-center mt-2">
													<button type="button" id="gen-add-vehicle"
														class="btn btn-primary w-25 text-center">Add</button>
												</div>
											</div>
											<div class="card-footer">
												<table
													class="table table-stock table-bordered table table-success table-striped table-hover"
													id="generatLabour">
													<thead>
														<tr>
															<th>Sl No</th>
															<th>Vehicle Type</th>
															<th>Vehicle Number</th>
															<th>Driver Name</th>
															<th>Driver Contact No</th>
															<th>ODO Meter Reading</th>
															<th>Start Time</th>
														</tr>
													</thead>
													<tbody class="vehicle-labour-display">
													</tbody>
												</table>
											</div>
										</div>
									</div>


									<div class=" text-center mt-4">
										<button  id="gen-vehicle-submit"
											class="btn btn-primary w-25 text-center">Submit</button>
										<button type="submit" id="gen-next-EmpCat"
											class="btn btn-primary w-25 text-center">Next</button>
									</div>

							
							</div>



						</div>


					</div>
				</div>
				<div class="tab-pane fade" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab"
					tabindex="0">
					<div class="card">
						<div class="card-header bg-primary">
							<h3 class="text-center text-white mb-0">Generate Work Order Dashboard</h3>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col">
									<figure class="highcharts-figure border">
										<div id="generateorder"></div>
									</figure>
								</div>
								<div class="col">
									<figure class="highcharts-figure border">
										<div id="generateorder1"></div>
									</figure>
								</div>
							</div>
							<div class="row">

								<div class="col">
									<figure class="highcharts-figure border">
										<div id="generateorder2"></div>
									</figure>
								</div>
								<div class="col">
									<figure class="highcharts-figure border">
										<div id="generateorder3"></div>
									</figure>
								</div>
							</div>

						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>

					</div>
				</div>

				<div class="tab-pane fade click" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
					tabindex="0">
					<div class="card">
						<div class="card-header bg-info">
							<h3 class="text-center text-white mb-0">Generate Work Order View</h3>
						</div>
						<div class="card-body">

							<table
								class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
								<thead class="table-dark">
									<tr>
										<!--<th class="all">Id</th>-->
										<th class="all">Indent No</th>
										<th class="all">Indent Dept</th>
										<th class="all">Work Order Dept</th>
										<th class="all">Work Order No</th>
										<th class="all">Work Order Date</th>
										<th class="all">Work Order Iss By</th>
										<th class="all">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="genworkorder: ${listofgenWork}">
										<!--	<td th:text="${genworkorder.generateWorkId}"></td>-->
										<td th:text="${genworkorder.indentNo}"></td>
										<td th:text="${genworkorder.indentDepartement}"></td>
										<td th:text="${genworkorder.genWorkOrderDepartment}"></td>
										<td th:text="${genworkorder.workOrderNumber}"></td>
										<td th:text="${#dates.format(genworkorder.workOrderDate, 'dd-MMM-yyyy')}"></td>	
										<td th:text="${genworkorder.workOrderIssuBy}"></td>
										<td class="text-center" >
										 <a class="text-white bg-black p-2 rounded" th:href="@{'/workorder/viewwork/'+ ${genworkorder.generateWorkId}}">View</a>
									<a class="text-white bg-black p-2 rounded" >Hold</a>
									<a class="text-white bg-black p-2 rounded" >Cancel</a></td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
		
		<script>
		$(document).ready(function() {
			$("#gen-labour-work-btn").hide();
			$("#gen-vehicle-work-btn").hide();
		});
		</script>
		
		
		
	</section>
</body>

</html>