<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Hold WorkOrder List
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/workorder/hold}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb active">
							<div class="link"><span aria-current="location">Hold Workorders</span></div>
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-11 ml-5">
				<div class="card bl-cr">
					<div class="card-header text-center bg-info text-white heading-bg">
						<h4 class="mb-0">Hold WorkOrder List</h4>
					</div>
					<div class="card-body font-weight-bold pb-0">
						<table
							class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
							<thead class="table-dark">
								<tr>
									<th class="all">Complaint No</th>
									<th class="all">Complain Date</th>
									<th class="all">Indent No</th>
									<th class="all">Workorder No</th>
									<th class="all">Hold Date</th>
									<th class="all">Hold By</th>									
									<th class="all"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="holdWork: ${listOfHoldCompls}">
									<td th:text="${holdWork.complNo}"></td>
									<td th:text="${holdWork.complDate}"></td>
									<td th:text="${holdWork.indentNo}"></td>
									<td th:text="${holdWork.workOrder}"></td>
									<td
										th:text="${#dates.format(holdWork.workOrderHoldDate, 'dd/MM/yyyy ')}">
									</td>
									<td th:text="${holdWork.workOrderHoldBy}"></td>																		
									<td class="text-center"><a class="btn btn-success p-1 mx-2"
											th:href="@{'/workorder/hold/view/'+${holdWork.workOrder}}">View</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>