<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Hold
			WorkOrder Details</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link">
								<a th:href="@{/workorder/hold}" class="fa fa-home pt-1"></a>
							</div>
						</li>
						
						<li class="crumb">
							<div class="link">
								<a th:href="@{/workorder/hold}"><span aria-current="location">Hold Workorders</span></a>
							</div>
						</li>

						<li class="crumb active">
							<div class="link">
								<span aria-current="location">Workorder Details</span>
							</div>
						</li>
					</ol>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card bl-cr">
					<div class="card-header text-center bg-info text-white heading-bg">
						<h4 class="mb-0">WorkOrder Details</h4>
					</div>
					<div class="card-body font-weight-bold pb-0">
						<div>
							<div class="row">
								<div class="col-3">
									<div class="form-group row">
										<label for="complNo" class="col-sm-5 col-form-label pr-0">Complaint
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${complNo}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="workOrderNo" class="col-sm-5 col-form-label pr-0">WorkOrder
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${workOrderNo}" />
										</div>
									</div>

								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="indentNo" class="col-sm-5 col-form-label pr-0">Indent No</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${indentNo}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="startDate" class="col-sm-5 col-form-label pr-0">Exp
											Start Date</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${startDate}" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-3">
									<div class="form-group row">
										<label for="department" class="col-sm-5 col-form-label pr-0">Department</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${department}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="division" class="col-sm-5 col-form-label pr-0">Division</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${division}" />
										</div>
									</div>

								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="subdivision" class="col-sm-5 col-form-label pr-0">Sub
											Division</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${subdivision}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="holdDate" class="col-sm-5 col-form-label pr-0">Hold Date</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${holdDate}"/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-3">
									<div class="form-group row">
										<label for="workPriority" class="col-sm-5 col-form-label pr-0">Work
											Priority</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${workPriority}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="worksite" class="col-sm-5 col-form-label pr-0">Work
											Site</label>
										<div class="col-sm-7 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${worksite}" />
										</div>
									</div>

								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="contactNo" class="col-sm-5 col-form-label pr-0">Contact
											No</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${contactNo}" />
										</div>
									</div>
								</div>
								<div class="col-3">
									<div class="form-group row">
										<label for="holdBy" class="col-sm-5 col-form-label pr-0">Hold By</label>
										<div class="col-sm-6 px-0">
											<input type="text"
												class="form-control form-control-sm text-center font-weight-bold"
												disabled th:value="${holdBy}" />
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center">
								<ul class="nav nav-pills mb-3 " id="pills-tab" role="tablist">
									<li class="nav-item bg-dark" role="presentation">
										<button class="nav-link active pl-5 pr-5 text-white"
											id="pills-indent-material-tab" data-bs-toggle="pill"
											data-bs-target="#pills-indent-material" type="button" role="tab"
											aria-controls="pills-indent-material" aria-selected="true">Item
											Materials</button>
									</li>
									<li class="nav-item bg-dark" role="presentation">
										<button class="nav-link pl-5 pr-5 text-white" id="pills-indent-labor-tab"
											data-bs-toggle="pill" data-bs-target="#pills-indent-labor" type="button"
											role="tab" aria-controls="pills-indent-labor" aria-selected="false">Labor
											Request</button>
									</li>
									<li class="nav-item bg-dark" role="presentation">
										<button class="nav-link pl-5 pr-5 text-white" id="pills-indent-vehicle-tab"
											data-bs-toggle="pill" data-bs-target="#pills-indent-vehicle" type="button"
											role="tab" aria-controls="pills-indent-vehicle"
											aria-selected="false">Vehicle Request</button>
									</li>
								</ul>
							</div>
						</div>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-indent-material" role="tabpanel"
								aria-labelledby="pills-indent-material-tab">
								<table
									class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-2">
									<thead class="table-dark">
										<tr>
											<th>Category</th>
											<th>Item</th>
											<th>HSNCode</th>
											<th>Unit of Meassure</th>
											<th>Qty</th>
											<th>Stock Type</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="holdMaterial:${listOfHoldWorkorderitems}" class="bl-cr">
											<td th:text="${holdMaterial.categoryName}"></td>
											<td th:text="${holdMaterial.itemName}"></td>
											<td th:text="${holdMaterial.hsnCode}"></td>
											<td th:text="${holdMaterial.unitOfMesure}"></td>
											<td th:text="${holdMaterial.quantity}"></td>
											<td th:text="${holdMaterial.stockTypeName}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="pills-indent-labor" role="tabpanel"
								aria-labelledby="pills-indent-labor-tab">
								<table
									class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-2">
									<thead class="table-dark">
										<tr>
											<th>Employee Categorty</th>
											<th>Members Required</th>
											<th>Days Required</th>
											<th>Time Required</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="holdLabors:${listOfHoldWorkorderLabours}" class="bl-cr">
											<td th:text="${holdLabors.empCategory}"></td>
											<td th:text="${holdLabors.members}"></td>
											<td th:text="${holdLabors.daysRequired}"></td>
											<td th:text="${holdLabors.timeRequired}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="pills-indent-vehicle" role="tabpanel"
								aria-labelledby="pills-indent-vehicle-tab">
								<table
									class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-2">
									<thead class="table-dark">
										<tr>
											<th>Vehicle Type</th>
											<th>Vehicle Number</th>
											<th>Driver Name</th>
											<th>Driver Contact No</th>
											<th>ODO Meter Reading</th>
											<th>Start Time</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="holdVehicles:${listOfHoldWorkorderVehicles}" class="bl-cr">
											<td th:text="${holdVehicles.vehicleType}"></td>
											<td th:text="${holdVehicles.vehicleNo}"></td>
											<td th:text="${holdVehicles.driverName}"></td>
											<td th:text="${holdVehicles.driverPhone}"></td>
											<td th:text="${holdVehicles.meterReading}"></td>
											<td th:text="${holdVehicles.stratTime}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
							<div class=" text-center mt-3 mb-2">
							<button type="button" class="btn btn-success text-white"
								data-toggle="modal" data-target="#reGenerateWorkOrdereModal">Re-Generate
							</button>							
						</div>					

					</div>
				</div>
			</div>			
		</div>
		
		<div class="modal fade" id="reGenerateWorkOrdereModal" tabindex="-1"
			role="dialog" aria-labelledby="reGenerateWorkOrderModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="reGenerateWorkOrderModalLabel">Re-Generate
							WorkOrder Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">Are you sure you want to
						Re-Generate this WorkOrder ?</div>
					<div class="modal-footer">
						<a th:if="${complNo != null and indentNo != null}"
							class="btn btn-success text-white"
							th:href="@{/workorder/hold/regenerate/{complNo}/{indentNo}(complNo=${complNo}, indentNo=${indentNo})}">
							Re-Generate WorkOrder </a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
			
	</section>
</body>

</html>