<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <body>
	<section>
		<div class="card  mt-3">
		  <div class="card-header" style="background-color: blueviolet;">
			 <h3 class="text-center text-white">Assest Entery</h3>
		 </div>
		  <div class="card-body">
			   <form>
					<div class="row">
						<div class="form-group col-md-3">
					      <label for="inputEmail4">Division</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Division">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Sub Division</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Sub Division">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Assests Name</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Assests Name">
					    </div>
					     <div class="form-group col-md-3">
					      <label for="inputEmail4">Asset Id</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Asset Id ">
					    </div>
					</div>
					
					<!-- ***************************** 2nd Row  ***************************-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
					      <label for="inputEmail4">Category</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Category">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Sub-Category</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Sub-Category">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Model</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Model">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Purchase Date</label>
					      <input type="date" class="form-control" id="inputEmail4" placeholder="Purchase Date">
					    </div>
					</div>
					
					<!-- ***************************** 3rd Row  ***************************-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
					      <label for="inputEmail4">Assest Type</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Assest Type">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Assigned To</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Assigned To">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Barcode</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Barcode">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">HSNCode</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="HSNCode">
					    </div>
					</div>
					
						<!-- ***************************** 4th Row  ***************************-->
					<div class="row mt-3">
						<div class="form-group col-md-3">
					      <label for="inputEmail4">Cost</label>
					      <input type="number" class="form-control" id="inputEmail4" placeholder="Cost">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">AssestsLocation</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="AssestsLocation">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Retuned Date</label>
					      <input type="date" class="form-control" id="inputEmail4" placeholder="Retuned Date">
					    </div>
					    <div class="form-group col-md-3">
					      <label for="inputEmail4">Store Name</label>
					      <input type="text" class="form-control" id="inputEmail4" placeholder="Store Name">
					    </div>
					</div>
					
				</form>
			
			</div>
			 <div class="card-footer text-center">
		   	 	<button type="button" class="btn btn-info">Add</button>
		   	    <button type="button" class="btn btn-secondary">Search</button>
		   	    <button type="button" class="btn btn-primary">Print</button>
		  	 </div>
	   </div>	
	   
	   
	   	           <div class="row mt-3 mb-2">
						<div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-dark">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Total Assests</h5>
								</div>
								<canvas id="myChart"  style="width:100%;max-width:600px;"></canvas>
							</div>
						   </div>
						   <div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-dark">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Assets By Group/Department</h5>
								</div>
								<canvas id="myChart1"  style="width:100%;max-width:600px;"></canvas>
							</div>
					   </div>
					</div>	
					
					<div class="row mt-3 mb-2">
						<div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-dark">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Assets By Location</h5>
								</div>
								<canvas id="chartContainer"  style="width:100%;max-width:600px;"></canvas>
							</div>
						   </div>
						   <div class="col-sm-6">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-dark">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Assets By Vendor</h5>
								</div>
								<canvas id="myChart1"  style="width:100%;max-width:600px;"></canvas>
							</div>
					      </div>
					</div>
					
					
					   <div class="col-sm-12">
							<div class="card" style="background-color: #ffffff">
								<div class="card bg-dark">
									<h5
										style="text-align: center; margin-top: 2px;color: white">
										Assest On GPS</h5>
								</div>
								<div  class="border border-dark" id="googleMap" style="width:100%;height:300px;"></div>	
							</div>
					      </div>

					
	</section>
			  
    
  </body>
</html>