<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="card  mt-2 bl-cr">
			<div class="card-header heading-bg">
				<h3 class="text-center text-white mb-0">View Assest Entry</h3>
				<a class="btn bg-primary text-white float-left"  onclick="goBack();" style="margin-top: -30px;"> <b>BACK</b></a>
			</div>
			<div class="card-body font-weight-bold">
				<form>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Division</label>
							<input type="text" class="form-control" id="division" name="division" th:value="${assestData.division}" placeholder="Division" >
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Sub Division</label>
							<input type="text" class="form-control" id="subDivision" name="subDivision" th:value="${assestData.subDivision}" placeholder="Sub Division">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Assests Name</label>
							<input type="text" class="form-control" id="assestsName" name="assestsName"  th:value="${assestData.assestsName}" placeholder="Assests Name">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Asset Id</label>
							<input type="text" class="form-control" id="assetId" name="assetId" placeholder="Asset Id" th:value="${assestData.assetId}">
						</div>
					</div>

					<!-- ***************************** 2nd Row  ***************************-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Category</label>
							<input type="text" class="form-control" id="category" name="category" th:value="${assestData.category}" placeholder="Category">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Sub-Category</label>
							<input type="text" class="form-control" id="subCategory" name="subCategory" th:value="${assestData.subCategory}" placeholder="Sub-Category">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Model</label>
							<input type="text" class="form-control" id="model" name="model" th:value="${assestData.model}" placeholder="Model">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Purchase Date</label>
							<input type="text" class="form-control" id="purchaseDate" th:value="${assestData.purchaseDate}" name="purchaseDate"
								placeholder="Purchase Date">
						</div>
					</div>

					<!-- ***************************** 3rd Row  ***************************-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Assest Type</label>
							<input type="text" class="form-control" id="assestType" name="assestType" th:value="${assestData.assestType}" placeholder="Assest Type">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Assigned To</label>
							<input type="text" class="form-control" id="assignedTo" name="assignedTo" th:value="${assestData.assignedTo}" placeholder="Assigned To">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Barcode</label>
							<input type="text" class="form-control" id="barCode" name="barCode" th:value="${assestData.barCode}" placeholder="Barcode">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">HSNCode</label>
							<input type="text" class="form-control" id="hsnCode" name="hsnCode" th:value="${assestData.hsnCode}" placeholder="HSNCode">
						</div>
					</div>

					<!-- ***************************** 4th Row  ***************************-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Cost</label>
							<input type="number" class="form-control" id="cost" name="cost" th:value="${assestData.cost}" placeholder="Cost">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">AssestsLocation</label>
							<input type="text" class="form-control" id="assestsLocation" th:value="${assestData.assestsLocation}" name="assestsLocation"
								placeholder="AssestsLocation">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Retuned Date</label>
							<input type="text" class="form-control" id="retunedDate" name="retunedDate" th:value="${assestData.retunedDate}" placeholder="Retuned Date">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Store Name</label>
							<input type="text" class="form-control" id="storeName" name="storeName" th:value="${assestData.storeName}" placeholder="Store Name">
						</div>
					</div>
					
					
							<!-- ***************************** 5th Row  ***************************-->
					<div class="row mt-2">
						<div class="form-group col-md-3">
							<label for="inputEmail4">Department</label>
							<input type="text" class="form-control" id="department" name="department" th:value="${assestData.department}" placeholder="Department">
						</div>
						<div class="form-group col-md-3">
							<label for="inputEmail4">Assests Make</label>
							<input type="text" class="form-control" id="assestsMake" name="assestsMake" th:value="${assestData.assestsMake}" placeholder="Assests Make">
						</div>
					</div>


				</form>

			</div>
	
		</div>



	</section>


</body>

</html>