<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Pump Management Dashboard </h3>
		<div class="mt-2">
			<div class="row">
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="asset-graph-1"></div>
					</figure>
		
				</div>
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="leakage-graph-2"></div>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="leakage-graph-3"></div>
					</figure>
				</div>
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="leakage-graph-4"></div>
					</figure>
				</div>
			</div>
		</div>
	</section>
</body>

</html>