<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<form class="col-sm-12 mt-2">
			<div class="card bl-cr">
				<div class="card-header heading-bg">
					<h3 class="text-center text-white">Contact Mangement</h3>
				</div>
				<div class="card-body font-weight-bold">
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="form-group col-md-4">
									<label for="inputEmail4">Contact ID</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Contact ID">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Division</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Division">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Sub-Division</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Sub-Division">
								</div>
							</div>

							<div class="row mt-2 ">
								<div class="form-group col-md-4">
									<label for="inputEmail4">Department</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Department">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Designation</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Designation">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Name</label>
									<input type="text" class="form-control" id="inputEmail4" placeholder="Name">
								</div>
							</div>

							<div class="row mt-2 ">
								<div class="form-group col-md-4">
									<label for="inputEmail4">Mobile Number</label>
									<input type="number" class="form-control" id="inputEmail4"
										placeholder="Mobile Number">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Email ID</label>
									<input type="email" class="form-control" id="inputEmail4" placeholder="Email ID">
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail4">Employee Status</label>
									<input type="text" class="form-control" id="inputEmail4"
										placeholder="Employee Status">
								</div>
							</div>
						</div>
						<div class="col-3">
							<!--<label for="formGroupExampleInput">Preview</label>
							<img th:src="@{/images/qr_code.png}" class="rounded mx-auto d-block" alt="...">-->
							<div id="profile-container">
								<image id="profileImage" th:src="@{/images/profile1.png}" />
							</div>
							<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required=""
								capture>

						</div>
					</div>

					<div class="text-center mt-3">
						<button type="button" class="btn btn-primary">Submit</button>
						<!--<button type="button" class="btn btn-primary">Escala Task</button>-->
					</div>

				</div>
			</div>
		</form>
		<h5 class="text-center text-white mt-2 p-1 bg-primary">Contact Mangement Details</h5>
		
						<table
							class="table table-stock table-bordered table table-success table-striped table-hover my-4 vehiceltable-size"
							id="generatLabour">
							<thead>
								<tr>
									<th>Division</th>
									<th>Sub-Division</th>
									<th>Department</th>
									<th>Designation</th>
									<th>Name</th>
									<th>Mobile Number</th>
									<th>Email ID</th>
									<th>Employee Status</th>
									<th>Photo</th>
								</tr>
							</thead>
							<tbody class="vehicel-table-scroll">
								<tr>
									<td>1</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011-04-25</td>
									<td>$320,800</td>
									<td>2</td>
									<td>Sales Assistant</td>
									<td>San Francisco</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Sales Assistant</td>
									<td>San Francisco</td>
									<td>59</td>
									<td>2012-08-06</td>
									<td>$137,500</td>
									<td>3</td>
									<td>Integration Specialist</td>
									<td>Tokyo</td>
								</tr>
								<tr>
									<td>3</td>
									<td>Integration Specialist</td>
									<td>Tokyo</td>
									<td>55</td>
									<td>2010-10-14</td>
									<td>$327,900</td>
									<td>4</td>
									<td>Javascript Developer</td>
									<td>San Francisco</td>
								</tr>
								<tr>
									<td>4</td>
									<td>Javascript Developer</td>
									<td>San Francisco</td>
									<td>39</td>
									<td>2009-09-15</td>
									<td>$205,500</td>
									<td>5</td>
									<td>Software Engineer</td>
									<td>Edinburgh</td>
								</tr>
								<tr>
									<td>5</td>
									<td>Software Engineer</td>
									<td>Edinburgh</td>
									<td>23</td>
									<td>2008-12-13</td>
									<td>$103,600</td>
									<td>6</td>
									<td>Office Manager</td>
									<td>London</td>
								</tr>
								<tr>
									<td>6</td>
									<td>Office Manager</td>
									<td>London</td>
									<td>30</td>
									<td>2008-12-19</td>
									<td>$90,560</td>
									<td>7</td>
									<td>Customer Support</td>
									<td>New York</td>
								</tr>
								<tr>
									<td>7</td>
									<td>Customer Support</td>
									<td>New York</td>
									<td>27</td>
									<td>2011-01-25</td>
									<td>$112,000</td>
									<td>1</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
								</tr>
							</tbody>
						</table>
	</section>


</body>

</html>