<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="col-sm-12 mt-2">
			<div class="card bl-cr">
				<div class="card-header heading-bg">
					<h3 class="text-center text-white">Contact Mangement</h3>
				</div>
				<div class="card-body font-weight-bold">
					<form method="post" th:action="@{/savecontactangement}">
						<div class="row">
							<div class="col">
								<div class="row">
									<div class="form-group col-md-4">
										<label for="contactId">Contact ID</label>
										<input type="text" class="form-control" id="contactId" name="contactId"
											placeholder="Contact ID">
									</div>
									<div class="form-group col-md-4">
										<label for="division">Division</label>
										<input type="text" class="form-control" id="division" name="division"
											placeholder="Division">
									</div>
									<div class="form-group col-md-4">
										<label for="subDivision">Sub-Division</label>
										<input type="text" class="form-control" id="subDivision" name="subDivision"
											placeholder="Sub-Division">
									</div>
								</div>

								<div class="row mt-2 ">
									<div class="form-group col-md-4">
										<label for="dept">Department</label>
										<input type="text" class="form-control" id="dept" name="dept"
											placeholder="Department">
									</div>
									<div class="form-group col-md-4">
										<label for="desig">Designation</label>
										<input type="text" class="form-control" id="desig" name="desig"
											placeholder="Designation">
									</div>
									<div class="form-group col-md-4">
										<label for="name">Name</label>
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Name">
									</div>
								</div>

								<div class="row mt-2 ">
									<div class="form-group col-md-4">
										<label for="mobileNo">Mobile Number</label>
										<input type="number" class="form-control" id="mobileNo" name="mobileNo"
											placeholder="Mobile Number">
									</div>
									<div class="form-group col-md-4">
										<label for="emailId">Email ID</label>
										<input type="email" class="form-control" id="emailId" name="emailId"
											placeholder="Email ID">
									</div>
									<div class="form-group col-md-4">
										<label for="empStatus">Employee Status</label>
										<input type="text" class="form-control" id="empStatus" name="empStatus"
											placeholder="Employee Status">
									</div>
								</div>
							</div>
							<div class="col-3">
								<!--<label for="formGroupExampleInput">Preview</label>
							<img th:src="@{/images/qr_code.png}" class="rounded mx-auto d-block" alt="...">-->
								<div id="profile-container">
									<image id="profileImage" th:src="@{/images/profile1.png}" />
								</div>
								<input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" capture>

							</div>
						</div>

						<div class="text-center mt-3">
							<button type="submit" class="btn btn-primary">Submit</button>
							<a type="button" th:href="@{/contact/viewcontact}" class="btn btn-primary">View</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	
	
		<div class=" mt-4 col-12 px-0 mx-auto" th:if="${show != null}">
			<h5 class="text-center text-white mt-2 p-1 bg-primary">Contact Mangement Details</h5>
			<table
				class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
				<thead class="table-dark">
					<tr>
						<th style="width: 15px;">Id</th>
						<th>Divis</th>
						<th>Sub-Division</th>
						<th>Department</th>
						<th>Designation</th>
						<th>Name</th>
						<th>Mobile No</th>
						<th>Email ID</th>
						<th>Emp Status</th>
						<th>Photo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact: ${contactMang}">
						<td th:text="${contact.contactId}"></td>
						<td th:text="${contact.division}"></td>
						<td th:text="${contact.subDivision}"></td>
						<td th:text="${contact.dept}"></td>
						<td th:text="${contact.desig}"></td>
						<td th:text="${contact.name}"></td>
						<td th:text="${contact.mobileNo}"></td>
						<td th:text="${contact.emailId}"></td>
						<td th:text="${contact.empStatus}"></td>
						<td th:text="${contact.imageUpload}"></td>
					</tr>
				</tbody>
			</table>


		</div>
	</section>


</body>

</html>