<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="mt-2 ">
			<h4 class="text-center bg-primary py-1 text-white heading-shadow">ALL DASHBOARDS</h4>
			<div class="d-flex justify-content-center mt-4">
				<div class="row">
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__02 w-100" th:src="@{/images/dashboard/Task.jpg}"
											alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__01">Task Mangement</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__03 w-100"
											th:src="@{/images/dashboard/Assests.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__03">Assest Mangement</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__03 w-100"
											th:src="@{/images/dashboard/Workorder.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__04">Workorder Mangement</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__03 w-100" th:src="@{/images/dashboard/Stock.jpg}"
											alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__01">Stock Management</p>
								</a>
							</article>
						</div>
					</div>
				</div>
			</div>


			<div class="d-flex justify-content-center mt-4">
				<div class="row">
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__03 w-100"
											th:src="@{/images/dashboard/Inward.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__03">Inward Stock</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__04 w-100"
											th:src="@{/images/dashboard/Outward.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__04">Outward Stock</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__03 w-100"
											th:src="@{/images/dashboard/Contract.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__03">Contract Management</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__04 w-100"
											th:src="@{/images/dashboard/Billing.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__04">Billing Management</p>
								</a>
							</article>
						</div>
					</div>
				</div>
			</div>


			<div class="d-flex justify-content-center mt-4">
				<div class="row">
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__02 w-100" th:src="@{/images/dashboard/Pipe.jpg}"
											alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__01">Pipe Mangement</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__03 w-100" th:src="@{/images/dashboard/Pump.jpg}"
											alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__03">Pump Management</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__04 w-100"
											th:src="@{/images/dashboard/Leakage.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__04">Leakage Management</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__02 w-100"
											th:src="@{/images/dashboard/Monitoring.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__01">water level monitoring</p>
								</a>
							</article>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex justify-content-center mt-4">
				<div class="row mb-4">

					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"><img class="category__03 w-100" th:src="@{/images/dashboard/Meter.jpg}"
											alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__03">Meter Management</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a href="#"> <img class="category__04 w-100"
											th:src="@{/images/dashboard/Vehicle.jpg}" alt="" />
									</a>
								</picture>
								<a href="#">
									<p class="dash-category category__04">Vehicle management</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card border-hide">
								<picture class="thumbnail">

								</picture>
								<a href="#">

								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card border-hide">
								<picture class="thumbnail">

								</picture>
								<a href="#">

								</a>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>