<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

  <body>
	<section>
		<h1>Welcome To Dashboard</h1>
		
		
		<div style="margin-left:20px;">
			
			<!--************************** Row 1 *************************-->
			<div class="row">
			  <div class="col-sm-3">
			    <div class="card" style="background-color: rgb(255, 204, 0)">
			      <div class="card-body">
			        <p class="card-title text-center text-white" >Task</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Work Order</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Maintance Management</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Meter Mangement</p>
			      </div>
			    </div>
			  </div>
		  </div>
		  
		    
		<!--************************** Row 2 *************************-->
		
				<div class="row mt-4 ">
			  <div class="col-sm-3">
			    <div class="card" style="background-color: rgb(255, 204, 0)">
			      <div class="card-body">
			        <p class="card-title text-center text-white" >Stock Mangement</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Inward Matieral</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Inward Spares Matieral</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Inward  Tools  Or Equipment</p>
			      </div>
			    </div>
			  </div>
		  </div>
		 <!--************************** Row 3 *************************--> 
		  
				<div class="row mt-4">
			  <div class="col-sm-3">
			    <div class="card" style="background-color: rgb(255, 204, 0)">
			      <div class="card-body">
			        <p class="card-title text-center text-white" >Stock Rejection/ Damage</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Outward Matieral</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Outwar Spares Matieral</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Outward Tools Or Equipment</p>
			      </div>
			    </div>
			  </div>
		  </div>		  
		  
		  <!--************************** Row 4 *************************--> 
		  
				<div class="row mt-4">
			  <div class="col-sm-3">
			    <div class="card" style="background-color: rgb(255, 204, 0)">
			      <div class="card-body">
			        <p class="card-title text-center text-white" >Pipe Management</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Vehicel Management</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">H & R Management</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Pump House Maintance</p>
			      </div>
			    </div>
			  </div>
		  </div>		  
		  
		  <!--************************** Row 5 *************************--> 
		  
				<div class="row mt-2">
			  <div class="col-sm-3">
			    <div class="card" style="background-color: rgb(255, 204, 0)">
			      <div class="card-body">
			        <p class="card-title text-center text-white" >LeakageVehicel Maintance</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Levels & Control</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Complaint Mengement</p>
			      </div>
			    </div>
			  </div>
			   <div class="col-sm-3">
			    <div class="card">
			      <div class="card-body">
			        <p class="card-title text-center">Work Status</p>
			      </div>
			    </div>
			  </div>
		  </div>		  
		</div>
		  
		
	</section>
			  
    
  </body>
</html>