<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="row mt-3">
			<h5 class="text-center bg-info py-1 text-white mx-3">TASK</h5>
			<div class="col-md-4">
				<div class="card card-01">
					<img class="card-img-top"
						src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
						alt="Card image cap">
					<div class="card-body p-1">
						<a href="#" class="btn btn-success text-uppercase w-100">Work Order</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-01">
					<img class="card-img-top"
						src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
						alt="Card image cap">
					<div class="card-body p-1">
						<a href="#" class="btn btn-success text-uppercase w-100">Maintance Management</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-01">
					<img class="card-img-top"
						src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
						alt="Card image cap">
					<div class="card-body p-1">
						<a href="#" class="btn btn-success text-uppercase w-100">Meter Mangement</a>
					</div>
				</div>
			</div>
			
		</div>
		
	</section>
</body>

</html>