<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Inward Materials
		</h3>
		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}">Stock Management</a></div>
						</li>


						<li class="crumb active">
							<div class="link"><span aria-current="location">Inward Material</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active mx-1 py-2 text-white hvr bg-dark" id="pills-home-tab"
							data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
							aria-controls="pills-home" aria-selected="true">
							Inward Entry
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-chart-tab"
							data-bs-toggle="pill" data-bs-target="#pills-chart" type="button" role="tab"
							aria-controls="pills-chart" aria-selected="false">
							Inward Chart
						</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-profile-tab"
							data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
							aria-controls="pills-profile" aria-selected="false">
							Inward List
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
				tabindex="0">
				<div class="col-11 mx-auto">
					<div class="card bl-cr">
						<div class="card-header text-center heading-bg text-white">
							<h4 class="mb-0">Inward Material</h4>
						</div>
						<div class="card-body font-weight-bold">
							<form class="p-0 mb-0" th:action="@{/stocks/inward/add}" th:object="${inwardItem}"
								method="post" enctype="multipart/form-data">
								<div class="row">
									<div class="col-9">
										<div class="row">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Item Name
													</label>
													<div class="col-sm-8">
														<select class="form-select" id="itemId" name="itemName">
															<option value="" selected>Select</option>
															<option th:each="item : ${items}"
																th:value="${item.hsnCodeId}"
																th:utext="${item.itemName}" />
														</select>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Alias
														Name</label>
													<div class="col-sm-8 px-0">
														<input type="text" name="aliasName" class="form-control" />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-4 col-form-label">Category</label>
													<div class="col-sm-8">
														<select class="form-select" name="categoryName">
															<option value="" selected>Select</option>
															<option th:each="category : ${categories}"
																th:value="${category.categoryName}"
																th:utext="${category.categoryName}" />
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="row mt-3">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-4 col-form-label">Brand</label>
													<div class="col-sm-8">
														<select class="form-select" name="brand">
															<option value="" selected>Select</option>
															<option value="Astral Pipes">Astral Pipes</option>
															<option value="Appllo">Appllo</option>
															<option value="FinOlex">FinOlex</option>
															<option value="Ashirvad">Ashirvad</option>
														</select>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">HSN Code
													</label>
													<div class="col-sm-8">
														<input type="hidden" id="get-hsncode" name="hsnCode" />
														<input type="text" id="get-hsn" class="form-control" disabled />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Unit of
														Measure</label>
													<div class="col-sm-8">
														<select class="form-select" name="unitOfMeasure">
															<option value="" selected>Select</option>
															<option th:each="unitOfMeasure : ${unitOfMeasures}"
																th:value="${unitOfMeasure.unitType}"
																th:utext="${unitOfMeasure.unitType}" />
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Cost
														Rate</label>
													<div class="col-sm-8">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text py-2 font-weight-bold"
																	style="border-radius: 0;">&#8377;</span>
															</div>
															<input type="number" name="costRate" class="form-control" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">MRP
													</label>
													<div class="col-sm-8">
														<div class="input-group">
															<div class="input-group-prepend">
																<span class="input-group-text py-2 font-weight-bold"
																	style="border-radius: 0;">&#8377;</span>
															</div>
															<input type="number" name="mrp" class="form-control" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Total
														Quantity</label>
													<div class="col-sm-8">
														<input type="number" name="totalQuantity"
															class="form-control" />
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Entry
														Date</label>
													<div class="col-sm-8">
														<input type="date" name="entryDate" class="form-control" />
													</div>
												</div>
											</div>
											<div class="col-8">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-2 col-form-label pr-0"
														style="width: 110px;">Description</label>
													<div class="col-sm-10 px-0">
														<input type="text" name="description" class="form-control" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-3 text-center">
										<label for="staticEmail">Material Image</label>
										<input name="materialImage" type="file" class="dropify" data-height="200"
											accept="image/*" data-max-file-size="2M" required />
										<strong class="text-danger"> File Max Size: 2MB</strong>
									</div>
									<div class="row">
										<div class="col-12 text-center">
											<button type="submit" class="btn btn-primary btn-sm"><i
													class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
											<button type="reset" class="btn btn-secondary btn-sm"><i
													class="glyphicon glyphicon-trash"></i>&nbsp;Clear</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<h3 class="text-center bg-warning mt-2 py-1"><small>Added Materials</small></h3>

					<table class="table table-stock table-bordered table table-success table-striped table-hover">
						<thead class="table-dark">
							<tr>
								<th class="all">SI</th>
								<th class="all">Item</th>
								<th class="all">Image</th>
								<th class="all">Category</th>
								<th class="all">Brand</th>
								<th class="all">HSN</th>
								<th class="all">Qty</th>
								<th class="all">Unit</th>
								<th class="all">Cost</th>
								<th class="all">MRP</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inwardItemList: ${inwardItemLists}">
								<td th:text="${inwardItemList.itemId}"></td>
								<td th:text="${inwardItemList.itemName}"></td>
								<td class="text-center thumb">
									<img th:src="@{${inwardItemList.imagePath} + ${inwardItemList.materialImage}}"
										alt="image" />
								</td>
								<td th:text="${inwardItemList.categoryName}"></td>
								<td th:text="${inwardItemList.brand}"></td>
								<td th:text="${inwardItemList.hsnCode}"></td>
								<td th:text="${inwardItemList.totalQuantity}"></td>
								<td th:text="${inwardItemList.unitOfMeasure}"></td>
								<td>&#8377;<label class="px-1" th:text="${inwardItemList.costRate}"></label></td>
								<td>&#8377;<label class="px-1" th:text="${inwardItemList.mrp}"></label></td>
							</tr>
						</tbody>
					</table>
					<div class="alert alert-dark text-danger text-center my-2 py-1" role="alert"
						th:if="${emptyList != null}">
						[[${emptyList}]]</div>

					<div class="row">
						<div class="col-9">
							<div class="card my-1 w-100 bl-cr">
								<div class="card-body ft pb-0 font-weight-bold">
									<form th:action="@{/inward/material/add}" th:object="${inwardItem}" method="post">
										<div class="row">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-4 col-form-label">Supplier
													</label>
													<div class="col-sm-8">
														<input type="text" name="supplierName" class="form-control" />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-5 col-form-label"
														style="width: 95px;">Supplied On</label>
													<div class="col-sm-7">
														<input type="date" name="suppliedOn" class="form-control" />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-5 col-form-label">GST
														Type</label>
													<div class="col-sm-7">
														<select class="form-select">
															<option value="" selected>Select</option>
															<option value="Taxable">Taxable</option>
															<option value="Exempted">Exempted</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-4 col-form-label">IGST</label>
													<div class="col-sm-8">
														<div class="input-group">
															<input type="number" class="form-control" />
															<div class="input-group-prepend">
																<span class="input-group-text py-2 font-weight-bold"
																	style="border-radius: 0;">%</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-5 col-form-label">CGST</label>
													<div class="col-sm-7">
														<div class="input-group">
															<input type="number" class="form-control" />
															<div class="input-group-prepend">
																<span class="input-group-text py-2 font-weight-bold"
																	style="border-radius: 0;">%</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-5 col-form-label">CGST</label>
													<div class="col-sm-7">
														<div class="input-group">
															<input type="number" class="form-control" />
															<div class="input-group-prepend">
																<span class="input-group-text py-2 font-weight-bold"
																	style="border-radius: 0;">%</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail"
														class="col-sm-4 col-form-label">Invoice</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>
											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-5 col-form-label">Received
														By</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" />
													</div>
												</div>
											</div>

											<div class="col-4">
												<div class="form-group row">
													<label for="staticEmail" class="col-sm-5 col-form-label">Received
														Date</label>
													<div class="col-sm-7">
														<input type="date" class="form-control" />
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-3">
											<div class="col-12 text-center">
												<button type="submit" class="btn btn-success btn-sm">Submit</button>
												<button type="reset" class="btn btn-danger btn-sm">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-3 pt-1">
							<div class="row text-white">
								<div class="col-6 bg-dark py-2 rounded-top">
									<label class="font-weight-bold">Subtotal</label>
								</div>
								<div class="col-6 bg-dark row py-2 rounded-top">
									&#8377;
									<label class="subtotal font-weight-bold"></label>
								</div>
							</div>
							<div class="row text-white">
								<div class="col-6 bg-primary py-2 rounded-bottom">
									<label class="font-weight-bold">Grand Total</label>
								</div>
								<div class="col-6 bg-primary row py-2 rounded-bottom">
									&#8377;
									<label class="subtotal font-weight-bold"></label>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="tab-pane fade" id="pills-chart" role="tabpanel" aria-labelledby="pills-chart-tab" tabindex="0">
				<figure class="highcharts-figure border">
					<div id="container"></div>
				</figure>
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
				tabindex="0">
				<table
					class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
					<thead class="table-dark">
						<tr>
							<th class="all">Id</th>
							<th class="all">Category</th>
							<th class="all">Item</th>
							<th class="all">Supplier</th>
							<th class="all">Brand</th>
							<th class="all">HSN</th>
							<th class="all">Qty</th>
							<th class="all">Unit</th>
							<th class="all">MRP</th>
							<th class="all">Entry Date</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>

	</section>
</body>

</html>