<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Inward Spares Entry
		</h3>
		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Inward Spares Entry</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">

						<a class="nav-link py-2 w-100 px-2 text-white hvr active-tab bg-dark"
							th:href="@{/stocks/inward/spares/entry}">
							Inward Spares Entry
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/inward/spares/chart}">
							Inward Spares Chart
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/inward/spares/list}">
							Inward Spares List
						</a>
					</li>
					
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/inward/spares/list/approved}">
							Inward Approved Spares List
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="col-12 mx-auto">
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h4 class="mb-0">Inward Spare</h4>
				</div>
				<div class="card-body font-weight-bold">
					<form class="p-0 mb-0" th:action="@{/stocks/inward/spares/entry/add}" th:object="${inward}"
						method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-9">
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Item Name
											</label>
											<div class="col-sm-8">
												<select class="form-select" id="itemId" name="itemName" required>
													<option value="" selected>Select</option>
													<option th:each="item : ${items}" th:value="${item.hsnCodeId}"
														th:utext="${item.itemName}" />
												</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label pr-0">Alias
												Name</label>
											<div class="col-sm-8 px-0">
												<input type="text" name="aliasName" class="form-control" required/>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
											<div class="col-sm-8">
												<select class="form-select" name="category" required>
													<option value="" selected>Select</option>
													<option th:each="category : ${categories}"
														th:value="${category.categoryName}"
														th:utext="${category.categoryName}" />
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="row mt-3">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Brand</label>
											<div class="col-sm-8">
												<select class="form-select" name="brand" required>
													<option value="" selected>Select</option>
													<option value="Astral Pipes">Astral Pipes</option>
													<option value="Appllo">Appllo</option>
													<option value="FinOlex">FinOlex</option>
													<option value="Ashirvad">Ashirvad</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">HSN Code
											</label>
											<div class="col-sm-8">
												<input type="hidden" id="get-hsncode" name="hsnCode" />
												<input type="text" id="get-hsn" class="form-control" disabled required/>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Unit of
												Measure</label>
											<div class="col-sm-8">
												<select class="form-select" name="unitOfMeasure" required>
													<option value="" selected>Select</option>
													<option th:each="unitOfMeasure : ${unitOfMeasures}"
														th:value="${unitOfMeasure.unitType}"
														th:utext="${unitOfMeasure.unitType}" />
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Cost
												Rate</label>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text py-2 font-weight-bold"
															style="border-radius: 0;">&#8377;</span>
													</div>
													<input type="number" name="costRate" class="form-control" required/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">MRP
											</label>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text py-2 font-weight-bold"
															style="border-radius: 0;">&#8377;</span>
													</div>
													<input type="number" name="mrpRate" class="form-control" required/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												Quantity</label>
											<div class="col-sm-8">
												<input type="number" name="quantity" class="form-control" required/>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Entry
												Date</label>
											<div class="col-sm-8">
												<input type="date" name="entryDate" class="form-control" required/>
											</div>
										</div>
									</div>
									<div class="col-8">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-2 col-form-label pr-0"
												style="width: 110px;">Description</label>
											<div class="col-sm-10 px-0">
												<input type="text" name="description" class="form-control" required/>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-3 text-center">
								<label for="staticEmail">Spare Image</label>
								<input name="itemImage" type="file" class="dropify" data-height="200" accept="image/*"
									data-max-file-size="2M" required />
								<strong class="text-danger"> File Max Size: 2MB</strong>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<button type="submit" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
									<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<h3 class="text-center bg-warning mt-2 py-1"><small>Added Spares</small></h3>

			<table class="table table-stock table-bordered table table-success table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th class="all">Category</th>
						<th class="all">Item ID</th>
						<th class="all">Item</th>
						<th class="all">Image</th>
						<th class="all">Brand</th>
						<th class="all">HSN</th>
						<th class="all">Unit(M)</th>
						<th class="all">Cost</th>
						<th class="all">MRP</th>
						<th class="all">Qty</th>
						<th class="all">Total</th>
						<th class="all" width="80px"><button
								th:onclick="|deleteAll('/stocks/inward/spares/deleteAll')|"
								class="btn text-danger p-0 font-weight-bold" data-toggle="modal"
								data-target="#delAllSpares" data-bs-toggle="tooltip" data-bs-placement="top"
								title="Remove Spare">Clear All</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tempSpare: ${tempSpares}">
						<td th:text="${tempSpare.category}"></td>
						<td th:text="${tempSpare.itemId}"></td>
						<td th:text="${tempSpare.itemName}"></td>
						<td class="text-center thumb">
							<img th:src="@{${tempSpare.imagePath} + ${tempSpare.itemImage}}" alt="image" />
						</td>

						<td th:text="${tempSpare.brand}"></td>
						<td th:text="${tempSpare.hsnCode}"></td>

						<td th:text="${tempSpare.unitOfMeasure}"></td>
						<td>&#8377;<label class="px-1" th:text="${tempSpare.costRate}"></label></td>
						<td>&#8377;<label class="px-1" th:text="${tempSpare.mrpRate}"></label></td>
						<td th:text="${tempSpare.quantity}"></td>
						<td>&#8377;<label class="px-1" th:text="${tempSpare.subTotal}"></label></td>

						<td class="text-center">

							<button
								th:onclick="|deleteId('/stocks/inward/spares/delete/${tempSpare.tempSpareId}')|"
								class="btn btn-danger p-1 mx-2" data-toggle="modal" data-target="#delSpare"
								data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Item"><span
									class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="alert alert-dark text-danger text-center my-2 py-1" role="alert" th:if="${emptyList != null}">
				[[${emptyList}]]</div>

			<form th:action="@{/stocks/inward/spares/entry/addAll}" th:object="${inward}" method="post">
				<div class="row">
					<div class="col-9">
						<div class="card my-1 w-100 bl-cr">
							<div class="card-body font-weight-bold">

								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Supplier
											</label>
											<div class="col-sm-8">
												<input type="text" name="supplier" class="form-control" required/>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label"
												style="width: 95px;">Supplied On</label>
											<div class="col-sm-7">
												<input type="date" name="suppliedOn" class="form-control" required/>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">GST
												Type<strong class="text-danger">*</strong></label>
											<div class="col-sm-7">
												<select class="form-select" name="gstType" id="select-gst-spare"
													required>
													<option value="">Select</option>
													<option value="Taxable">Taxable</option>
													<option value="Exempted">Exempted</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">GST/IGST</label>
											<div class="col-sm-8">
												<div class="input-group">
													<input type="number" id="get-igst-spare"
														class="form-control calculate-spare" name="igst" required />
													<div class="input-group-prepend">
														<span class="input-group-text font-weight-bold"
															style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">SGST</label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="hidden" name="sgst" id="get-imp-sgst-spare" />
													<input type="number" id="get-sgst-spare" class="form-control" />
													<div class="input-group-prepend">
														<span class="input-group-text font-weight-bold"
															style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">CGST</label>
											<div class="col-sm-7">
												<div class="input-group">
													<input type="hidden" name="cgst" id="get-imp-cgst-spare" />
													<input type="number" id="get-cgst-spare" class="form-control" />
													<div class="input-group-prepend">
														<span class="input-group-text  font-weight-bold"
															style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Invoice</label>
											<div class="col-sm-8">
												<input type="text" name="invoice" class="form-control" required/>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">Received
												By</label>
											<div class="col-sm-7">
												<input type="text" name="receivedBy" class="form-control" required/>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">Received
												Date</label>
											<div class="col-sm-7">
												<input type="date" name="receivedDate" class="form-control" required/>
											</div>
										</div>
									</div>
								</div>
								
								<div class="row mt-3">
									<div class="col-12 text-center">
										<button type="submit" class="btn btn-success btn-sm">Submit</button>
										<button type="reset" class="btn btn-danger btn-sm">Cancel</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3 pt-1">
						<div class="row text-white">
							<div class="col-6 bg-dark py-2 rounded-top">
								<label class="font-weight-bold mb-0">Subtotal</label>
							</div>
							<div class="col-6 bg-dark row py-2 rounded-top">
								<label class="font-weight-bold mb-0">&#8377;<label
										class=" pl-2 font-weight-bold mb-0 get-item-sub-total-spare"
										th:text="${subTotal}"></label></label>
							</div>
						</div>
						<div class="row text-white">
							<div class="col-6 bg-primary py-2 rounded-bottom">
								<label class="font-weight-bold mb-0">Grand Total</label>
							</div>
							<div class="col-6 bg-primary row py-2 rounded-bottom">
								<label class="font-weight-bold mb-0">&#8377;<label
										class=" pl-2 font-weight-bold mb-0 set-item-grand-total-spare"></label></label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="modal fade" id="delSpare" tabindex="-1" role="dialog" aria-labelledby="delSpare"
			aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Remove Item</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to remove this Spare from the list?
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Remove</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="delAllSpares" tabindex="-1" role="dialog" aria-labelledby="delAllSpares"
			aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Remove Items</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to remove All Spares from the list?
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="deleteAll">Yes, Remove</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>