<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Inward Bundles
		</h3>
		<div class="row mt-2">
			<div class="col-6" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/inward/material}">Inward Material</a></div>
						</li>
						
						<li class="crumb active">
							<div class="link"><span aria-current="location">Inward Bundles</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-6">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/inward/material}">
							Inward Entry
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/inward/material/chart}">
							Inward Chart
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr active-tab bg-dark"
							th:href="@{/stocks/inward/material/bundles}">
							Inward Bundles
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/inward/material/list}">
							Inward Full List
						</a>
					</li>

					
				</ul>
			</div>
		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<table
			class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
			<thead class="table-dark" style="font-size: 5px;">
				<tr>
					<th class="all" > ID</th>
					<th class="all">Supplier</th>
					<th class="all">Invoice</th>
								
					<th class="all">IGST</th>
					<th class="all">CGST</th>
					<th class="all">SGST</th>
					<th class="all">Subtotal</th>
					<th class="all">Total Amt</th>
					<th class="all">No's</th>
					<th class="all">Rcvd By</th>
					<th class="all">Rcvd Date </th>
					<th class="all">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bundleMaterialsList: ${bundleMaterialsLists}">
					<td th:text="${bundleMaterialsList.bundleId}"></td>
					<td th:text="${bundleMaterialsList.supplierName}"></td>
					<td th:text="${bundleMaterialsList.invoiceNo}"></td>
									
					<td th:text="${bundleMaterialsList.igst}"></td>
					<td th:text="${bundleMaterialsList.cgst}"></td>
					<td th:text="${bundleMaterialsList.sgst}"></td>
					<td>&#8377;<label class="px-1" th:text="${bundleMaterialsList.subTotal}"></label></td>
					<td>&#8377;<label class="px-1" th:text="${bundleMaterialsList.grandTotal}"></label></td>
					<td th:text="${bundleMaterialsList.noOfMaterials}"></td>
					<td th:text="${bundleMaterialsList.receivedBy}"></td>
					<td th:text="${bundleMaterialsList.receivedDate}"></td>

					<td class="text-center">
						<a th:href="@{'/stocks/inward/material/bundle/view/' + ${bundleMaterialsList.bundleId}}"
							class="btn btn-success p-1 mx-2" data-bs-toggle="tooltip" data-bs-placement="top"
							title="View Bundle"><span class="glyphicon glyphicon-eye-open"></span></a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
</body>

</html>