<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Inward Tools List
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Outward Stocks</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-8">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/outward}">
							Outward Stocks
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/outward/chart}">
							Outward Stocks Chart
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white active-tab hvr bg-dark"
							th:href="@{/stocks/outward/list}">
							Outward Stocks Workorder wise
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/outward/list/approved}">
							Outward Stocks Approved List
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<table
			class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
			<thead class="table-dark">
				<tr>
					<th class="all">Sl No</th>
					<th class="all">Workorder No</th>
					<th class="all">Item ID</th>
					<th class="all">Category</th>
					<th class="all">Item Name</th>
					<th class="all">Item Image</th>
					<th class="all">Stock Type</th>
					<th class="all">Qty</th>
					<th class="all">MRP</th>
					<th class="all">Total Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="outwardStocksListItem: ${outwardStocksListItems}">
					<td th:text="${outwardStocksListItem.slNo}"></td>
					<td th:text="${outwardStocksListItem.workOrderNo}"></td>
					<td th:text="${outwardStocksListItem.itemId}"></td>
					<td th:text="${outwardStocksListItem.category}"></td>
					<td th:text="${outwardStocksListItem.itemName}"></td>
					<td class="text-center thumb">
						<img th:src="@{${outwardStocksListItem.imagePath} + ${outwardStocksListItem.itemImage}}"
							alt="image" />
					</td>
					<td th:text="${outwardStocksListItem.stockType}"></td>
					<td th:text="${outwardStocksListItem.finalQuantity}"></td>
					<td>&#8377;<label class="px-1" th:text="${outwardStocksListItem.mrpRate}"></label></td>
					<td>&#8377;<label class="px-1" th:text="${outwardStocksListItem.totalCost}"></label></td>
				</tr>
			</tbody>
		</table>
		<div class="card my-1 w-100 bl-cr">
			<div class="card-body font-weight-bold">
				<div class="row">
					<div class="col-8">
						<div class="row">
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-5 col-form-label" style="width: 95px;">Billed
										On</label>
									<div class="col-sm-7">
										<input type="date" class="form-control"
											th:value=${outwardStocksWorkorderNo.billedOn} disabled />
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-5 col-form-label">GST
										Type</label>
									<div class="col-sm-7">
										<input type="text" class="form-control"
											th:value=${outwardStocksWorkorderNo.gstType} disabled />
									</div>
								</div>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-4">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-4 col-form-label">IGST</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input type="number" class="form-control"
												th:value=${outwardStocksWorkorderNo.igst} disabled />
											<div class="input-group-prepend">
												<span class="input-group-text font-weight-bold"
													style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-5 col-form-label">SGST</label>
									<div class="col-sm-7">
										<div class="input-group">

											<input type="number" class="form-control"
												th:value=${outwardStocksWorkorderNo.sgst} disabled />
											<div class="input-group-prepend">
												<span class="input-group-text font-weight-bold"
													style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group row">
									<label for="staticEmail" class="col-sm-5 col-form-label">CGST</label>
									<div class="col-sm-7">
										<div class="input-group">
											<input type="number" class="form-control"
												th:value=${outwardStocksWorkorderNo.cgst} disabled />
											<div class="input-group-prepend">
												<span class="input-group-text  font-weight-bold"
													style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4 text-center">
						<div class="row text-white">
							<div class="col-6 bg-dark py-2 rounded-top">
								<label class="font-weight-bold mb-0">Subtotal</label>
							</div>
							<div class="col-6 bg-dark row py-2 rounded-top">
								<label class="font-weight-bold mb-0">&#8377;<label class=" pl-2 font-weight-bold mb-0"
										th:text=${outwardStocksWorkorderNo.subTotal}></label></label>

							</div>
						</div>
						<div class="row text-white">
							<div class="col-6 bg-primary py-2 rounded-bottom">
								<label class="font-weight-bold mb-0">Grand Total</label>
							</div>
							<div class="col-6 bg-primary row py-2 rounded-bottom">
								<label class="font-weight-bold mb-0">&#8377;<label class=" pl-2 font-weight-bold mb-0"
										th:text=${outwardStocksWorkorderNo.grandTotal}></label></label>

							</div>
						</div>
					</div>

					<div class="col-12 text-center mt-3">

						<a th:href="@{/stocks/outward/list}" class="btn btn-success btn-sm mr-3">Back</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>