<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Stocks Returns
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Stocks Return Entry</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-8">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">

						<a class="nav-link py-2 w-100 px-2 text-white hvr active-tab bg-dark"
							th:href="@{/stocks/return/entry}">
							Stocks Return Entry
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/return/chart}">
							Stocks Returns Chart
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/return/list}">
							Stocks Returns List
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/return/approved/list}">
							Stocks Approved Returns List
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div th:if="${session.message}" class="alert_field">
			<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('message')}"></th:block>
		</div>
		<div class="col-12 mx-auto">
			<div class="card bl-cr">
				<div class="card-header text-center heading-bg text-white">
					<h4 class="mb-0">Stock Return</h4>
				</div>
				<div class="card-body font-weight-bold">
					<form class="p-0 mb-0" th:action="@{/stocks/return/items/entry/add}" th:object="${stockReturn}"
						method="post" enctype="multipart/form-data">
						<div class="row">
							<div class="col-9">
								<div class="row">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-3 col-form-label">Wokorder Number
											</label>
											<div class="col-sm-9">
												<select class="form-select" id="mySelect2" name="workOrderNo" required>
													<option value="" selected>Select</option>
													<option th:each="workOrder : ${workOrders}"
														th:value="${workOrder.workOrderNo}"
														th:utext="${workOrder.workOrderNo}" />
												</select>
											</div>
										</div>
									</div>
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-3 col-form-label">Item ID
											</label>
											<div class="col-sm-9">
												<select class="form-select" id="mySelect3" name="itemId" required>
													<option value="" selected>Select</option>
												</select>
											</div>
										</div>
									</div>

								</div>
								<div class="row mt-3">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Item
												Name</label>
											<div class="col-sm-8">
												<input type="text" id="sr-itemName" class="form-control" disabled />
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Category</label>
											<div class="col-sm-8">
												<input type="text" id="sr-category" class="form-control" disabled
													required />
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Unit of
												Measure</label>
											<div class="col-sm-8">
												<input type="text" id="sr-unitOfMeasure" class="form-control" disabled
													required />
											</div>
										</div>
									</div>

								</div>
								<div class="row">

									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												Stock Type</label>
											<div class="col-sm-8">
												<input type="text" id="sr-stockType" class="form-control" disabled
													required />

											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">MRP
											</label>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text py-2 font-weight-bold"
															style="border-radius: 0;">&#8377;</span>
													</div>
													<input type="text" id="sr-mrpRate" class="form-control" disabled
														required />
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												Order Quantity</label>
											<div class="col-sm-8">
												<input type="text" id="sr-orderQuantity" class="form-control" disabled
													required />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												GST</label>
											<div class="col-sm-8">
												<input type="text" id="sr-igst" class="form-control" disabled
													required />

											</div>
										</div>

									</div>
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Order Total
												Cost</label>
											<div class="col-sm-8">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text py-2 font-weight-bold"
															style="border-radius: 0;">&#8377;</span>
													</div>
													<input type="text" id="sr-orderTotalCost" class="form-control"
														disabled required />
												</div>
											</div>
										</div>
									</div>


									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Return
												Quantity<strong class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<input type="number" name="returnQuantity" id="return-quantity"
													class="form-control" required />
											</div>
										</div>
									</div>


								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												Return Reason<strong class="text-danger">*</strong></label>
											<div class="col-sm-8">
												<select class="form-select" name="returnReason" required>
													<option value="" selected>Select</option>
													<option value="Damaged Item">Damaged Item</option>
													<option value="Exceeded Item">Exceeded Item</option>
													<option value="Worngly Placed">Worngly Placed</option>
												</select>

											</div>
										</div>
									</div>
									<div class="col-8">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">
												Return Description</label>
											<div class="col-sm-8">
												<input type="text" name="description" class="form-control" required />

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-3 text-center">
								<input name="itemImage" type="file" class="dropify" data-height="200" accept="image/*"
									data-max-file-size="2M" required />
								<strong class="text-primary"> File Max Size: 2MB</strong>
							</div>
							<input type="hidden" id="itemName-sr" name="itemName" />
							<input type="hidden" id="category-sr" name="category" />
							<input type="hidden" id="unitOfMeasure-sr" name="unitOfMeasure" />
							<input type="hidden" id="orderTotalCost-sr" name="orderTotalCost" />
							<input type="hidden" id="mrpRate-sr" name="mrpRate" />
							<input type="hidden" id="orderQuantity-sr" name="orderQuantity" />
							<input type="hidden" id="stockType-sr" name="stockType" />
							<input type="hidden" id="igst-sr" name="igst" />
							<input type="hidden" id="sgst-sr" name="sgst" />
							<input type="hidden" id="cgst-sr" name="cgst" />
							<div class="row">
								<div class="col-12 text-center">
									<button type="submit" class="btn btn-primary btn-sm"><i
											class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
									<button type="reset" class="btn btn-secondary btn-sm">Reset</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<h3 class="text-center bg-warning mt-2 py-1"><small>Returned Stocks</small></h3>

			<table class="table table-stock table-bordered table table-success table-striped table-hover">
				<thead class="table-dark">
					<tr>
						<th class="all">Category</th>
						<th class="all">Item ID</th>
						<th class="all">Item</th>
						<th class="all">Image</th>

						<th class="all">Unit(M)</th>

						<th class="all">MRP</th>
						<th class="all">Ordered Qty</th>
						<th class="all">Return Qty</th>
						<th class="all">Ordered Cost</th>
						<th class="all">Return Cost</th>
						<th class="all" width="80px"><button th:onclick="|deleteAll('/stocks/return/items/deleteAll')|"
								class="btn text-danger p-0 font-weight-bold" data-toggle="modal" data-target="#delAll"
								data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Spare">Clear All</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="tempStockReturn: ${tempStockReturns}">
						<td th:text="${tempStockReturn.category}"></td>
						<td th:text="${tempStockReturn.itemId}"></td>
						<td th:text="${tempStockReturn.itemName}"></td>
						<td class="text-center thumb">
							<img th:src="@{${tempStockReturn.imagePath} + ${tempStockReturn.itemImage}}" alt="image" />
						</td>
						<td th:text="${tempStockReturn.unitOfMeasure}"></td>
						<td>&#8377;<label class="px-1" th:text="${tempStockReturn.mrpRate}"></label></td>
						<td th:text="${tempStockReturn.orderQuantity}"></td>
						<td th:text="${tempStockReturn.returnQuantity}"></td>
						<td>&#8377;<label class="px-1" th:text="${tempStockReturn.orderTotalCost}"></label></td>
						<td>&#8377;<label class="px-1" th:text="${tempStockReturn.returnTotalCost}"></label></td>
						<td class="text-center">
							<button
								th:onclick="|deleteId('/stocks/return/items/delete/${tempStockReturn.tempStockId}')|"
								class="btn btn-danger p-1 mx-2" data-toggle="modal" data-target="#del"
								data-bs-toggle="tooltip" data-bs-placement="top" title="Remove Item"><span
									class="glyphicon glyphicon-trash"></span></button>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="alert alert-dark text-danger text-center my-2 py-1" role="alert" th:if="${emptyList != null}">
				[[${emptyList}]]</div>

			<form th:action="@{/stocks/return/items/entry/addAll}" th:object="${stockReturn}" method="post">
				<div class="row">
					<div class="col-9">
						<div class="card my-1 w-100 bl-cr">
							<div class="card-body font-weight-bold">
								<div class="row ">
									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-4 col-form-label">Invoice</label>
											<div class="col-sm-8">
												<input type="text" name="invoiceNo" class="form-control" required />
											</div>
										</div>
									</div>


									<div class="col-6">
										<div class="form-group row">
											<label for="staticEmail" class="col-sm-5 col-form-label">Return
												Enry Date</label>
											<div class="col-sm-7">
												<input type="date" name="returnEntryDate" class="form-control"
													required />
											</div>
										</div>
									</div>
								</div>

								<div class="row mt-3">
									<div class="col-12 text-center">
										<button type="submit" class="btn btn-success btn-sm">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-3 pt-1">
						<div class="row text-white">
							<div class="col-6 bg-dark py-2 rounded-top">
								<label class="font-weight-bold mb-0">Total Return Amount</label>
								<label class="font-weight-bold mb-0">(Inclusive of GST)</label>
							</div>
							<div class="col-6 bg-dark row py-2 rounded-top">
								<label class="font-weight-bold mb-0">&#8377;<label class=" pl-2 font-weight-bold mb-0"
										th:text="${returnCost}"></label></label>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="del" aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Remove Item</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to remove this Items from the list?
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="delRef">Yes, Remove</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="delAll" tabindex="-1" role="dialog" aria-labelledby="delAll" aria-hidden="true">
			<div class="modal-dialog" role="document" style="margin-top: 180px;">
				<div class="modal-content">
					<div class="modal-header p-2">
						<h4>Remove Items</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Are you sure, you want to remove All Items from the list?
					</div>
					<div class="modal-footer p-2">
						<a href="" class="btn btn-sm btn-danger" id="deleteAll">Yes, Remove</a>
						<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>

</html>