<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Stocks Returns
		</h3>
		<div class="row mt-2">
			<div class="col-4" dir="ltr">
				<nav aria-label="breadcrumb">
					<ol class="default-breadcrumb">
						<li class="crumb">
							<div class="link"><a th:href="@{/stocks/dashboard}" class="fa fa-home pt-1"></a></div>
						</li>

						<li class="crumb active">
							<div class="link"><span aria-current="location">Stocks Return</span></div>
						</li>
					</ol>
				</nav>
			</div>
			<div class="col-8">
				<ul class="nav nav-pills justify-content-end py-1 mb-2" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">

						<a class="nav-link py-2 w-100 px-2 text-white hvr active-tab bg-dark"
							th:href="@{/stocks/return/entry}">
							Stocks Return Entry
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/return/chart}">
							Stocks Returns Chart
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark" th:href="@{/stocks/return/list}">
							Stocks Returns List
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link py-2 w-100 px-2 text-white hvr bg-dark"
							th:href="@{/stocks/return/approved/list}">
							 Approved Returns List
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-9">
				<div th:if="${session.message}" class="alert_field">
					<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}" role="alert">
						<span th:text="${session.message.content}"></span>
					</div>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card bl-cr">
					<div class="card-header text-center bg-info text-white heading-bg">
						<h4 class="mb-0">Outward Stocks</h4>
					</div>
					<div class="card-body font-weight-bold pb-0">

						<div th:if="${stockOrder.stockOrderNo != null} ">
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Complaint
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.complNo}" disabled />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Workorder
											No</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.workOrderNo}" disabled />
											<input type="hidden" th:value="${stockOrder.workOrderNo}"
												id="get-workorder-no" />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">StockOrder
											No</label>
										<div class="col-sm-6 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.stockOrderNo}" disabled />
											<input type="hidden" th:value="${stockOrder.stockOrderNo}"
												id="get-stockorder-no" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Department</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.departmentName}" disabled />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Division</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.division}" disabled />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Sub
											Division</label>
										<div class="col-sm-6 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.subDivision}" disabled />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work
											Priority</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.workPriority}" disabled />
										</div>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Work Site</label>
										<div class="col-sm-7 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.workSite}" disabled />
										</div>
									</div>

								</div>
								<div class="col-4">
									<div class="form-group row">
										<label for="staticEmail" class="col-sm-5 col-form-label pr-0">Contact No</label>
										<div class="col-sm-6 px-0">
											<input type="text" class="form-control text-center font-weight-bold"
												th:value="${stockOrder.contactNo}" disabled />
										</div>
									</div>
								</div>
							</div>
							<h3 class="text-center bg-info mt-2 py-1 text-white"><small>stock Order Items</small>
							</h3>
						</div>

						<table
							class="table table-stock table-bordered basket-tbl table table-striped table-hover shopping-cart is-fullwidth orderTable actionBtn">
							<thead class="bg-dark text-white">
								<tr>
									<th class="all">Sl No</th>
									<th class="all">Item ID</th>
									<th class="all">Item</th>
									<th class="all text-center">Availability</th>
									<th class="all">Image</th>
									<th class="all ">Type</th>
									<th class="all" style="width: 12%;">MRP</th>
									<th class="all" style="width: 15%;">Quantity</th>
									<th class="all" style="width: 12%;">Total</th>
									<!--<th class="all" style="width: 5%;">Action</th>-->
								</tr>
							</thead>
							<tbody class="add-item">
								<tr th:each="getStockOrderItem: ${getStockOrderItems}">
									<td th:text="${getStockOrderItem.slNo}"></td>
									<td th:text="${getStockOrderItem.itemId}"></td>
									<td class="item-id" th:text="${getStockOrderItem.itemId}" style="display: none;">
									</td>
									<td class="sl_no"><label class="mb-0"
											th:text="${getStockOrderItem.itemName}"></label></td>
									<td class="text-center"><span th:if="${getStockOrderItem.stockAvailable} > 0"
											class="bg-success p-1 rounded font-weight-bold text-white">Available</span>
										<span th:if="${getStockOrderItem.stockAvailable} <= 0"
											class="bg-danger p-1 rounded font-weight-bold text-white">Not
											Available</span>
									</td>

									<td class="text-center thumb">
										<img th:src="@{${getStockOrderItem.imagePath} + ${getStockOrderItem.itemImage}}"
											alt="image" />
									</td>
									<td th:text="${getStockOrderItem.stockType == 'ML' ? 'Material' :
					                 getStockOrderItem.stockType == 'SP' ? 'Spare' :
					                 getStockOrderItem.stockType == 'TE' ? 'Tool/Equipment' :
					                 getStockOrderItem.stockType}"></td>
									<td>
										<div class="row text-center">
											<i class="fa fa-inr pt-1 pl-3" aria-hidden="true"
												style="font-size: 13px; width: 0;"> </i>
											<input type="text" id="price" class="price"
												th:value="${getStockOrderItem.mrpRate}"
												style="border: none; color: black; background: transparent; outline: 0;"
												disabled />
										</div>
									</td>
									<td>
										<div class="row pl-3">
											<div class="outer-button" style="width: 30px;">
												<div class="dec button">
													<i class="fa fa-minus bg-danger"
														style="font-size: 0.6em; color: #fff; padding: 5px; "></i>
												</div>
											</div>
											<input type="number" id="qty" th:value="${getStockOrderItem.finalQuantity}"
												class="qty text-center"
												style="border: none; color: black; background: transparent; outline: 0; width: 35%;"
												disabled />
											<div class="outer-button" style="width: 20px;">
												<div class="inc button"><i class="fa fa-plus bg-success"
														style="font-size: 0.6em; color: #fff; padding: 5px;"></i>
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<i class="fa fa-inr pr-1 pl-3" aria-hidden="true"
												style="font-size: 13px; padding-top: 4px;width: 0;"></i>
											<input type="text" class="cost"
												style="border: none; color: black; background: transparent; outline: 0;"
												disabled />
										</div>
									</td>
									<!--<td class="text-center"><i
											class="glyphicon glyphicon-trash remove-item text-danger"></i>
									</td>-->
								</tr>
							</tbody>
						</table>
						<div class="alert alert-dark text-danger text-center my-2 py-1" role="alert"
							th:if="${noReturnItems != null}">No Stock Order Items</div>
						<form th:action="@{/stocks/outward/stockorder/items}" method="post" th:object="${stockorder}"
							th:if="${noReturnItems == null}">
							<div class="row">
								<div class="col-8">
									<div class="row">

										<div class="col-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-5 col-form-label"
													style="width: 95px;">Billed On</label>
												<div class="col-sm-7">
													<input type="date" name="billedOn" class="form-control" required />
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-5 col-form-label">GST
													Type<strong class="text-danger">*</strong></label>
												<div class="col-sm-7">
													<select class="form-select" name="gstType" id="select-gst-outward"
														required>
														<option value="">Select</option>
														<option value="Taxable">Taxable</option>
														<option value="Exempted">Exempted</option>
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-4">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-4 col-form-label">IGST</label>
												<div class="col-sm-8">
													<div class="input-group">
														<input type="hidden" name="igst" id="get-igst-outward" />
														<input type="number" class="form-control igst-outward"
															required />
														<div class="input-group-prepend">
															<span class="input-group-text font-weight-bold"
																style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-5 col-form-label">SGST</label>
												<div class="col-sm-7">
													<div class="input-group">
														<input type="hidden" name="sgst" id="get-sgst-outward" />
														<input type="number" class="form-control sgst-outward" />
														<div class="input-group-prepend">
															<span class="input-group-text font-weight-bold"
																style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-4">
											<div class="form-group row">
												<label for="staticEmail" class="col-sm-5 col-form-label">CGST</label>
												<div class="col-sm-7">
													<div class="input-group">
														<input type="hidden" name="cgst" id="get-cgst-outward" />
														<input type="number" class="form-control cgst-outward" />
														<div class="input-group-prepend">
															<span class="input-group-text  font-weight-bold"
																style="border-radius: 0; padding-top:7px; padding-bottom:7px;">%</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-4 text-center">
									<div class="row text-white">
										<div class="col-6 bg-dark py-2 rounded-top">
											<label class="font-weight-bold mb-0">Subtotal</label>
										</div>
										<div class="col-6 bg-dark row py-2 rounded-top">
											<label class="font-weight-bold mb-0">&#8377;<label
													class=" pl-2 font-weight-bold mb-0 subtotal"></label></label>
											<input type="hidden" name="subTotal" id="sub-total-outward" />
										</div>
									</div>
									<div class="row text-white">
										<div class="col-6 bg-primary py-2 rounded-bottom">
											<label class="font-weight-bold mb-0">Grand Total</label>
										</div>
										<div class="col-6 bg-primary row py-2 rounded-bottom">
											<label class="font-weight-bold mb-0">&#8377;<label
													class=" pl-2 font-weight-bold mb-0 grand-total"></label></label>
											<input type="hidden" name="grandTotal" id="grand-total-outward" />
										</div>
									</div>
								</div>
								<input type="hidden" name="stockOrderNo" id="set-stockorder-no" required />
								<input type="hidden" name="workOrderNo" id="set-workorder-no" required />
								<div class="col-12 text-center mt-3">
									<button type="submit" class="btn btn-success btn-sm mr-3">Submit</button>
									<button type="reset" class="btn btn-secondary btn-sm mr-3">Reset</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-3">
				<table
					class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-4">
					<thead class="table-dark">
						<tr>
							<th>Complaint</th>
							<th>Workorder</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="returnItemsRequest: ${returnItemsRequests}">
							<td th:text="${returnItemsRequest.complNo}"></td>
							<td th:text="${returnItemsRequest.workOrderNo}"></td>
							<td class="text-center">
								<a th:href="@{'/stocks/outward/get/' + ${returnItemsRequest.stockOrderNo}}"
									class="btn btn-info p-1 mx-2">Stockorder</a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="alert alert-dark text-danger text-center my-2 py-1" role="alert"
					th:if="${emptyList != null}">
					No Stock Orders</div>
				<div th:if="${stockQuantities != null}">
					<div class="alert alert-danger text-center my-2 py-1" role="alert">
						The quantity exceeds the available stock.</div>
					<table
						class="table table-stock table-bordered table table-striped table-hover outward-stocks w-100 mt-4">
						<thead class="table-warning">
							<tr>
								<th>Item ID</th>
								<th> Requested</th>
								<th>Available</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="stockQuantity: ${stockQuantities}">
								<td th:text="${stockQuantity.itemId}"></td>
								<td th:text="${stockQuantity.stockRequested}"></td>
								<td th:text="${stockQuantity.stockAvailable}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</section>
</body>

</html>