<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Stocks Available</h3>
		<div class="mt-2">
			<ul class="nav nav-pills nav-justified py-1 " id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link active mx-1 py-2 text-white hvr bg-dark" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
						aria-controls="pills-home" aria-selected="true">Dashboard</button>
				</li>
				<li class="nav-item" role="presentation">
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-profile-tab"
						data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
						aria-controls="pills-profile" aria-selected="false">All Stocks List</button>
				</li>

				<li class="nav-item" role="presentation">
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
					tabindex="0">
					<div class="row">

						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container"></div>
							</figure>
						</div>
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container2"></div>
							</figure>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container1"></div>
							</figure>
						</div>
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container3"></div>
							</figure>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
					tabindex="0">
					<table
						class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
						<thead class="table-dark">
							<tr>
								<th class="all">Item ID</th>
								<th class="all">Category</th>
								<th class="all">Item</th>
								<th class="all">Image</th>
								<th class="all">Supplier</th>
								<th class="all">Stock Type</th>
								<th class="all">Availability</th>
								<th class="all">Qty</th>
								<th class="all">Cost</th>
								<th class="all">MRP</th>
								<th class="all">Sub Total</th>
								<th class="all">GST</th>
								<th class="all">Grand Total</th>
								<th class="all">Approved Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="allItem: ${allItems}">
								<td th:text="${allItem.itemId}"></td>
								<td th:text="${allItem.category}"></td>
								<td th:text="${allItem.itemName}"></td>
								<td class="text-center thumb">
									<img th:src="@{${allItem.imagePath} + ${allItem.itemImage}}" alt="image" />
								</td>
								<td th:text="${allItem.supplier}"></td>
								<td th:text="${allItem.stockType == 'ML' ? 'Material' :
					                 allItem.stockType == 'SP' ? 'Spare' :
					                 allItem.stockType == 'TE' ? 'Tool/Equipment' :
					                 allItem.stockType}"></td>
								<td class="text-center"><span th:if="${allItem.quantity} > 0"
										class="bg-success p-1 rounded font-weight-bold text-white">Available</span>
									<span th:if="${allItem.quantity} <= 0"
										class="bg-danger p-1 rounded font-weight-bold text-white">Not
										Available</span>
								</td>
								<td th:text="${allItem.quantity}"></td>
								<td>&#8377;<label class="px-1" th:text="${allItem.costRate}"></label></td>
								<td>&#8377;<label class="px-1" th:text="${allItem.mrpRate}"></label></td>
								<td>&#8377;<label class="px-1" th:text="${allItem.subTotal}"></label></td>
								<td><label class="px-1" th:text="${allItem.igst}"></label>%</td>
								<td>&#8377;<label class="px-1" th:text="${allItem.grandTotal}"></label></td>
								<td th:text="${#dates.format(allItem.dateCreated, 'dd/MM/yyyy ')}"></td>

							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</section>
</body>

</html>