<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="mt-2 ">
			<h4 class="text-center bg-primary py-1 text-white heading-shadow">STOCKS APPROVALS</h4>
			<div class="d-flex justify-content-center mt-5">
				<div class="row">
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a th:href="@{/approvals/stocks/materials}"><img class="category__02 w-100"
											th:src="@{/images/dashboard/Inward.jpg}" alt="" />
									</a>
								</picture>
								<a th:href="@{/approvals/stocks/materials}">
									<p class="dash-category category__01"> Material Approvals</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a th:href="@{/approvals/stocks/spares}"><img class="category__03 w-100"
											th:src="@{/images/dashboard/Leakage.jpg}" alt="" />
									</a>
								</picture>
								<a th:href="@{/approvals/stocks/spares}">
									<p class="dash-category category__03"> Spares Approvals</p>
								</a>
							</article>
						</div>
					</div>

					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a th:href="@{/approvals/stocks/tools}"><img class="category__03 w-100"
											th:src="@{/images/dashboard/Meter.jpg}" alt="" />
									</a>
								</picture>
								<a th:href="@{/approvals/stocks/tools}">
									<p class="dash-category category__03"> Tools Approvals</p>
								</a>
							</article>
						</div>
					</div>
					<div class="col-3">
						<div class="dash-cards">
							<article class="dash-card">
								<picture class="thumbnail">
									<a th:href="@{/approvals/outward/stocks}"><img class="category__03 w-100"
											th:src="@{/images/dashboard/Outward.jpg}" alt="" />
									</a>
								</picture>
								<a th:href="@{/approvals/outward/stocks}">
									<p class="dash-category category__04">Outward Approvals</p>
								</a>
							</article>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
</body>

</html>