<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<body>
	<section>
		<!-- Main layout-->
		<div class="d-flex justify-content-end ">
			<!--Content layout-->
			<div class="col text-left mt-3">
			 <!-- Card Start-->
				 <div class="card text-center">
					<div class="card-header heading-bg text-white fs-4"><h3>Consumer Master Details</h3></div>
					<div class="card-body font-weight-bold">					  				
					    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							  <li class="nav-item" role="presentation">
							    <button class="nav-link active costdtls-button" id="pills-customerInfo-tab" data-bs-toggle="pill" data-bs-target="#pills-customerInfo" type="button" role="tab" aria-controls="pills-customerInfo" aria-selected="true"><h5>Coustomer Info</h5></button>
							  </li>
							  <li class="nav-item" role="presentation">
							    <button class="nav-link costdtls-button" id="pills-addressInfo-tab" data-bs-toggle="pill" data-bs-target="#pills-addressInfo" type="button" role="tab" aria-controls="pills-addressInfo" aria-selected="false"><h5>Address Info</h5></button>
							  </li>
							  <li class="nav-item" role="presentation">
							    <button class="nav-link costdtls-button" id="pills-tariffId-tab" data-bs-toggle="pill" data-bs-target="#pills-tariffId" type="button" role="tab" aria-controls="pills-tariffId" aria-selected="false"><h5>Tariff & Id</h5></button>
							  </li>
							  <li class="nav-item" role="presentation">
							    <button class="nav-link costdtls-button" id="pills-datesInfo-tab" data-bs-toggle="pill" data-bs-target="#pills-datesInfo" type="button" role="tab" aria-controls="pills-datesInfo" aria-selected="false"><h5>Dates Info</h5></button>
							  </li>
							  <li class="nav-item" role="presentation">
							    <button class="nav-link costdtls-button" id="pills-departInfo-tab" data-bs-toggle="pill" data-bs-target="#pills-departInfo" type="button" role="tab" aria-controls="pills-departInfo" aria-selected="false"><h5>Dept. Info</h5></button>
							  </li>
							  <div class="container-fluid customer-search-container pt-2 mt-2">
							    <form class="d-flex customer-search" role="search">
							      <input class="form-control me-2" type="search" id="getconsumer-data-from-billing" placeholder="Enter Consumer Id" aria-label="Search">
							      <button class="btn btn-outline-success" type="submit">Search</button>
							    </form>
							  </div>
							</ul>
							
							<div class="tab-content" id="pills-tabContent">
							  <div class="tab-pane fade show active" id="pills-customerInfo" role="tabpanel" aria-labelledby="pills-customerInfo-tab" tabindex="0" style="margin-left: 124px;">
							    <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">First Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">House Type</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="lastName" class="col-sm-2 col-form-label text-left">Last Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="lastName">
								    </div>
								    <label for="mobileNo" class="col-sm-2 col-form-label text-left">Mobile No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="mobileNo">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="relationType" class="col-sm-2 col-form-label text-left">Relation Type</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="relationType">
								    </div>
								    <label for="phoneNo" class="col-sm-2 col-form-label text-left">Phone No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="phoneNo">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="relationName" class="col-sm-2 col-form-label text-left">Relation Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="relationName">
								    </div>
								    <label for="emailId" class="col-sm-2 col-form-label text-left">Email Id</label>
								    <div class="col-sm-3">
								      <input type="email" class="form-control" id="emailId">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="noOfFamily" class="col-sm-2 col-form-label text-left">No of family Members</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="noOfFamily">
								    </div>
								    <label for="refContcatNo" class="col-sm-2 col-form-label text-left">Ref. Contact No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="refContcatNo">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="noOfHouseHold" class="col-sm-2 col-form-label text-left">No of House Hold</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="noOfHouseHold">
								    </div>
								    <label for="latitude" class="col-sm-2 col-form-label text-left">Latitude</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="latitude">
								    </div>
								  </div>
								  <div class="mb-3  row">
								    <label for="adhaarNo" class="col-sm-2 col-form-label text-left">Adhaar No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="adhaarNo">
								    </div>
								    <label for="longitude" class="col-sm-2 col-form-label text-left">Longitude</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="longitude">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="gender" class="col-sm-2 col-form-label text-left">Gender</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="gender">
								    </div>								    
								  </div>
							  </div>
							  <div class="tab-pane fade" id="pills-addressInfo" role="tabpanel" aria-labelledby="pills-addressInfo-tab" tabindex="0" style="margin-left: 124px;">
							    <div class="mb-3 row">
								    <label for="firstName" class="col-sm-10 col-form-label text-center text-danger">Present Address</label>								    								    						   								    
								</div>
							    <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">House No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Gis Ward</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Layout</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Election Ward</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Cross</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Revenue Ward</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Street</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Zone</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Main</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">City</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Area Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">State</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Ward Number</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Country</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Ward Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Pincode</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">DMA No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">DMA Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Spot SL No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>								    
								  </div>
							  </div>
							  <div class="tab-pane fade" id="pills-tariffId" role="tabpanel" aria-labelledby="pills-tariffId-tab" tabindex="0" style="margin-left: 124px;">
							  <div class="mb-3 row">
								    <label for="ConsumerIdNumbers" class="col-sm-7 col-form-label text-center text-danger">Consumer Id Numbers</label>	
								    <label for="tariffDescriptions" class="col-sm-5 col-form-label text-left text-danger">Tariff Descriptions</label>							    								    						   								    
								</div>
							    <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Consumer Type</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Tariff</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Consumer Id</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Tariff Code</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">PID No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Tariff Desc</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">IMIS Id</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Pipe Size</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Tap No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Fixed Charges</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">DMA Id</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Pre Fix Avarage Consumption</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">External Id</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Last 6 Month Avarage</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Waste Water</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Consumer Status</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Meter Type</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Remarks</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>								  
							  </div>
							  <div class="tab-pane fade" id="pills-datesInfo" role="tabpanel" aria-labelledby="pills-datesInfo-tab" tabindex="0" style="margin-left: 313px;">
							     <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Application Date</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="firstName">
								    </div>								   
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Senction Date</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="firstName">
								    </div>								   
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Reading Day</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="firstName">
								    </div>								   
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Date Of Entry</label>
								    <div class="col-sm-4">
								      <input type="text" class="form-control" id="firstName">
								    </div>								   
								  </div>	
							  </div>
							  <div class="tab-pane fade" id="pills-departInfo" role="tabpanel" aria-labelledby="pills-departInfo-tab" tabindex="0" style="margin-left: 124px;">
							   <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Ledger No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Book No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Folio No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Device No</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Sub Division</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Uploaded Document Type</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Division</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Uploaded Document</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">EE Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">AEE Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>
								  <div class="mb-3 row">
								    <label for="firstName" class="col-sm-2 col-form-label text-left">Mr Name</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="firstName">
								    </div>
								    <label for="houseType" class="col-sm-2 col-form-label text-left">Mr Id</label>
								    <div class="col-sm-3">
								      <input type="text" class="form-control" id="houseType">
								    </div>
								  </div>	
							  </div>
							</div>					 
					  </div>
				  </div>
			<!-- Card End-->	
			</div>
		</div>
	</section>
</body>
</html>			