<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<!-- Main layout-->
		<div class="d-flex justify-content-end ">
			<!--Content layout-->
			<div class="col text-left mt-3">
				<!-- Card Start-->
				<div class="card text-center bl-cr">
					<div class="card-header heading-bg text-white fs-4">
						<h3>Meter Details</h3>
					</div>
					<!-- Message Alert Field -->
					<div th:if="${session.message}" class="alert_field mt-2"
						style="margin-left: 136px;margin-right: 136px;">
						<div class="alert text-center py-1" th:classappend="${'alert-'+session.message.type}"
							role="alert">
							<span th:text="${session.message.content}"></span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}"></th:block>
					</div>
					<!-- End of Message Alert Field -->
					<div class="card-body font-weight-bold">
						<form th:action="@{/billing/get/meter}" method="get">
							<div class="mb-3 row" style="margin-left: 421px;">
								<label for="consumerId" class="col-sm-2 col-form-label">Consumer Id</label>
								<div class="col-sm-2">
									<input type="text" class="form-control form-control-sm" name="consumerId"
										id="consumerId">
								</div>
							</div>
						</form>
						<div class="mb-3 row">
							<label for="consumerName" class="col-sm-2 col-form-label text-left">Consumer Name</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.consumerName}" readonly id="consumerName">
							</div>
							<label for="imisId" class="col-sm-2 col-form-label text-left">IMIS Id</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.imisId}" readonly id="imisId">
							</div>
							<label for="dmaId" class="col-sm-2 col-form-label text-left">DMA Id</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.dmaId}" readonly id="dmaId">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="deviceNo" class="col-sm-2 col-form-label text-left">Device No</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceNo}" readonly id="deviceNo">
							</div>
							<label for="deviceMake" class="col-sm-2 col-form-label text-left">Device Make</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceMake}" readonly id="deviceMake">
							</div>
							<label for="senctionDate" class="col-sm-2 col-form-label text-left">Senction Date</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.senctionDate}" readonly id="senctionDate">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="purchageDate" class="col-sm-2 col-form-label text-left">Purchase Date</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.purchageDate}" readonly id="purchageDate">
							</div>
							<label for="connectionDate" class="col-sm-2 col-form-label text-left">Connection Date</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.connectionDate}" readonly id="connectionDate">
							</div>
							<label for="deviceRefNo" class="col-sm-2 col-form-label text-left">Device Ref No</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceRefNo}" readonly id="deviceRefNo">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="deviceType" class="col-sm-2 col-form-label text-left">Device Type</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceType}" readonly id="deviceType">
							</div>
							<label for="deviceIr" class="col-sm-2 col-form-label text-left">Device IR</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceIr}" readonly id="deviceIr">
							</div>
							<label for="deviceDigit" class="col-sm-2 col-form-label text-left">Device Digit</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceDigit}" readonly id="deviceDigit">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="deviceLocation" class="col-sm-2 col-form-label text-left">Device Location</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceLocation}" readonly id="deviceLocation">
							</div>
							<label for="deviceOwnerShip" class="col-sm-2 col-form-label text-left">Device Ownership</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceOwnerShip}" readonly id="deviceOwnerShip">
							</div>
							<label for="pipeSize" class="col-sm-2 col-form-label text-left">Pipe Size</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.pipeSize}" readonly id="pipeSize">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="deviceWarranty" class="col-sm-2 col-form-label text-left">Device Warranty</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.deviceWarranty}" readonly id="deviceWarranty">
							</div>
							<label for="plumberName" class="col-sm-2 col-form-label text-left">Plumber Name</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.plumberName}" readonly id="plumberName">
							</div>
							<label for="plumberId" class="col-sm-2 col-form-label text-left">Plumber Id</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.plumberId}" readonly id="plumberId">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="remarks" class="col-sm-2 col-form-label text-left">Remarks</label>
							<div class="col-sm-6">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.remarks}" readonly id="remarks">
							</div>
							<label for="approveDate" class="col-sm-2 col-form-label text-left">Approve Date</label>
							<div class="col-sm-2">
								<input type="text" class="form-control form-control-sm bg-white"
									th:value="${meterDtls.approveDate}" readonly id="approveDate">
							</div>
						</div>
					</div>
				</div>
				<!-- Card End-->
			</div>
		</div>
	</section>
</body>

</html>