<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<h3 class="text-center text-white mt-2 p-1 bg-primary">Leakage Dashboard</h3>
		<div class="mt-2">
			<ul class="nav nav-pills nav-justified py-1 " id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link active mx-1 py-2 text-white hvr bg-dark" id="pills-home-tab"
						data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab"
						aria-controls="pills-home" aria-selected="true">Dashboard</button>
				</li>
				<li class="nav-item" role="presentation">
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link py-2 mx-1 text-white hvr bg-dark" id="pills-profile-tab"
						data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
						aria-controls="pills-profile" aria-selected="false">Leakage List</button>
				</li>

				<li class="nav-item" role="presentation">
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
					tabindex="0">
					<div class="row">

						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container"></div>
							</figure>
						</div>
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container2"></div>
							</figure>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container1"></div>
							</figure>
						</div>
						<div class="col">
							<figure class="highcharts-figure border">
								<div id="container3"></div>
							</figure>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
					tabindex="0">
					<table
						class="table table-stock table-bordered table table-success table-striped table-hover mytable w-100 mt-4">
						<thead class="table-dark">
							<tr>
								<th class="all">Id</th>
								<th class="all">Category</th>
								<th class="all">Item</th>
								<th class="all">Supplier</th>
								<th class="all">Brand</th>
								<th class="all">HSN</th>
								<th class="all">Qty</th>
								<th class="all">Unit</th>
								<th class="all">MRP</th>
								<th class="all">Entry Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>

							</tr>
							<tr>
								<td>100</td>
								<td>English, Italian</td>
								<td>Spanish (official)</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>41,803,125</td>
								<td>600</td>
								<td>2,780,387</td>
								<td>31.3</td>
								<td>31/12/2022</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</section>
</body>

</html>