<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="row mt-2">
			<div class="col-0.5"><a th:href="@{/dashboard}" class="btn btn-dark btn-sm" data-bs-toggle="tooltip"
					data-bs-placement="bottom" title="Back">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</a></div>
			<div class="col-11.5">
				<h3 class="text-center text-white p-1 bg-primary">Stock Management Dashboard</h3>
			</div>
		</div>
		<div class="mt-2">
			<div class="row">
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="monthwise-total-stocks"></div>
					</figure>
				</div>
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="monthwise-stocks"></div>
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="outward-workorder-stocks"></div>
					</figure>
				</div>
				<div class="col">
					<figure class="highcharts-figure border">
						<div id="stocks-return-graph"></div>
					</figure>
				</div>
			</div>
		</div>
	</section>
</body>

</html>